svg#hover(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 186 149')
  defs
    style.
      .cls-1-truck{fill:#9fb1c8;}.cls-2-truck{fill:#226c93;}
  title Artboard 1
  path.cls-1-truck(d='M74.74,74.13l-.5,0c.74-10.84,2.36-16.88,3.6-20a2.71,2.71,0,0,1,2.28-1.72c2.42-.23,6.16-.5,10.22-.51,5.17,0,6.53,2.88,6.59,3,1.49,2.75,4,7.56,6.28,12l-.45.23c-2.24-4.45-4.78-9.26-6.28-12-.06-.12-1.31-2.72-6.1-2.72-4.08,0-7.8.28-10.21.51a2.22,2.22,0,0,0-1.87,1.4C77.08,57.37,75.47,63.36,74.74,74.13Z')
  path.cls-1-truck(d='M131.11,75.62c0-7.18-3.63-18-3.66-18.1l-.17-.49h13.89a10.25,10.25,0,0,1,5.59,1.57c.47.36,1.51,1.24,3.17,2.68l-.49.56c-1.63-1.41-2.68-2.3-3.14-2.64-1.88-1.44-5.09-1.43-5.12-1.42H128.32c.71,2.22,3.53,11.43,3.54,17.84Z')
  path.cls-1-truck(d='M155,66.67l-4.26-3.74.49-.57,4.26,3.75Z')
  path.cls-1-truck(d='M159.56,77.26c-.31,0-.17-.32-.46-.33l-.43-.44c.67,0,1.47,0,2.11,0h.51l-.3-2.86a4.4,4.4,0,0,0-1.46-2.89l-3.35-3,.5-.56,3.35,3a5.12,5.12,0,0,1,1.7,3.38l.28,2.88a.73.73,0,0,1-.18.56.77.77,0,0,1-.53.24h-.51Z')
  path.cls-1-truck(d='M142.2,75.88l-.28-.42a7,7,0,0,1,3.5-1.08,5.32,5.32,0,0,1,3.33,1.07s-.42.31-.49.27a4.75,4.75,0,0,0-2.82-.84A6.42,6.42,0,0,0,142.2,75.88Z')
  path.cls-1-truck(d='M139.52,75.91l-.42-.27a7.77,7.77,0,0,1,12.26-.34l-.4.3a7,7,0,0,0-5.6-2.63A7.16,7.16,0,0,0,139.52,75.91Z')
  path.cls-1-truck(d='M154.58,68.6a2.09,2.09,0,0,1-1.43-.56l-3.7-3.48a2,2,0,0,1-.65-1.47,2.07,2.07,0,0,1,.59-1.49L150,61a1,1,0,0,1,1.34,1.41l-.63.6a.08.08,0,0,0,0,.07.12.12,0,0,0,0,.1l3.7,3.48a.14.14,0,0,0,.19,0l.74-.67a1,1,0,0,1,1.3,1.44l-.74.67A2.08,2.08,0,0,1,154.58,68.6Zm-3.87-7.39a.45.45,0,0,0-.32.13l-.65.61a1.58,1.58,0,0,0-.44,1.13,1.54,1.54,0,0,0,.5,1.12l3.69,3.48a1.64,1.64,0,0,0,2.15,0l.74-.67a.48.48,0,0,0,0-.67.47.47,0,0,0-.66,0L155,67a.65.65,0,0,1-.87,0l-3.7-3.48a.61.61,0,0,1-.2-.46.62.62,0,0,1,.15-.44L151,62a.47.47,0,0,0-.32-.81Z')
  path.cls-1-truck(d='M85.28,142.07c-3.85,0-7-4.85-7-10.82s3.12-10.82,7-10.82a4.7,4.7,0,0,1,1.43.23l-.16.47a4.21,4.21,0,0,0-1.27-.2c-3.57,0-6.47,4.63-6.47,10.32s2.9,10.32,6.47,10.32h.49Z')
  path.cls-1-truck(d='M83.76,124.19c2.21,0,4,3.06,4,6.84s-1.8,6.83-4,6.83-4-3.06-4-6.83,1.8-6.84,4-6.84m0-.5c-2.53,0-4.51,3.22-4.51,7.34s2,7.33,4.51,7.33,4.51-3.22,4.51-7.33-2-7.34-4.51-7.34Z')
  path.cls-1-truck(d='M86.49,136.44c-2.35,0-4.26-2.58-4.26-5.76,0-2.79,1.65-5.32,3.76-5.76l.1.49c-1.88.39-3.36,2.71-3.36,5.27,0,2.9,1.68,5.26,3.76,5.26l.3-.07Z')
  path.cls-1-truck(d='M27.91,115.25c1.19,0,2.15,2.44,2.15,5.46s-1,5.47-2.15,5.47-2.15-2.45-2.15-5.47,1-5.46,2.15-5.46m0-.5c-1.72,0-2.65,3.07-2.65,6s.93,6,2.65,6,2.65-3.07,2.65-6-.93-6-2.65-6Z')
  path.cls-1-truck(d='M28.63,125.92c-.84-.9-1.38-2.94-1.38-5.21s.52-4.24,1.34-5.16l.13-.15.24.48c-.74.83-1.21,2.73-1.21,4.83s.5,4.07,1.24,4.87Z')
  path.cls-1-truck(d='M78.25,74.11h-.5V71.36a4.63,4.63,0,0,1,.79-2.61,11.84,11.84,0,0,0,2-6.62,2,2,0,0,1,2-2h6.09a2,2,0,0,1,2,2v.5a11.89,11.89,0,0,0,1.15,5.07l-.45.21a12.36,12.36,0,0,1-1.2-5.28v-.5a1.54,1.54,0,0,0-1.53-1.54H82.6a1.54,1.54,0,0,0-1.54,1.54A12.37,12.37,0,0,1,79,69a4.1,4.1,0,0,0-.71,2.33Z')
  path.cls-1-truck(d='M125.22,76h-.5V72.78a4.18,4.18,0,0,0-.71-2.33,12.29,12.29,0,0,1-2.1-6.9A1.54,1.54,0,0,0,120.37,62h-6.09a1.54,1.54,0,0,0-1.54,1.54v.5a12.41,12.41,0,0,1-.5,3.48l-.48-.14a11.83,11.83,0,0,0,.48-3.34v-.5a2,2,0,0,1,2-2h6.09a2,2,0,0,1,2,2,11.88,11.88,0,0,0,2,6.62,4.64,4.64,0,0,1,.8,2.61Z')
  path.cls-1-truck(d='M111.7,66.37l-.49-.1a11.84,11.84,0,0,0,.21-2.22v-.5a2,2,0,0,1,2-2h6.08V62h-6.08a1.54,1.54,0,0,0-1.54,1.54v.5A12.84,12.84,0,0,1,111.7,66.37Z')
  path.cls-1-truck(d='M77.21,74.11h-.5V71.36a4.64,4.64,0,0,1,.8-2.61,11.83,11.83,0,0,0,2-6.62,2,2,0,0,1,2-2h6.09v.5H81.56A1.54,1.54,0,0,0,80,62.13a12.29,12.29,0,0,1-2.1,6.9,4.18,4.18,0,0,0-.71,2.33Z')
  path.cls-1-truck(d='M66.14,106.82l-.49-.06c.16-1.34-.28-59.15-.29-59.73h.5C65.88,49.41,66.31,105.44,66.14,106.82Z')
  rect.cls-1-truck(x='70.43' y='33' width='0.5' height='28.39' transform='translate(20.18 115.55) rotate(-87.28)')
  path.cls-1-truck(d='M165.06,79.84c-.07,0-7.19-4.08-12.11-4.08-3.2,0-35.72.61-36,.62v-.5c.32,0,32.84-.62,36-.62,5.05,0,12.06,4,12.36,4.14Z')
  path.cls-1-truck(d='M170.57,80l-48-1a8.13,8.13,0,0,1-7-4.33L103.88,52.52a.63.63,0,0,1,.56-.93c6.92.08,30,.47,36.79,2.24a28.12,28.12,0,0,1,5.27,1.92l-.22.45a27.17,27.17,0,0,0-5.18-1.89c-6.72-1.75-29.76-2.14-36.66-2.22a.12.12,0,0,0-.11.06.12.12,0,0,0,0,.14L116,74.43a7.61,7.61,0,0,0,6.57,4.06l48,1Z')
  path.cls-2-truck(d='M138.72,128.42v-.5c.3,0,30.06-.62,39.76-3.75,0,0-.28.61-.51.68C167.58,127.82,139,128.41,138.72,128.42Z')
  path.cls-2-truck(d='M139.89,126.64v-.5c.29,0,28.39-.19,38.59-3,.17,0,.06.5-.26.58C167.62,126.45,140.17,126.64,139.89,126.64Z')
  polygon.cls-2-truck(points='21.79 119.51 18.79 119.51 18.79 102.79 19.54 102.79 19.54 118.76 21.79 118.76 21.79 119.51')
  polygon.cls-2-truck(points='74.78 136.98 71.29 136.98 71.29 122.8 72.04 122.8 72.04 136.23 74.78 136.23 74.78 136.98')
  rect.cls-2-truck(x='33.09' y='104.56' width='0.75' height='3.88')
  path.cls-2-truck(d='M157.57,124.6l-.2-9.41,12.24-.41v8.88l-.19,0c-2.42.67-11.23.88-11.6.88Zm.31-8.9.18,8.39c1.44,0,8.68-.25,11.05-.82v-8C167.58,115.38,160.13,115.74,157.88,115.7Z')
  path.cls-2-truck(d='M130.72,130.91a3.94,3.94,0,0,1-2.34-.74c-2-1.47-2.19-4.63-.42-7s4.84-3.2,6.85-1.73a4.14,4.14,0,0,1,1.63,3.2,6.11,6.11,0,0,1-1.21,3.85A5.76,5.76,0,0,1,130.72,130.91Zm1.74-9.52a5,5,0,0,0-3.89,2.17c-1.53,2.09-1.41,4.78.26,6s4.26.52,5.79-1.57a5.26,5.26,0,0,0,1.07-3.36,3.37,3.37,0,0,0-1.33-2.63A3.15,3.15,0,0,0,132.46,121.39Z')
  path.cls-2-truck(d='M130.28,129.06a2.51,2.51,0,0,1-1.48-.47,3.18,3.18,0,0,1-.26-4.44,3.79,3.79,0,0,1,2.07-1.46,2.61,2.61,0,0,1,2.24.37,3.19,3.19,0,0,1,.27,4.44h0A3.85,3.85,0,0,1,131,129,2.89,2.89,0,0,1,130.28,129.06Zm1.09-6a2.79,2.79,0,0,0-.63.08,3.31,3.31,0,0,0-1.8,1.27,2.7,2.7,0,0,0,.16,3.75,2.14,2.14,0,0,0,1.81.29,3.24,3.24,0,0,0,1.8-1.27,2.69,2.69,0,0,0-.15-3.75A2,2,0,0,0,131.37,123.09Z')
  path.cls-2-truck(d='M130.49,127.93a1.61,1.61,0,0,1-1-.31,2.26,2.26,0,0,1,2.63-3.59,1.71,1.71,0,0,1,.68,1.33,2.45,2.45,0,0,1-.49,1.56,2.49,2.49,0,0,1-1.35,1A2.12,2.12,0,0,1,130.49,127.93Zm.67-3.71a1.86,1.86,0,0,0-1.43.8,1.58,1.58,0,0,0,.08,2.2,1.22,1.22,0,0,0,1.05.16,1.87,1.87,0,0,0,1.06-.75h0a2,2,0,0,0,.4-1.25,1.24,1.24,0,0,0-.47-.95A1.2,1.2,0,0,0,131.16,124.22Z')
  path.cls-2-truck(d='M181.3,125.22a10,10,0,0,1,2.63-10.08l.48.57A9.08,9.08,0,0,0,182,125Z')
  path.cls-2-truck(d='M171.37,77.64h-.75V72a2.87,2.87,0,0,0-1.31-2.41,3.13,3.13,0,0,0-1.75-.53h-1.34l0,2.06h-.75v-2a.78.78,0,0,1,.78-.78h1.34a3.94,3.94,0,0,1,2.16.65,3.62,3.62,0,0,1,1.65,3Z')
  rect.cls-2-truck(x='70.3' y='108.71' width='0.5' height='9.36' transform='translate(-49.29 172.31) rotate(-84.29)')
  rect.cls-2-truck(x='103.33' y='121.49' width='0.75' height='15.29' transform='translate(-26.98 230.88) rotate(-89.14)')
  path.cls-2-truck(d='M113.06,134.18c-.06-.07-1.6-1.65-2.08-5.87s-.83-37.77-.85-39.2a69,69,0,0,0-.93-11.38C108.28,73.57,98,54.5,97.84,54.31s-1.53-3.53-7.5-3.53a112.36,112.36,0,0,0-12.14.7.7.7,0,0,0-.53.36C76.6,53.91,73,61.63,71.05,74a182.54,182.54,0,0,0-2,26.16,4.65,4.65,0,0,0,.78,2.57c1.8,2.72,4.94,7.75,5.72,10.91l-.73.18c-.78-3.16-4.19-8.52-5.62-10.68a5.38,5.38,0,0,1-.9-3,183,183,0,0,1,2-26.27c1.92-12.49,5.61-20.31,6.7-22.4a1.42,1.42,0,0,1,1.11-.76A110.46,110.46,0,0,1,90.34,50c6.51,0,8.12,3.8,8.18,4,.41.75,10.47,19.31,11.41,23.57a68.23,68.23,0,0,1,.95,11.55c0,.35.38,35,.84,39.12s1.86,5.4,1.88,5.42Z')
  path.cls-2-truck(d='M69,93.93h-.09l0-.5c.41,0,.9-.36,1.29-1.09a7.62,7.62,0,0,0,.8-3,7.72,7.72,0,0,0-.34-3.14c-.28-.77-.69-1.23-1.12-1.26l0-.5c.65,0,1.2.61,1.56,1.59a9.16,9.16,0,0,1-.49,6.59C70.17,93.46,69.57,93.93,69,93.93Z')
  path.cls-2-truck(d='M110.27,88.6c-12.56-.14-36.49-.39-37.21-.33l-.12-.74c.41-.08,28.68.22,37.34.32Z')
  path.cls-2-truck(d='M102.15,71l-.73-.17c.8-3.32,1.87-6.36,1.88-6.39l.7.25S102.94,67.71,102.15,71Z')
  path.cls-2-truck(d='M101,83a3.72,3.72,0,0,1-3.07-1.32,4.07,4.07,0,0,1-.83-2.19l.5,0a3.51,3.51,0,0,0,.72,1.92A3.22,3.22,0,0,0,101,82.5a11.73,11.73,0,0,0,4.72-1.38.71.71,0,1,0-.68-1.24,10.38,10.38,0,0,1-4,1.2,1.9,1.9,0,0,1-1.57-.59,2.07,2.07,0,0,1-.4-1l.5-.08a1.52,1.52,0,0,0,.29.76,1.4,1.4,0,0,0,1.18.41,9.92,9.92,0,0,0,3.8-1.14,1.2,1.2,0,0,1,1.64.48,1.2,1.2,0,0,1-.48,1.63A11.94,11.94,0,0,1,101,83Z')
  path.cls-2-truck(d='M103.73,83.84a2.6,2.6,0,0,1-1.54-.52l-.56-.43.31-.4.56.43a2,2,0,0,0,2.37.07l4.93-3.35a19.23,19.23,0,0,1,6.45-2.32l.08.49a19.31,19.31,0,0,0-6.26,2.25l-4.92,3.34A2.53,2.53,0,0,1,103.73,83.84Z')
  path.cls-2-truck(d='M123.41,91.89a2.63,2.63,0,0,1-1-2.76c.58-4.38-2.15-9.08-2.18-9.12l.43-.26c.12.2,2.85,4.9,2.24,9.45a2.16,2.16,0,0,0,.88,2.32Z')
  rect.cls-2-truck(x='110.5' y='87.88' width='65.17' height='0.75')
  path.cls-2-truck(d='M142,99.1c-4.62,0-7.6-.06-7.69-.06v-.5c.24,0,24.12.48,42.53-1.3l0,.5C164.93,98.9,150.63,99.1,142,99.1Z')
  path.cls-2-truck(d='M137.32,113.28l0-.75c.33,0,32.37-.93,39.57-2.26l.14.74C169.75,112.35,138.64,113.25,137.32,113.28Z')
  rect.cls-2-truck(x='115.09' y='108.06' width='0.75' height='9.65' transform='translate(2 227.78) rotate(-89.71)')
  path.cls-2-truck(d='M8.33,117.33c-.49,0-.88-.57-.88-1.29s.39-1.3.88-1.3.89.57.89,1.3S8.83,117.33,8.33,117.33Zm0-2.09c-.18,0-.38.35-.38.8s.2.79.38.79.39-.35.39-.79S8.51,115.24,8.33,115.24Z')
  rect.cls-2-truck(x='8.33' y='114.74' width='10.83' height='0.5')
  rect.cls-2-truck(x='8.33' y='116.83' width='10.83' height='0.5')
  path.cls-2-truck(d='M91.26,12.3l-.28,0a57.16,57.16,0,0,0-7.78,0l-.27,0V8.49h.23a57.33,57.33,0,0,1,7.88,0l.22,0ZM83.43,9v2.79a57.78,57.78,0,0,1,7.33,0V9A58.12,58.12,0,0,0,83.43,9Z')
  polygon.cls-2-truck(points='48.13 97.73 47.63 97.73 47.63 94.65 51.43 94.75 51.42 95.25 48.13 95.16 48.13 97.73')
  polygon.cls-2-truck(points='5.41 95.94 4.91 95.94 4.91 93.57 2.07 93.49 2.08 92.99 5.41 93.08 5.41 95.94')
  rect.cls-2-truck(x='26.5' y='75.53' width='0.5' height='49.43' transform='translate(-74.93 120.88) rotate(-86.54)')
  polygon.cls-2-truck(points='2.16 34.38 2 33.91 78.62 7.21 78.79 7.68 2.16 34.38')
  rect.cls-2-truck(x='26.5' y='72.22' width='0.5' height='49.41' transform='translate(-71.4 118.78) rotate(-87.12)')
  polygon.cls-2-truck(points='128.42 49.85 128.39 49.35 151.99 47.93 152.37 48.4 128.42 49.85')
  path.cls-2-truck(d='M83.45,147.85v-.5c5.26,0,9.53-7.46,9.53-16.62s-4.27-16.62-9.53-16.62v-.5c5.53,0,10,7.68,10,17.12S89,147.85,83.45,147.85Z')
  path.cls-2-truck(d='M144.44,140.88c-4.54,0-8.71-2.52-11.46-6.91l1.06-.66c2.51,4,6.3,6.32,10.4,6.32,4.76,0,9.15-3.19,11.48-8.33l1.14.51C154.53,137.4,149.69,140.88,144.44,140.88Z')
  path.cls-2-truck(d='M32.59,133.75h-5c-3.63,0-6.47-5.73-6.47-13s2.84-13,6.47-13h5c3.62,0,6.46,5.72,6.46,13S36.21,133.75,32.59,133.75Zm-5-24.82c-2.83,0-5.22,5.39-5.22,11.78s2.39,11.79,5.22,11.79h5c2.83,0,5.21-5.4,5.21-11.79s-2.38-11.78-5.21-11.78Z')
  path.cls-2-truck(d='M135.84,133h-.24v-.75a216.08,216.08,0,0,0,38-3.55l.15.74A217.85,217.85,0,0,1,135.84,133Z')
  path.cls-2-truck(d='M27.49,129.44c-2.42,0-4.31-3.83-4.31-8.73S25.07,112,27.49,112s4.3,3.83,4.3,8.72S29.9,129.44,27.49,129.44Zm0-16.7c-1.93,0-3.56,3.65-3.56,8s1.63,8,3.56,8S31,125,31,120.71,29.41,112.74,27.49,112.74Z')
  polygon.cls-2-truck(points='3.49 105.18 1.45 105.18 1.45 98.91 2.7 98.91 2.7 103.93 3.49 103.93 3.49 105.18')
  polygon.cls-2-truck(points='19.16 111.74 16.35 111.74 16.35 104.98 3.5 105.18 3.48 103.93 17.6 103.71 17.6 110.49 19.16 110.49 19.16 111.74')
  path.cls-2-truck(d='M71.54,130.31l-8.85-1.78a2.15,2.15,0,0,1-1.72-2.1,1.32,1.32,0,0,0-1.32-1.32H53.89a2.24,2.24,0,0,1-1.86-1,5.42,5.42,0,0,0-4.49-2.38H41.42a1.24,1.24,0,0,1-1.18,1.18H38.43v-1.25h1.68a1.32,1.32,0,0,1,1.31-1.18h6.12a6.68,6.68,0,0,1,5.53,2.93,1,1,0,0,0,.82.44h5.76a2.57,2.57,0,0,1,2.57,2.57.91.91,0,0,0,.72.88l8.85,1.78Z')
  path.cls-2-truck(d='M79,42h-.5c0-.31,0-31.39,0-36.15a5,5,0,0,1,1.29-3.67,3.46,3.46,0,0,1,2.32-1v.5h0c-.18,0-3.06.07-3.1,4.17C79,10.58,79,41.66,79,42Z')
  path.cls-2-truck(d='M95,41.11h-.5c0-.24.22-24.11.23-30.1,0-7.62-5.62-8.21-5.86-8.23l0-.5a6.82,6.82,0,0,1,3.17,1.31C93.5,4.64,95.21,6.79,95.21,11,95.2,17,95,40.87,95,41.11Z')
  path.cls-2-truck(d='M78.85,16.9l-.29-.41c.19-.13,4.82-3.25,16.41-1.5l-.07.49C83.51,13.76,78.89,16.87,78.85,16.9Z')
  path.cls-2-truck(d='M150.25,47.78h-.5V21.29A7.86,7.86,0,0,0,143,12.82l.09-.5c7.72,1.44,7.15,8.92,7.15,9Z')
  rect.cls-2-truck(x='122.22' y='-8.45' width='0.5' height='55.7' transform='translate(84.79 137.54) rotate(-81.32)')
  rect.cls-2-truck(x='151.31' y='22.34' width='0.5' height='3.18' transform='translate(103.02 169.49) rotate(-80.53)')
  rect.cls-2-truck(x='-0.12' y='22.64' width='81.01' height='0.5' transform='translate(-5.24 14.34) rotate(-18.93)')
  path.cls-2-truck(d='M176.58,111.09l0-.44c-.23-7.93.48-19.51.48-19.63l.75,0c0,.11-.69,11.24-.49,19.12l3.65-.69.14.74Z')
  path.cls-2-truck(d='M137.62,113.28h-17.9a1.07,1.07,0,0,1-1.08-1.07V92.93a2,2,0,0,1,.64-1.45,1.93,1.93,0,0,1,1.48-.53c2.95.21,10.21,1.35,13.9,7.34a22.2,22.2,0,0,1,3,14.69Zm-17-21.58a1.17,1.17,0,0,0-.82.33,1.2,1.2,0,0,0-.4.9v19.28a.32.32,0,0,0,.33.32H137a22,22,0,0,0-3-13.84c-3.51-5.7-10.48-6.79-13.32-7Z')
  path.cls-2-truck(d='M83.62,142.8c-3.91,0-7.1-5.3-7.1-11.82s3.19-11.83,7.1-11.83,7.09,5.31,7.09,11.83S87.53,142.8,83.62,142.8Zm0-22.9c-3.5,0-6.35,5-6.35,11.08s2.85,11.07,6.35,11.07S90,137.09,90,131,87.12,119.9,83.62,119.9Z')
  path.cls-2-truck(d='M62,107.49a98.09,98.09,0,0,1-10.7-.58L2.67,101.63a1.37,1.37,0,0,1-1.22-1.36V32.62A3.89,3.89,0,0,1,4,29L78.16,1.45A10.65,10.65,0,0,1,83.86,1l64.42,12a6.71,6.71,0,0,1,5.48,6.5V46.78a1.62,1.62,0,0,1-.55,1.22,1.6,1.6,0,0,1-1.27.4L95.47,41.81a53.18,53.18,0,0,0-17.07.77L52.16,48.07,52,105.73a100,100,0,0,0,13.84.44l0,1.24C64.63,107.47,63.33,107.49,62,107.49ZM81.9,2a9.67,9.67,0,0,0-3.31.59L4.42,30.16A2.64,2.64,0,0,0,2.7,32.62v67.65a.11.11,0,0,0,.11.11l48,5.22.13-58.55,27.23-5.69a54.24,54.24,0,0,1,17.47-.79l56.47,6.59a.38.38,0,0,0,.3-.09.38.38,0,0,0,.13-.29V19.42a5.46,5.46,0,0,0-4.45-5.29l-64.42-12A10.22,10.22,0,0,0,81.9,2Z')
  path.cls-2-truck(d='M131.67,134.29H101.6c-3.66,0-4.94-1.41-6.49-7.18s-7.32-18.16-14.25-17c-6,1-7.76,9.62-8.15,12.24a1,1,0,0,1-1.07.85l-5.06-.44a1.15,1.15,0,0,1-1.06-1.15V93.52c.33-16.63,6.79-36.93,9.36-41.57,2.47-4.45,9.65-4.46,10-4.45s29.26-.25,44.87,1.89l-.1.74C114.07,48,85.15,48.24,84.86,48.25c-.13,0-7.07,0-9.31,4.06C73,56.9,66.61,77,66.28,93.52v28.07a.4.4,0,0,0,.38.4l5,.44a.24.24,0,0,0,.27-.21c.4-2.75,2.23-11.8,8.77-12.87,7.49-1.23,13.41,11.3,15.09,17.57,1.55,5.75,2.68,6.62,5.77,6.62h30.07a6.12,6.12,0,0,0,5.38-3.22l3.58-6.66a.64.64,0,0,1,.57-.34c1.34,0,8.41-.1,16.41-.49l0,.75c-7.9.39-14.91.47-16.39.49l-3.55,6.61A6.87,6.87,0,0,1,131.67,134.29Z')
  path.cls-2-truck(d='M173.73,129.39l-.13-.74a6,6,0,0,0,3.17-2.42,11.66,11.66,0,0,0,1.69-4.76,87.08,87.08,0,0,1-9.07,1.28l-.07-.75a86,86,0,0,0,9.12-1.29.65.65,0,0,1,.78.73,12.47,12.47,0,0,1-1.84,5.23,7.77,7.77,0,0,1-1.21,1.35c2.25-.73,5.33-2.23,6.35-5.09a24,24,0,0,0,1.26-8.68,1.9,1.9,0,0,0-.4-1.07l-2.76-3.5,0-.17c0-.12,2.26-11.67-3.51-18.22l-.87-.8a3.05,3.05,0,0,1-1-2.23V86.92a6.37,6.37,0,0,0-.82-3.14,74.77,74.77,0,0,0-15.19-18.66C158,64,156.85,63,155.79,62.07c-7.55-6.65-10.37-9.14-23.18-11.47-.91-.16-1.91-.32-3-.47l.1-.74c1.08.15,2.1.31,3,.47,13,2.37,15.89,4.9,23.55,11.65,1.05.93,2.2,1.94,3.48,3a75.29,75.29,0,0,1,15.35,18.86,7.16,7.16,0,0,1,.92,3.51v1.34a2.3,2.3,0,0,0,.74,1.68l.89.83c5.72,6.48,4,17.17,3.75,18.71l2.55,3.23a2.69,2.69,0,0,1,.56,1.51,24.74,24.74,0,0,1-1.31,9C181.42,128.27,174.05,129.35,173.73,129.39Z')
  path.cls-2-truck(d='M91.25,75.48a14.33,14.33,0,0,0-4.83-1l-15.75-.16v-.75l15.73.16a15,15,0,0,1,5.1,1Z')
  path.cls-2-truck(d='M98,79.85c-1.67,0-3.76-.11-6.26-.31h0a.78.78,0,0,1-.71-.77V70.84c0-.21-.16-5.67,2.71-5.81,2.35-.12,5,0,5.37,0a1.87,1.87,0,0,1,.94.19c.77.42,1.33,1.49,1.71,3.12a102.43,102.43,0,0,1,1.21,10.18.66.66,0,0,1-.13.47C102.36,79.56,100.74,79.85,98,79.85ZM96.25,65.72c-.8,0-1.67,0-2.5.06-2.11.1-2,5-2,5l0,8c8.84.74,10.23-.07,10.42-.24,0-.62-.57-7.31-1.19-10-.68-3-1.69-2.71-1.79-2.74S97.82,65.72,96.25,65.72Zm6,12.81Z')
  path.cls-2-truck(d='M171.17,81.62h0l-48.61-1.06a9.71,9.71,0,0,1-8.36-5.17L102.5,53.25a2.2,2.2,0,0,1,2-3.22c8,.09,27.48.49,34.34,2.28h0c7,1.83,10.37,4.8,16.54,10.21L158.24,65a73.84,73.84,0,0,1,13.43,15.69.59.59,0,0,1-.5.9ZM104.44,50.78a1.45,1.45,0,0,0-1.28,2.12L114.85,75a9,9,0,0,0,7.72,4.77l48.3,1A72.91,72.91,0,0,0,157.75,65.6c-1-.89-2-1.73-2.89-2.52-6.09-5.33-9.44-8.26-16.24-10h0c-6.78-1.77-26.15-2.17-34.16-2.26Z')
  path.cls-2-truck(d='M27.63,133.38c-3.36,0-6.09-5.68-6.09-12.67s2.73-12.66,6.09-12.66,6.09,5.68,6.09,12.66S31,133.38,27.63,133.38Zm0-24.83c-3.08,0-5.59,5.46-5.59,12.16s2.51,12.17,5.59,12.17,5.59-5.46,5.59-12.17S30.71,108.55,27.63,108.55Z')
  path.cls-2-truck(d='M91.85,148.22H84c-5.74,0-10.41-7.84-10.41-17.49s4.67-17.5,10.41-17.5h4.52l.5,1.25H84c-5,0-9.16,7.29-9.16,16.25S78.9,147,84,147h7.9c4.37,0,8.15-5.52,9-13.14l1.24.13C101.17,142.23,96.87,148.22,91.85,148.22Z')
  rect.cls-2-truck(x='2.91' y='102.64' width='4.69' height='0.75' transform='translate(-66.48 28.9) rotate(-41.14)')
