svg#Layer_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewbox='0 0 427 562' style='enable-background:new 0 0 427 562;' xml:space='preserve')
  style(type='text/css').
    .st0{enable-background:new    ;}
    .st1{fill:#226C93;}
    .st2{fill:#9FB1C8;}
    .st3{fill:#55BFF0;}
  title Artboard 1
  g
    g.st0
      path.st1(d='M13.2,221.1c0,6.4-2.8,9.5-7,9.5c-1.2,0-2.3-0.3-2.6-0.4l-0.5-3.6c0.3,0.2,1.3,0.6,2.6,0.6    c2,0,3.5-1.2,3.9-4.4c-0.6,0.7-1.7,1.4-3.2,1.4c-2.5,0-4.5-1.7-4.5-5.4c0-3.5,2-5.8,5.4-5.8C11,213.1,13.2,215.7,13.2,221.1z     M7.4,221.2c0.9,0,1.7-0.3,2.2-0.7c-0.1-3.1-1-4.2-2.4-4.2c-1.2,0-1.9,0.9-1.9,2.5C5.4,220.3,6.1,221.2,7.4,221.2z')
      path.st1(d='M26.1,221.1c0,6.4-2.8,9.5-7,9.5c-1.2,0-2.3-0.3-2.6-0.4l-0.5-3.6c0.3,0.2,1.3,0.6,2.6,0.6    c2,0,3.5-1.2,3.9-4.4c-0.6,0.7-1.7,1.4-3.2,1.4c-2.5,0-4.5-1.7-4.5-5.4c0-3.5,2-5.8,5.4-5.8C23.9,213.1,26.1,215.7,26.1,221.1z     M20.3,221.2c0.9,0,1.7-0.3,2.2-0.7c-0.1-3.1-1-4.2-2.4-4.2c-1.2,0-1.9,0.9-1.9,2.5C18.3,220.3,19,221.2,20.3,221.2z')
    g.st0
      path.st2(d='M4.4,239.5c0-3.1,1.1-4.6,3.5-4.6c0.8,0,1.6,0.3,1.9,0.4l0.1,1.9c-0.3-0.2-1-0.5-1.8-0.5    c-1.3,0-1.8,0.7-1.8,2.7c0,2,0.5,2.7,1.8,2.7c0.8,0,1.5-0.3,1.9-0.5l-0.3,1.9c-0.4,0.2-1.1,0.4-1.9,0.4    C5.6,244.1,4.4,242.6,4.4,239.5z')
      path.st2(d='M19.2,235.1v8.7h-1.8v-5.4l-2.2,3.4l-2.2-3.4v5.4h-1.8v-8.7h1.6l2.4,3.7l2.3-3.7H19.2z')
      path.st2(d='M20.7,243.6l-0.3-1.9c0.6,0.2,1.8,0.6,2.8,0.6c1,0,1.3-0.3,1.3-0.9c0-0.5-0.3-0.7-1-0.9l-1.3-0.3    c-1.3-0.3-1.9-1.1-1.9-2.6c0-1.6,1-2.6,3-2.6c1.1,0,2.1,0.2,2.6,0.4l0.1,1.8c-0.5-0.2-1.5-0.5-2.5-0.5c-0.9,0-1.2,0.3-1.2,0.8    c0,0.5,0.3,0.7,1,0.9l1.2,0.3c1.3,0.3,1.9,1,1.9,2.5c0,1.7-1,2.7-3.2,2.7C22.3,244.1,21.2,243.8,20.7,243.6z')
    g.st0
      path.st1(d='M275.5,539.6c0,3.5-2,5.7-5.4,5.7c-3.8,0-6-2.6-6-8c0-6.4,2.8-9.4,7.1-9.4c1.6,0,2.8,0.5,2.8,0.5l0.2,3.5    c0,0-1-0.6-2.5-0.6c-2,0-3.5,1.1-3.9,4.3c0.6-0.6,1.6-1.4,3.2-1.4C273.5,534.2,275.5,535.9,275.5,539.6z M271.9,539.6    c0-1.5-0.7-2.4-2-2.4c-1,0-1.7,0.3-2.2,0.7c0.1,3.1,1,4.1,2.4,4.1C271.2,542.1,271.9,541.2,271.9,539.6z')
      path.st1(d='M283.2,527.9V545h-3.6v-12l-3.1,1.3v-3.6L283.2,527.9z')
    g.st0
      path.st2(d='M261.7,554.3c0-3.1,1.1-4.6,3.5-4.6c0.8,0,1.6,0.3,1.9,0.4l0.1,1.9c-0.3-0.2-1-0.5-1.8-0.5    c-1.3,0-1.8,0.7-1.8,2.7c0,2,0.5,2.7,1.8,2.7c0.8,0,1.5-0.3,1.9-0.5l-0.3,1.9c-0.4,0.2-1.1,0.4-1.9,0.4    C262.9,558.9,261.7,557.4,261.7,554.3z')
      path.st2(d='M276.5,550v8.7h-1.8v-5.4l-2.2,3.4l-2.2-3.4v5.4h-1.8V550h1.6l2.4,3.7l2.3-3.7H276.5z')
      path.st2(d='M278,558.5l-0.3-1.9c0.6,0.2,1.8,0.6,2.8,0.6c1,0,1.3-0.3,1.3-0.9c0-0.5-0.3-0.7-1-0.9l-1.3-0.3    c-1.3-0.3-1.9-1.1-1.9-2.6c0-1.6,1-2.6,3-2.6c1.1,0,2.1,0.2,2.6,0.4l0.1,1.8c-0.5-0.2-1.5-0.5-2.5-0.5c-0.9,0-1.2,0.3-1.2,0.8    c0,0.5,0.3,0.7,1,0.9l1.2,0.3c1.3,0.3,1.9,1,1.9,2.5c0,1.7-1,2.7-3.2,2.7C279.6,558.9,278.5,558.6,278,558.5z')
    g.st0
      path.st1(d='M29.2,501.6c-2.6,0-4.3-0.7-4.6-0.8l-0.5-3.5c0.3,0.1,2.1,0.9,4.4,0.9c1.7,0,2.5-0.7,2.5-1.9    c0-1.2-0.5-1.9-2-1.9h-2.7v-3.3h2.4c1.5,0,2-0.7,2-1.9c0-1.2-0.7-1.8-2.3-1.8c-2.1,0-3.6,0.9-3.9,1l0.2-3.5c0.3-0.1,2-0.9,4.6-0.9    c3.2,0,5,1.6,5,4.6c0,1.8-0.6,3.1-1.9,3.8c1.6,0.7,2.2,2.1,2.3,4.1C34.6,499.9,32.6,501.6,29.2,501.6z')
    g.st0
      path.st1(d='M36.1,492.8c0-6.2,1.7-8.8,5.8-8.8c4.1,0,5.8,2.6,5.8,8.8c0,6.2-1.7,8.8-5.8,8.8    C37.8,501.6,36.1,499,36.1,492.8z M44,492.8c0-4.2-0.5-5.3-2.1-5.3s-2.1,1.1-2.1,5.3c0,4.2,0.5,5.3,2.1,5.3S44,497,44,492.8z')
    g.st0
      path.st1(d='M49.3,497.3H53v3.9h-3.7V497.3z')
      path.st1(d='M59.9,501.6c-2.6,0-4.3-0.7-4.6-0.8l-0.5-3.5c0.3,0.1,2.1,0.9,4.4,0.9c1.7,0,2.5-0.7,2.5-1.9    c0-1.2-0.5-1.9-2-1.9h-2.7v-3.3h2.4c1.5,0,2-0.7,2-1.9c0-1.2-0.7-1.8-2.3-1.8c-2.1,0-3.6,0.9-3.9,1l0.2-3.5c0.3-0.1,2-0.9,4.6-0.9    c3.2,0,5,1.6,5,4.6c0,1.8-0.6,3.1-1.9,3.8c1.6,0.7,2.2,2.1,2.3,4.1C65.4,499.9,63.4,501.6,59.9,501.6z')
    g.st0
      path.st2(d='M43.6,510.5c0-3.1,1.1-4.6,3.5-4.6c0.8,0,1.6,0.3,1.9,0.4l0.1,1.9c-0.3-0.2-1-0.5-1.8-0.5    c-1.3,0-1.8,0.7-1.8,2.7c0,2,0.5,2.7,1.8,2.7c0.8,0,1.5-0.3,1.9-0.5l-0.3,1.9c-0.4,0.2-1.1,0.4-1.9,0.4    C44.7,515.1,43.6,513.6,43.6,510.5z')
      path.st2(d='M58.3,506.2v8.7h-1.8v-5.4l-2.2,3.4l-2.2-3.4v5.4h-1.8v-8.7H52l2.4,3.7l2.3-3.7H58.3z')
      path.st2(d='M59.8,514.7l-0.3-1.9c0.6,0.2,1.8,0.6,2.8,0.6c1,0,1.3-0.3,1.3-0.9c0-0.5-0.3-0.7-1-0.9l-1.3-0.3    c-1.3-0.3-1.9-1.1-1.9-2.6c0-1.6,1-2.6,3-2.6c1.1,0,2.1,0.2,2.6,0.4l0.1,1.8c-0.5-0.2-1.5-0.5-2.5-0.5c-0.9,0-1.2,0.3-1.2,0.8    c0,0.5,0.3,0.7,1,0.9l1.2,0.3c1.3,0.3,1.9,1,1.9,2.5c0,1.7-1,2.7-3.2,2.7C61.4,515.1,60.3,514.9,59.8,514.7z')
    polygon.st3(points='48.7,432.8 37.5,432.8 37.5,1.5 48.7,1.5 48.7,2.5 38.5,2.5 38.5,431.8 48.7,431.8  ')
    polygon.st3(points='135.6,515.3 135.6,504 136.6,504 136.6,514.2 424.9,497.5 424.9,487.2 425.9,487.2 425.9,498.5  ')
    rect.st3(x='86.3' y='409.6' transform='matrix(0.6432 -0.7657 0.7657 0.6432 -331.731 235.5042)' width='1' height='128.2')
