svg#hover(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 309 206')
  defs
    style.
      .cls-1-avent{fill:#9fb1c8;}.cls-2-avent{fill:#226c93;}
  title Artboard 1
  polygon.cls-1-avent(points='154.34 182.07 123.67 176.21 111.9 182.04 111.68 181.6 123.6 175.68 123.68 175.7 154.43 181.58 154.34 182.07')
  rect.cls-1-avent(x='123.38' y='169.55' width='0.5' height='6.4')
  polygon.cls-1-avent(points='114.09 166.82 113.73 166.43 125.78 160.47 125.85 160.47 155.38 163.88 155.32 164.38 125.87 160.98 114.09 166.82')
  rect.cls-1-avent(x='125.57' y='152.09' width='0.5' height='8.64')
  polygon.cls-1-avent(points='115.34 149.71 115.15 149.25 127.77 144.01 157.19 146.73 157.15 147.22 127.85 144.52 115.34 149.71')
  rect.cls-1-avent(x='127.63' y='134.9' width='0.5' height='9.17')
  polygon.cls-1-avent(points='117.29 133.11 117.09 132.65 129.59 127.35 129.65 127.35 159.88 129.51 159.84 130.01 129.68 127.85 117.29 133.11')
  polygon.cls-1-avent(points='129.96 127.41 129.46 127.58 129.46 117.16 129.96 117.16 129.96 127.41')
  rect.cls-2-avent(x='197.78' y='132.33' width='0.5' height='37.38')
  rect.cls-2-avent(x='205.22' y='129.82' width='0.5' height='30.17')
  rect.cls-2-avent(x='213.33' y='124.77' width='0.5' height='24.75')
  polygon.cls-2-avent(points='220.69 140.66 220.19 140.94 220.19 112.41 220.69 112.41 220.69 140.66')
  rect.cls-2-avent(x='227.47' y='106.69' width='0.5' height='24.88')
  polygon.cls-1-avent(points='287.59 115.14 287.33 115.13 232.06 111.95 232.09 111.45 287.09 114.61 287.09 48.43 91.34 62.83 91.34 103.34 124.95 105.28 124.92 105.78 90.84 103.81 90.84 62.36 91.07 62.34 287.59 47.89 287.59 115.14')
  rect.cls-1-avent(x='109.96' y='61.15' width='0.5' height='43.56')
  rect.cls-1-avent(x='111.27' y='61.15' width='0.5' height='43.56')
  rect.cls-1-avent(x='131.78' y='59.54' width='0.5' height='43.48')
  rect.cls-1-avent(x='133.09' y='59.54' width='0.5' height='43.48')
  polygon.cls-1-avent(points='156.2 100.5 155.7 100.5 155.78 57.75 156.28 57.75 156.2 100.5')
  polygon.cls-1-avent(points='157.51 100.5 157.01 100.5 157.1 57.75 157.6 57.75 157.51 100.5')
  rect.cls-1-avent(x='180.21' y='55.99' width='0.5' height='44.75')
  rect.cls-1-avent(x='181.52' y='55.99' width='0.5' height='44.75')
  rect.cls-1-avent(x='206.44' y='53.96' width='0.5' height='47.24')
  rect.cls-1-avent(x='207.75' y='53.96' width='0.5' height='47.24')
  rect.cls-1-avent(x='234.67' y='51.85' width='0.5' height='59.96')
  rect.cls-1-avent(x='235.98' y='51.85' width='0.5' height='59.96')
  rect.cls-1-avent(x='261.86' y='50.03' width='0.5' height='63.43')
  rect.cls-1-avent(x='263.18' y='50.03' width='0.5' height='63.43')
  polygon.cls-1-avent(points='10.59 117.6 10.59 62.11 10.84 62.11 43.38 62.16 43.38 62.66 11.09 62.61 11.09 116.98 43.33 109.67 43.44 110.16 10.59 117.6')
  polygon.cls-1-avent(points='45.35 109.73 45.24 109.24 74.03 102.71 74.03 62.71 45.29 62.66 45.29 62.16 74.53 62.21 74.53 103.11 74.34 103.16 45.35 109.73')
  polygon.cls-2-avent(points='192.48 186.77 191.98 186.77 192.15 176.87 192.65 176.87 192.48 186.77')
  rect.cls-2-avent(x='217.16' y='144.57' width='0.5' height='6.37')
  rect.cls-2-avent(x='175.28' y='183.67' width='0.5' height='9.9')
  polygon.cls-2-avent(points='307.55 127.21 232.03 121.91 232.12 120.67 306.3 125.87 306.3 27.95 217.16 36.56 217.04 35.31 307.55 26.58 307.55 127.21')
  polygon.cls-2-avent(points='1.45 132.07 1.45 46.22 81.97 48.35 144.63 42.3 144.75 43.54 82.01 49.6 2.7 47.51 2.7 130.46 81.89 110.07 82 110.08 124.98 113.11 124.89 114.35 82.01 111.33 1.45 132.07')
  rect.cls-2-avent(x='81.58' y='48.98' width='0.75' height='61.73')
  rect.cls-2-avent(x='43.01' y='60.8' width='0.75' height='50.77')
  rect.cls-2-avent(x='44.92' y='60.8' width='0.75' height='50.34')
  rect.cls-1-avent(x='58.19' y='105.14' width='0.5' height='1.2')
  rect.cls-1-avent(x='58.94' y='105.14' width='0.5' height='1.02')
  rect.cls-1-avent(x='62.39' y='104.3' width='0.5' height='1.2')
  rect.cls-1-avent(x='63.15' y='104.3' width='0.5' height='1.02')
  path.cls-1-avent(d='M57,105.67l-.28-1.55,7.9-1.45.28,1.55Zm.3-1.15.1.56,6.92-1.27-.1-.56Z')
  polygon.cls-1-avent(points='25.32 82.35 24.83 82.29 24.97 81.1 25.47 81.16 25.32 82.35')
  polygon.cls-1-avent(points='26.09 82.27 25.6 82.21 25.72 81.19 26.22 81.25 26.09 82.27')
  polygon.cls-1-avent(points='29.6 82.04 29.11 81.97 29.25 80.79 29.75 80.85 29.6 82.04')
  polygon.cls-1-avent(points='30.37 81.96 29.88 81.9 30 80.88 30.5 80.94 30.37 81.96')
  path.cls-1-avent(d='M23.73,81.48l-.09-1.57,8-.47L31.75,81Zm.44-1.1,0,.58,7-.41,0-.58Z')
  rect.cls-1-avent(x='10.8' y='81.91' width='32.24' height='0.5' transform='translate(-5.56 2.04) rotate(-3.93)')
  path.cls-2-avent(d='M108.72,87.52h-1.41V79.46h1.41Zm-.91-.5h.41V80h-.41Z')
  path.cls-2-avent(d='M114.31,87.52H112.9V79.46h1.41Zm-.91-.5h.41V80h-.41Z')
  path.cls-2-avent(d='M130.58,87.52h-1.41V79.46h1.41Zm-.91-.5h.41V80h-.41Z')
  path.cls-2-avent(d='M136.17,87.52h-1.41V79.46h1.41Zm-.91-.5h.41V80h-.41Z')
  path.cls-2-avent(d='M154.54,87.52h-1.41V79.46h1.41Zm-.91-.5H154V80h-.41Z')
  path.cls-2-avent(d='M160.13,87.52h-1.41V79.46h1.41Zm-.91-.5h.41V80h-.41Z')
  path.cls-2-avent(d='M179,87.52h-1.41V79.46H179Zm-.91-.5h.41V80h-.41Z')
  path.cls-2-avent(d='M184.62,87.52h-1.41V79.46h1.41Zm-.91-.5h.41V80h-.41Z')
  path.cls-2-avent(d='M205.24,87.52h-1.41V79.46h1.41Zm-.91-.5h.41V80h-.41Z')
  path.cls-2-avent(d='M210.83,87.52h-1.41V79.46h1.41Zm-.91-.5h.41V80h-.41Z')
  path.cls-2-avent(d='M233.51,87.52H232.1V79.46h1.41Zm-.91-.5H233V80h-.41Z')
  path.cls-2-avent(d='M239.09,87.52h-1.4V79.46h1.4Zm-.9-.5h.4V80h-.4Z')
  path.cls-2-avent(d='M260.7,87.52h-1.4V79.46h1.4Zm-.9-.5h.4V80h-.4Z')
  path.cls-2-avent(d='M266.29,87.52h-1.4V79.46h1.4Zm-.9-.5h.4V80h-.4Z')
  path.cls-1-avent(d='M101.24,55.81V51.19l18.6-1.61v4.81Zm.5-4.17v3.63l17.6-1.34v-3.8Z')
  rect.cls-1-avent(x='102.47' y='51.31' width='0.5' height='4.23')
  rect.cls-1-avent(x='103.89' y='51.11' width='0.5' height='4.23')
  rect.cls-1-avent(x='105.32' y='51.16' width='0.5' height='4.11')
  rect.cls-1-avent(x='106.75' y='50.88' width='0.5' height='4.12')
  rect.cls-1-avent(x='108.17' y='50.77' width='0.5' height='4.23')
  rect.cls-1-avent(x='109.6' y='50.77' width='0.5' height='4.07')
  rect.cls-1-avent(x='111.03' y='50.77' width='0.5' height='3.96')
  rect.cls-1-avent(x='112.45' y='50.34' width='0.5' height='4.32')
  rect.cls-1-avent(x='113.88' y='50.29' width='0.5' height='4.23')
  rect.cls-1-avent(x='115.3' y='50.29' width='0.5' height='4.23')
  rect.cls-1-avent(x='116.73' y='50.18' width='0.5' height='4.07')
  rect.cls-1-avent(x='118.16' y='49.86' width='0.5' height='4.32')
  rect.cls-1-avent(x='100.71' y='50.19' width='0.5' height='1.46' transform='translate(-4.8 90.92) rotate(-47.48)')
  rect.cls-1-avent(x='119.33' y='49.02' width='1.59' height='0.5' transform='translate(2.6 104.46) rotate(-47.46)')
  rect.cls-1-avent(x='119.88' y='53.93' width='0.5' height='1.46' transform='translate(-1.5 105.9) rotate(-47.31)')
  polygon.cls-1-avent(points='100.6 56.88 100.24 56.54 101.31 55.37 101.68 55.71 100.6 56.88')
  path.cls-1-avent(d='M237.75,45.37V38l24.43-2.19v7.63Zm.5-6.88v6.33L261.68,43V36.39Z')
  rect.cls-1-avent(x='239.05' y='38.14' width='0.5' height='6.84')
  rect.cls-1-avent(x='240.47' y='38.14' width='0.5' height='6.84')
  rect.cls-1-avent(x='241.88' y='37.71' width='0.5' height='6.84')
  rect.cls-1-avent(x='243.3' y='37.71' width='0.5' height='6.84')
  rect.cls-1-avent(x='244.72' y='37.71' width='0.5' height='6.84')
  rect.cls-1-avent(x='246.14' y='37.71' width='0.5' height='6.84')
  rect.cls-1-avent(x='247.55' y='37.28' width='0.5' height='6.84')
  rect.cls-1-avent(x='248.97' y='37.28' width='0.5' height='6.84')
  rect.cls-1-avent(x='250.39' y='37.17' width='0.5' height='6.84')
  rect.cls-1-avent(x='251.81' y='37.17' width='0.5' height='6.84')
  rect.cls-1-avent(x='253.22' y='36.74' width='0.5' height='7.08')
  rect.cls-1-avent(x='254.64' y='36.74' width='0.5' height='6.94')
  rect.cls-1-avent(x='256.06' y='36.74' width='0.5' height='6.84')
  rect.cls-1-avent(x='257.48' y='36.48' width='0.5' height='7.1')
  rect.cls-1-avent(x='258.9' y='36.31' width='0.5' height='7')
  rect.cls-1-avent(x='260.31' y='36.31' width='0.5' height='6.84')
  polygon.cls-1-avent(points='237.84 38.44 236.76 37.46 237.1 37.09 238.17 38.08 237.84 38.44')
  rect.cls-1-avent(x='261.67' y='35.28' width='1.59' height='0.5' transform='translate(58.82 204.88) rotate(-47.46)')
  rect.cls-1-avent(x='262.21' y='43.01' width='0.5' height='1.46' transform='translate(52.33 206.96) rotate(-47.3)')
  polygon.cls-1-avent(points='237.11 46.43 236.74 46.09 237.82 44.92 238.19 45.27 237.11 46.43')
  polygon.cls-1-avent(points='158.58 138.15 117.09 134.15 117.09 132.65 158.78 136.64 158.73 137.14 117.59 133.2 117.59 133.7 158.63 137.65 158.58 138.15')
  polygon.cls-1-avent(points='156.33 155.61 115.15 150.94 115.15 149.25 115.42 149.28 156.53 153.83 156.47 154.33 115.65 149.81 115.65 150.49 156.39 155.12 156.33 155.61')
  polygon.cls-1-avent(points='154.44 173.98 113.73 168.22 113.73 166.43 154.51 172.04 154.44 172.53 114.23 167.01 114.23 167.78 154.51 173.49 154.44 173.98')
  path.cls-2-avent(d='M100.17,57V50.2l20.75-1.79v7Zm.5-6.32v5.78l19.75-1.52V49Z')
  path.cls-2-avent(d='M144.14,46.09,143,10c0-3.13,6-5.16,11-6.31a126.15,126.15,0,0,1,25.69-2.57,127.94,127.94,0,0,1,25.74,2.07c5.07,1.06,11.12,3,11.15,6.08l1.25,36.57-1.28-1L215.39,9.33c0-1.35-2.69-3.33-10.15-4.88A124,124,0,0,0,179.76,2.4a125,125,0,0,0-25.42,2.54c-7.43,1.7-10.07,3.73-10.06,5.06l1.08,35Z')
  path.cls-2-avent(d='M236.68,46.53V37l26.57-2.37v9.8H263Zm.5-9V46l25.57-2V35.21Z')
  path.cls-2-avent(d='M162,196.38l-.11-1.24c.05,0,4.67-.44,13.47-2.17L192,186.26l37.25-53.38v-3.83l2.2-2.72v-23.2l1.1-.86-75.17-1.14-9,2.32-4.53-.12,13.35-3.45L233.48,101a1,1,0,0,1,.87.62.92.92,0,0,1-.31,1l-1.34,1v23l-2.2,2.72v3.78l-37.69,54-17.16,6.9C166.73,195.94,162,196.38,162,196.38Z')
  path.cls-2-avent(d='M167.22,136.46c-3.19,0-5.18-.1-5.23-.1l0-.75c.39,0,38.75,1.86,51.69-11.69a7.31,7.31,0,0,0,2-7.47,4.06,4.06,0,0,1-.13-.75l.75,0a3.56,3.56,0,0,0,.11.6,8,8,0,0,1-2.22,8.15c-5.54,5.81-16,9.58-31.17,11.21A150.81,150.81,0,0,1,167.22,136.46Z')
  rect.cls-1-avent(x='133.13' y='166.21' width='0.5' height='43.83' transform='translate(-79.65 276.46) rotate(-77.18)')
  path.cls-2-avent(d='M155,193.26l-.53-.54,7.29-7.22.13,0s4.7-.44,13.55-2.18l16.72-6.74,37.08-47.51.73.28-37.34,47.85-.1,0L175.67,184c-8.13,1.61-12.74,2.12-13.56,2.21Z')
  polygon.cls-2-avent(points='155.17 204.86 113.36 194.05 113.36 185.65 114.61 185.65 114.61 193.08 154.73 203.45 161.66 195.35 162.61 196.16 155.17 204.86')
  path.cls-2-avent(d='M154.58,204.16,154.37,193c-2-21.41,4.3-59.51,6.27-70.68a3.88,3.88,0,0,1,2.79-3.07l2.94-.81a.78.78,0,0,1,.66.13.74.74,0,0,1,.29.6l0,11.76-5.07,2.27-.31-.69,4.63-2.06,0-11.28-2.94.8a3.17,3.17,0,0,0-2.26,2.48c-2,11.14-8.22,49.16-6.25,70.51l.21,11.19Z')
  path.cls-2-avent(d='M111.42,183.13c0-.34-2.57-34,5-53.32a39.22,39.22,0,0,0,1.8-6c.61-2.83,2.2-6.35,6.31-7.3v-13a1.12,1.12,0,0,1,.35-.82,1.13,1.13,0,0,1,.82-.32l39.39,1.33a1.13,1.13,0,0,1,1.1,1.13V119.1L125,117.16c-3.9.78-5.4,4.11-6,6.78a40.32,40.32,0,0,1-1.83,6.14c-7.54,19.13-5,52.66-5,53Zm13.89-66.71,40.16,1.9v-13.5a.38.38,0,0,0-.38-.38l-39.38-1.33a.41.41,0,0,0-.28.11.36.36,0,0,0-.12.28Z')
  polygon.cls-2-avent(points='154.7 195.71 111.6 185.52 111.42 183.13 112.17 183.07 112.31 184.91 154.88 194.98 154.7 195.71')
  polygon.cls-2-avent(points='289.87 117.56 232.05 114.22 232.09 113.48 289.12 116.76 289.12 46.25 89.32 60.94 89.32 105.25 124.96 107.31 124.92 108.06 88.57 105.96 88.57 60.25 88.91 60.22 289.87 45.45 289.87 117.56')
  path.cls-2-avent(d='M8.85,119.78V60.36h.38l67,.1v44l-.29.07ZM9.6,61.12v57.72L75.52,103.9V61.22Z')
  path.cls-2-avent(d='M162.31,195.87h-.75V133.08a.63.63,0,0,1,.2-.46.64.64,0,0,1,.46-.17c4,.21,38.79,1.66,51.13-10.67a8.12,8.12,0,0,0,2-5.7.93.93,0,0,1,.36-.76l15.74-12.19.85.33-16.13,12.46a.15.15,0,0,0-.07.14,8.91,8.91,0,0,1-2.22,6.25c-12.52,12.51-47.38,11.11-51.57,10.89Z')
  path.cls-1-avent(d='M180.34,50.83c-17.68,0-36.2-1.65-36.21-4.76,0-1.41,3.68-2.6,10.94-3.53A218.32,218.32,0,0,1,181,41.13a215.28,215.28,0,0,1,26,1.28c7.26.9,10.95,2.07,11,3.48,0,3.15-19,4.9-36.88,4.94Zm1.42-9.2H181A217.18,217.18,0,0,0,155.14,43c-7.75,1-10.51,2.22-10.51,3,0,2,14.62,4.26,35.67,4.26H181c21.45,0,36.39-2.38,36.39-4.44,0-.82-2.77-2-10.53-3A216.37,216.37,0,0,0,181.76,41.63Z')
