svg#circle(width='290' height='356' viewbox='0 0 290 356' fill='none' xmlns='http://www.w3.org/2000/svg')
  path#pathCircle(d='M114 16C285 48 280 154 270 223C261.384 282.448 168.8 387.8 16 315' stroke='#4583A9' stroke-width='31' stroke-linecap='round')
