svg#circle(width='287' height='354' viewbox='0 0 287 354' fill='none' xmlns='http://www.w3.org/2000/svg')
  path#pathCircle(pathlength='1' d='M111.11 13.0835C200.996 13.6751 273.785 86.6161 273.999 176.69C274.215 267.265 200.964 340.864 110.39 341.079C74.3183 341.165 40.9391 329.598 13.8154 309.927' stroke='#4583A9' stroke-width='26' stroke-linecap='round' stroke-linejoin='round')
