svg#circle(data-name='Layer 1' fill='none' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 288 356')
  path.cls-1#pathCircle(stroke='#4583a9' stroke-width='27' stroke-linecap='round' stroke-linejoin='round' d='M110.36,354.63H108.9A175.21,175.21,0,0,1,6.37,320.72a13,13,0,0,1,15.33-21,149.38,149.38,0,0,0,87.41,28.9h1.25c82.37,0,149.93-67,150.6-149.41A150.63,150.63,0,0,0,111.56,27.37a13,13,0,0,1,.1-26h.11A176.64,176.64,0,0,1,287,179.43a176.83,176.83,0,0,1-176.6,175.2Z')
