svg#circle(width='287' height='354' viewbox='0 0 287 354' fill='none' xmlns='http://www.w3.org/2000/svg')
  path#pathCircle(d='M111.5 13.0067C201.384 13.812 274 86.9258 274 177C274 267.575 200.575 341 110 341C73.9285 341 40.5769 329.354 13.5 309.618' stroke='#4583A9' stroke-width='26' stroke-linecap='round' stroke-linejoin='round')
