svg#deposito(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 329 381')
  defs
    style.
      .cls-1-deposito-int{font-size:48.5px;fill:#1f6c91;font-family:"Gilam-Bold", Gilam;font-weight:700;letter-spacing:-0.01em;}.cls-2-deposito-int{letter-spacing:-0.03em;}.cls-3-deposito-int{letter-spacing:-0.01em;}.cls-4-deposito-int{fill:none;stroke:#226c93;stroke-miterlimit:10;stroke-width:2px;}.cls-5-deposito-int{fill:#226c93;}.cls-6-deposito-int{fill:#9fb1c8;}
  title Artboard 1
  text.cls-1-deposito-int(transform='translate(90.31 42.41)')
    | 180
    tspan.cls-2-deposito-int(x='77.31' y='0') K
    tspan.cls-3-deposito-int(x='107.82' y='0') g.
  path.cls-4-deposito-int(d='M17.12,74.15c35-.74,87.19-1.34,145-1.34,59.92,0,113.91,1,148.9,1.82')
  rect.cls-5-deposito-int(x='156.38' y='196.91' width='1' height='139.05')
  rect.cls-5-deposito-int(x='156.88' y='294.27' width='11.32' height='1')
  rect.cls-5-deposito-int(x='156.88' y='220.02' width='11.32' height='1')
  rect.cls-5-deposito-int(x='145.56' y='256.09' width='11.32' height='1')
  rect.cls-5-deposito-int(x='145.56' y='334.96' width='11.32' height='1')
  path.cls-5-deposito-int(d='M165.59,98.88c-55.72,0-108.53-2.9-144.91-8a4.84,4.84,0,0,1-4.16-4.77V73.32l1.15.17C54.07,78.84,108,81.9,165.6,81.9c55.67,0,108.41-2.9,144.71-8l1.14-.16V86.58a4.83,4.83,0,0,1-4.18,4.78C271.09,96.14,219.45,98.88,165.59,98.88ZM18.52,75.64V86.15A2.83,2.83,0,0,0,21,88.94c36.28,5,89,7.94,144.63,7.94,53.77,0,105.32-2.73,141.42-7.5a2.83,2.83,0,0,0,2.44-2.8V76.09c-36.35,5-88.67,7.81-143.85,7.81C108.49,83.9,55,80.89,18.52,75.64Z')
  path.cls-5-deposito-int(d='M311,75.73c-54.2-1.23-102.9-1.82-148.88-1.82-51.87,0-104.71.49-144.95,1.34l-.62-1.93c40.25-.85,93.68-1.41,145.57-1.41,46,0,95.15.66,149.36,1.88Z')
  rect.cls-5-deposito-int(x='22.7' y='89.92' width='2' height='21.03' transform='translate(-5.6 1.49) rotate(-3.22)')
  rect.cls-6-deposito-int(x='21.05' y='124.66' width='1' height='10.97' transform='translate(-88.73 57.75) rotate(-47.31)')
  rect.cls-5-deposito-int(x='294.79' y='100.35' width='21.03' height='2' transform='translate(186.97 400.48) rotate(-86.78)')
  rect.cls-6-deposito-int(x='301.96' y='130.57' width='10.97' height='1' transform='translate(-7.41 243.16) rotate(-42.68)')
  path.cls-6-deposito-int(d='M182.46,147.54H137.41l-7.64-1.39V126.8a7,7,0,0,1,7-7h44.89a7,7,0,0,1,7,7v19.33Zm-51.69-2.23,6.73,1.24h44.84l5.28-1.21V126.8a6,6,0,0,0-6-6H136.75a6,6,0,0,0-6,6Z')
  path.cls-6-deposito-int(d='M159.4,139.12a4.74,4.74,0,1,1,4.74-4.74A4.74,4.74,0,0,1,159.4,139.12Zm0-8.47a3.74,3.74,0,1,0,3.74,3.73A3.73,3.73,0,0,0,159.4,130.65Z')
  path.cls-6-deposito-int(d='M136.91,147V125.32a5.51,5.51,0,0,1,5.51-5.5H177a5.51,5.51,0,0,1,5.5,5.5V147h-1V125.32a4.51,4.51,0,0,0-4.5-4.5H142.41a4.51,4.51,0,0,0-4.51,4.5V147Z')
  path.cls-5-deposito-int(d='M36,185.86l-2.73-.77a6.67,6.67,0,0,1-4.8-5.82L24,126.52l2-.18,4.52,52.76a4.68,4.68,0,0,0,3.36,4.06l2.72.78Z')
  path.cls-5-deposito-int(d='M293.25,186.66l-.51-1.94,2.46-.64a4.67,4.67,0,0,0,3.34-4.07l4.52-52.75,2,.17-4.52,52.75a6.67,6.67,0,0,1-4.8,5.83Z')
  path.cls-6-deposito-int(d='M31.61,126.93H1.47v-6.66a9.85,9.85,0,0,1,9.84-9.84h16a4.29,4.29,0,0,1,4.29,4.28Zm-29.14-1H30.61V114.71a3.28,3.28,0,0,0-3.29-3.28h-16a8.84,8.84,0,0,0-8.84,8.84Z')
  path.cls-6-deposito-int(d='M5.49,126.43H5v-3.28A9.24,9.24,0,0,1,14.21,114H31v.5H14.21a8.74,8.74,0,0,0-8.72,8.69Z')
  path.cls-6-deposito-int(d='M327.53,127.85H297.39V115.63a4.29,4.29,0,0,1,4.29-4.28h16a9.85,9.85,0,0,1,9.84,9.84Zm-29.14-1h28.14v-5.66a8.84,8.84,0,0,0-8.84-8.84h-16a3.28,3.28,0,0,0-3.29,3.28Z')
  path.cls-6-deposito-int(d='M324,127.35h-.5v-3.28a8.74,8.74,0,0,0-8.72-8.7h-16.4v-.5h16.4a9.24,9.24,0,0,1,9.22,9.2Z')
  path.cls-5-deposito-int(d='M165,379.82c-64.16,0-115.89-18.08-117.77-41.16l-12.06-155,1.32.28c37.81,8,82.84,12.15,130.21,12.15,46,0,89.8-4,126.76-11.58l1.36-.28L282.74,338.7C278.44,362.93,230,379.82,165,379.82ZM37.39,186.16,49.2,338.49C51,360.18,102.91,377.82,165,377.82c64.05,0,111.66-16.21,115.78-39.41l11.73-151.68c-37.3,7.52-79.61,11.34-125.81,11.34C119.72,198.07,75.05,194,37.39,186.16Z')
  polygon.cls-5-deposito-int(points='157.38 190.45 156.38 190.45 156.38 165.73 168.2 165.73 168.2 166.73 157.38 166.73 157.38 190.45')
