div.navbar 
      a(href="index.html")
        div.logo#logo
          include ../svg/logo.pug
      div.menu
        button#hamburger(onclick="openMenu()")

div#menu-expanded
  ul#menu-list
    li.titulo-1 CATÁLOGO
      .buttons
        button(onclick="window.location.href='basico.html'")
            include ../svg/home/maquinas/basica
            span Básica
        button(onclick="window.location.href='intermedio.html'")
            include ../svg/home/maquinas/intermedia
            span Intermedia
        button(onclick="window.location.href='premium.html'") 
            include ../svg/home/maquinas/premium
            span Premium
    li.titulo-1 
      a(href="servicios.html") SERVICIOS
    li.titulo-1 
      a(href="#contacto") CONTACTO