svg#Layer_1(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 329 340')
    defs
        style.
            .cls-1-deposito-b{font-size:48.5px;font-weight:700;letter-spacing:-0.01em;}.cls-1-deposito-b,.cls-4-deposito-b{fill:#226c93;}.cls-2-deposito-b{letter-spacing:-0.03em;}.cls-3-deposito-b{fill:#9fb1c8;}
    title Artboard 1
    text.cls-1-deposito-b(transform='translate(102.54 42.25)')
        | 35 
        tspan.cls-2-deposito-b(x='53.35' y='0') K
        tspan(x='83.86' y='0') g.
    rect.cls-3-deposito-b(x='21.05' y='123.24' width='1' height='10.97' transform='translate(-87.68 57.29) rotate(-47.31)')
    rect.cls-3-deposito-b(x='301.96' y='129.14' width='10.97' height='1' transform='translate(-6.45 242.78) rotate(-42.68)')
    path.cls-3-deposito-b(d='M182.46,146.12H137.41l-7.64-1.4V125.37a7,7,0,0,1,7-7h44.89a7,7,0,0,1,7,7V144.7Zm-51.69-2.23,6.73,1.24h44.84l5.28-1.21V125.37a6,6,0,0,0-6-6H136.75a6,6,0,0,0-6,6Z')
    path.cls-3-deposito-b(d='M159.4,137.7a4.74,4.74,0,1,1,4.74-4.74A4.74,4.74,0,0,1,159.4,137.7Zm0-8.48a3.74,3.74,0,1,0,3.74,3.74A3.74,3.74,0,0,0,159.4,129.22Z')
    path.cls-3-deposito-b(d='M136.91,145.62V123.9a5.53,5.53,0,0,1,5.51-5.51H177a5.51,5.51,0,0,1,5.5,5.51v21.72h-1V123.9a4.51,4.51,0,0,0-4.5-4.51H142.41a4.51,4.51,0,0,0-4.51,4.51v21.72Z')
    path.cls-3-deposito-b(d='M31.61,125.51H1.47v-6.66A9.85,9.85,0,0,1,11.31,109h16a4.3,4.3,0,0,1,4.29,4.29Zm-29.14-1H30.61V113.29A3.29,3.29,0,0,0,27.32,110h-16a8.85,8.85,0,0,0-8.84,8.85Z')
    path.cls-3-deposito-b(d='M5.49,125H5v-3.28a9.24,9.24,0,0,1,9.22-9.2H31v.5H14.21a8.74,8.74,0,0,0-8.72,8.7Z')
    path.cls-3-deposito-b(d='M327.53,126.42H297.39V114.21a4.29,4.29,0,0,1,4.29-4.29h16a9.85,9.85,0,0,1,9.84,9.84Zm-29.14-1h28.14v-5.66a8.85,8.85,0,0,0-8.84-8.84h-16a3.29,3.29,0,0,0-3.29,3.29Z')
    path.cls-3-deposito-b(d='M324,125.92h-.5v-3.27a8.74,8.74,0,0,0-8.72-8.7h-16.4v-.5h16.4a9.24,9.24,0,0,1,9.22,9.2Z')
    path.cls-4-deposito-b(d='M165.59,97.46c-55.72,0-108.53-2.9-144.91-8a4.84,4.84,0,0,1-4.16-4.78V71.9l1.15.17c36.4,5.34,90.32,8.41,147.93,8.41,55.67,0,108.41-2.9,144.71-8l1.14-.16V85.16a4.84,4.84,0,0,1-4.18,4.78C271.09,94.72,219.45,97.46,165.59,97.46ZM18.52,74.21V84.72A2.85,2.85,0,0,0,21,87.52c36.28,5,89,7.94,144.63,7.94,53.77,0,105.32-2.74,141.42-7.51a2.82,2.82,0,0,0,2.44-2.79V74.67c-36.35,5-88.67,7.81-143.85,7.81C108.49,82.48,55,79.47,18.52,74.21Z')
    path.cls-4-deposito-b(d='M311,74.3c-54.2-1.22-102.9-1.82-148.88-1.82-51.87,0-104.71.49-144.95,1.35l-.62-1.93c40.25-.85,93.68-1.42,145.57-1.42,46,0,95.15.66,149.36,1.89Z')
    polygon.cls-4-deposito-b(points='157.38 189.03 156.38 189.03 156.38 164.3 168.2 164.3 168.2 165.3 157.38 165.3 157.38 189.03')
    rect.cls-4-deposito-b(x='156.38' y='195.58' width='1' height='116.15')
    rect.cls-4-deposito-b(x='156.88' y='280.94' width='11.32' height='1')
    rect.cls-4-deposito-b(x='156.88' y='218.7' width='11.32' height='1')
    rect.cls-4-deposito-b(x='145.56' y='250.76' width='11.32' height='1')
    rect.cls-4-deposito-b(x='145.56' y='310.73' width='11.32' height='1')
    rect.cls-4-deposito-b(x='22.7' y='88.49' width='2' height='21.03' transform='translate(-5.52 1.49) rotate(-3.22)')
    rect.cls-4-deposito-b(x='294.79' y='98.92' width='21.03' height='2' transform='translate(188.39 399.13) rotate(-86.78)')
    path.cls-4-deposito-b(d='M36,184.44l-2.73-.78a6.67,6.67,0,0,1-4.8-5.82L24,125.09l2-.17,4.52,52.75a4.68,4.68,0,0,0,3.36,4.07l2.72.78Z')
    path.cls-4-deposito-b(d='M293.25,185.23l-.51-1.93,2.46-.65a4.66,4.66,0,0,0,3.34-4.06l4.52-52.75,2,.17-4.52,52.75a6.67,6.67,0,0,1-4.8,5.82Z')
    path.cls-4-deposito-b(d='M163.46,339C99.3,339,47.57,320.9,45.69,297.83L35.15,182.22l1.32.28c37.81,7.95,82.84,12.15,130.21,12.15,46,0,89.8-4,126.76-11.58l1.36-.28L281.22,297.86C276.92,322.1,228.5,339,163.46,339ZM37.39,184.73,47.68,297.65C49.45,319.34,101.39,337,163.46,337c64,0,111.66-16.21,115.78-39.41L292.49,185.3c-37.3,7.53-79.61,11.35-125.81,11.35C119.72,196.65,75.05,192.53,37.39,184.73Z')
