.grid-element
    .icon
        include ../../../svg/home/servicios/renta.pug
    .text.pie-1 
        | PLANES ECONÓMICOS DE ARRENDAMIENTO 
        br
        | CON MANTENIMIENTO INCLUIDO

.grid-element
    .icon
        include ../../../svg/servicios/truck.pug
    .text.pie-1
        | DISPONIBILIDAD INMEDIATA

.grid-element
    .icon
        include ../../../svg/servicios/cell.pug
    .text.pie-1
        | ATENCIÓN EXPRESS
.grid-element
    .icon
        include ../../../svg/servicios/cajas.pug
    .text.pie-1
        | AMPLIO INVENTARIO EN REFACCIONES 
        br
        | DE TODAS LAS MARCAS
.grid-element
    .icon
        include ../../../svg/home/servicios/republica.pug
    .text.pie-1 
        | SERVICIO EN TODA LA 
        br
        | REPÚBLICA MEXICANA

        