.grid-element
    .icon
        include ../../../svg/catalogo/servicios/aventilada.pug
    .text.pie-1 
        | Área ventilada

.grid-element
    .icon
        include ../../../svg/catalogo/servicios/electrico.pug
    .text.pie-1
        | Suministro eléctrico (220 Volts)

.grid-element
    .icon
        include ../../../svg/catalogo/servicios/aguaydrenaje.pug
    .text.pie-1
        | Agua y drenaje


        