.horizontal-info#quotes
  .content.container.slide-1
    .d-flex
      .icon
        img(src="assets/images/catalogo/basico/logos/Quote_CV_B.svg")
      .text
        span.primary-color ``
        | Con el calor que hace en La Laguna, necesitas una máquina que te rinda todo el día. Por eso decidimos tenerlos con nosotros. El hielo no para de servirse
        span.secondary-color ´´
        |.
        .pie-1.primary-color.nombre-quote LA CASA DEL VINO
        .pie-2.primary-color Torreón, Coahuila.

//- .horizontal-info#quotes
//-   .content.container.slide-1
//-     .d-flex
//-       .icon
//-         img(src="assets/images/catalogo/basico/logos/Quote_HI_B.svg")
//-       .text
//-         span.primary-color ``
//-         | Hoy en día la demanda de nuestros clientes requiere a los mejores proveedores y por eso Hielo Frío es parte de nosotros
//-         span.secondary-color ´´
//-         |.
//-         .pie-1.primary-color.nombre-quote HOLIDAY INN
//-         .pie-2.primary-color Durango, Durango.
          
//- .horizontal-info#quotes
//-   .content.container.slide-1
//-     .d-flex
//-       .icon
//-         img(src="assets/images/catalogo/basico/logos/Quote_HM_B.svg")
//-       .text
//-         span.primary-color ``
//-         | Desde que instalaron el equipo nuestros clientes siempre tienen hielo disponible a cualquier hora del día
//-         span.secondary-color ´´
//-         |.
//-         .pie-1.primary-color.nombre-quote HOTEL MISIÓN
//-         .pie-2.primary-color Durango, Durango.
                  
//- .horizontal-info#quotes
//-   .content.container.slide-1
//-     .d-flex
//-       .icon
//-         img(src="assets/images/catalogo/basico/logos/Quote_BW_B.svg")
//-       .text
//-         span.primary-color ``
//-         | Tenerlos como aliados fue una de las mejores decisiones que he tomado para mi negocio. En temporada alta nuestros huéspedes siempre van cargados de hielo a sus habitaciones
//-         span.secondary-color ´´
//-         |.
//-         .pie-1.primary-color.nombre-quote BEST WESTERN PLAZA VIZCAYA
//-         .pie-2.primary-color Durango, Durango.
          
//- .horizontal-info#quotes
//-   .content.container.slide-1
//-     .d-flex
//-       .icon
//-         img(src="assets/images/catalogo/basico/logos/Quote_RE_B.svg")
//-       .text
//-         span.primary-color ``
//-         | Es impresionante que tienen el mejor inventario y todo lo necesario para resolver nuestras necesidades. Confiamos plenamente en su servicio
//-         span.secondary-color ´´
//-         |.
//-         .pie-1.primary-color.nombre-quote HOTEL ENCORE
//-         .pie-2.primary-color Puebla, Puebla.