extends templates/_aviso
include helpers/_mixins

block content
  div.header-image.slider
    include templates/_navbar.pug
    .slide 
      .bg
        img(src="assets/images/servicios/Aviso_72.png")
      .container-fluid
        .row.align-items-center
          .col-md-6.ps-md-5
            .text.animate__animated.animate__fadeInUp.delay-05s
              .titulo-1.bright-color
                | Aviso de 
                br
                | Privacidad
              .subtitulo-1.white-color
                | y cookies
  
  .container.descanso
    div.row.align-items-start
      .col-md-6
        .subtitulo-2.primary-color PROTECCIÓN
          br
          span.secondary-color DE INFORMACIÓN.
      .col-md-6
        p De conformidad con lo establecido en la Ley Federal de Protección a Datos Personales en Posesión de los Particulares, 
            strong HIELO FRÍO INTERNACIONAL, S.A. de C.V.
            | , pone a su disposición el siguiente aviso de privacidad.
        p El presente Aviso de Privacidad tiene por objeto dar a conocer el modo en que se recopilan, procesan y protegen los datos de carácter personal, a fin de que los usuarios cuyos datos personales se traten por, 
            strong HIELO FRÍO INTERNACIONAL, S.A. de C.V. 
            | determinen libre y voluntariamente si desean facilitar sus datos personales a través de los formularios habilitados al efecto. Asimismo, este Aviso de Privacidad regula el tratamiento de los datos personales facilitados en el pasado por la persona a través de otras vías distintas al sitio web o los que pueda facilitar en el futuro con remisión al presente Aviso, siempre en la medida en que no contradiga lo expresamente aceptado en el momento de facilitar los datos, que será respetado en todo caso.
        p 
            strong HIELO FRÍO INTERNACIONAL, S.A. de C.V.
            |, es responsable del uso y protección de sus datos personales, en este sentido y atendiendo las obligaciones legales establecidas en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, a través de este instrumento se informa a los titulares de los datos, la información que de ellos se reciba y los fines que se darán a dicha información.

  .container.descanso
    div.row.align-items-start
      .col-md-6
        .subtitulo-2.primary-color TRATAMIENTO DE LOS
          br
          span.secondary-color DATOS PERSONALES Y FINALIDADES DE USO.
      .col-md-6
        p Los datos personales que recibamos serán utilizados para las siguientes finalidades, las cuales son necesarias para conocer nuestra relación con los usuarios, así como atender las solicitudes de información, dudas o preguntas de los interesados, planetadas a través de los espacios disponibles de nuestro sitio web o a tráves de otros canales de comunicación. 
        p De forma directa, cuando sean proporcionados a través de medios electrónicos o vía telefónica, por medio de nuestro página web 
            a(href="http://hielofrio.com").primary-color
                strong www.hielofrio.com
            | , interactuar en nuestras redes sociales, por medio de cookies o correo electrónico.
        p Así mismo cuando se respondan cuestionarios de satisfacción y opinión por medio electrónicos, o cuando se suscriba a concursos por nuestros medios electrónicos.

  .container.descanso
    div.row.align-items-start
        .col-md-6
            .subtitulo-2.primary-color DATOS
                br
                span.secondary-color PERSONALES
        .col-md-6
            p Para las finalidades señaladas en el presente aviso de privacidad, podemos recabar sus datos personales de distintas formas: a) cuando usted nos los proporciona directamente, b) cuando visita nuestro sitio de internet o utiliza nuestros servicios en línea, y c) cuando obtenemos información a través de otras fuentes que están permitidas por la ley.
            p Podremos recabar uno, alguno o todos los siguientes datos personales:
            ul.list
                li Nombre completo.
                li Dirección.
                li Ciudad.
                li Estado.
                li Teléfono Empresa o celular.
                li Correo electrónico.
                li Modelo de equipo.
                
            p 
                strong HIELO FRÍO INTERNACIONAL, S.A. de C.V. 
                | trata los datos personales recabados, para dar cumplimiento a las siguientes finalidades:

            ul.list
                li Enviar comunicaciones comerciales.
                li Tramitar y atender las solicitudes de información y de las dudas o preguntas de los interesados, planteadas a través de los espacios dispuestos en la web o a través de otros canales de comunicación.
                li Estadísticas de página web a través de Google Analytics.
                li Actualización de la Base de Datos.
                li Información y prestación de servicios.
                li Campañas de publicidad y promoción.
                li Campañas de fidelidad.
                li Gestionar las invitaciones a eventos y ferias organizadas.
                li Gestionar la información personal relativa a la convocatoria de puestos de trabajo vacantes.
                li Cualquier finalidad análoga o compatible con las anteriores.

  .container.descanso
    div.row.align-items-start
        .col-md-6
            .subtitulo-2.primary-color ACCESO, RECTIFICACIÓN,
                br
                span.secondary-color CANCELACIÓN Y OPOSICIÓN.
        .col-md-6
            p Queremos señalarle que sus datos personales no serán compartidos con ninguna autoridad, empresa, organización o persona distinta a nosotros y serán utilizados exclusivamente para los fines señalados. En todo momento, tiene derecho a conocer qué datos personales tenemos, para qué los utilizamos y las condiciones de uso que le damos (Acceso). En caso de que su información esté desactualizada, incompleta o sea inexistente, puede solicitarnos la corrección de su información. (Rectificación), de igual manera, tiene derecho a que su información se elimine de nuestros registros en las bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación), estos derechos se conocen como derechos ARCO.
            p Así mismo, le informamos que sus datos personales pueden ser transmitidos para ser tratados por personas distintas a esta empresa.   
            p Para la ejecución de los derechos ARCO, se deberá presentar la solicitud respectiva a través de los formatos que estarán a su disposición en: 
            p 
              a(href="https://www.infoem.org.mx/infoemIncluyentes/src/htm/comoPresentoDerechosArco.html" target="_blank")  
                i https://www.infoem.org.mx/infoemIncluyentes/src/htm/comoPresentoDerechosArco.html
            p Lo anterior también servirá para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO.
            p En todo caso la respuesta a la solicitud se dará en 20 días para atender su petición y le informaremos sobre la procedencia de la misma al teléfono y/o dirección de correo electrónico que nos haya indicado.
            p Cabe mencionar que en cualquier momento usted puede revocar su consentimiento para el uso de sus datos personales. Del mismo modo, usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el trámite de sus datos personales. Así mismo usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que no podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.
            p Para más información, favor de comunicarse con 
                strong HIELO FRÍO INTERNACIONAL, S.A. de C.V.
                | , Ave. Brasilia 2003 Col. Nuevo San Isidro, C.P.27100 en la ciudad de Torreón, Coahuila, e información a través del correo 
                a(href="mailto:contacto@hielofrio.com").primary-color 
                    strong contacto@hielfrio.com 
                | o al teléfono 871 717 2536.


  .container.descanso
    div.row.align-items-start
        .col-md-6
            .subtitulo-2.primary-color COOKIES.
        .col-md-6
            p Las cookies son archivos de texto que son descargados automáticamente y almacenados en el disco duro del equipo de cómputo del usuario al navegar en una página de internet específica. Permiten recordar al servidor de internet algunos datos sobre este usuario, entre ellos, sus preferencias para visualización de las páginas en ese servidor, nombre y contraseña.
            p Le informamos que utilizamos cookies para obtener información personal del usuario, como el país de origen, su tipo de navegador y sistema operativo, páginas de internet que visita, vínculos que sigue, dirección IP, sitio que visitó antes de entrar al nuestro.
            p Estas cookies y otras tecnologías pueden ser deshabilitadas, para ello, favor de consultar la sección de ayuda de su navegador.
         

  .container.descanso
    div.row.align-items-start
        .col-md-6
            .subtitulo-2.primary-color CAMBIOS EN EL
                br
                span.secondary-color AVISO DE PRIVACIDAD.
        .col-md-6
            p Es posible que se deba actualizar este Aviso de Privacidad; por ello se revisará esta política periódicamente. Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones, para la atención de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la presentación u ofrecimiento de nuestros productos, servicios y prácticas de mercado.
            p Estas modificaciones estarán disponibles al público a través de nuestra página web: 
                a(href="http://hielofrio.com").primary-color
                    strong www.hielofrio.com. 
                | Así como por conducto de 
                strong HIELO FRÍO INTERNACIONAL, S.A. de C.V.
                | , en Av. Brasilia 2003 Col. Nuevo San Isidro, C.P.27100, en la ciudad de Torreón, Coahuila, en el correo: 
                a(href="mailto:contacto@hielofrio.com").primary-color
                    strong contacto@hielofrio.com 
                | y el teléfono 871 717 2536.
