extends templates/_servicios
include helpers/_mixins

block content
  div.header-image.slider
    include templates/_navbar.pug
    .slide 
      .bg
        img(src="assets/images/servicios/Back1_72.png")
      .container-fluid
        .row.align-items-center
          .col-md-6.ps-5
            .text
              .titulo-1.secondary-color
                | COMIENZA A ENFRIAR
              .subtitulo-1.white-color
                | en un abrir 
                br
                | y cerrar de ojos.
              .pie-1.white-color
                | CONTAMOS CON DISPONIBILIDAD INMEDIATA.
          .col-md-6
            .image
              img.mx-auto(src="assets/images/servicios/Vaso1_72.png")
    //- .slide 
    //-   .bg
    //-     img(src="assets/images/servicios/Back2_72.png")
    //-   .container-fluid
    //-     .row.align-items-center
    //-       .col-md-6.ps-5
    //-         .text
    //-           .titulo-1.secondary-color
    //-             | ¿CUÁL
    //-             br
    //-             | PREFIERES?
    //-           .subtitulo-1.white-color
    //-             | Estamos para servirte.
    //-           .pie-1.white-color
    //-             | COTIZACIONES SIN COMPROMISO.
    //-       .col-md-6
    //-         .image
    //-           img.mx-auto(src="assets/images/servicios/Carpeta2_72.png")
    //- .slide 
    //-   .bg
    //-     img(src="assets/images/servicios/Back3_72.png")
    //-   .container-fluid
    //-     .row.align-items-center
    //-       .col-md-6.ps-5
    //-         .text
    //-           .titulo-1.secondary-color
    //-             | LLEGAMOS
    //-           .subtitulo-1.white-color
    //-             | hasta donde estés. 
    //-           .pie-1.white-color
    //-             | NUESTRO SERVICIO CUENTA CON COBERTURA 
    //-             br
    //-             | A NIVEL NACIONAL.
    //-       .col-md-6
    //-         .image
    //-           img.mx-auto(src="assets/images/servicios/Caja3_72.png") 
    //- .slide 
    //-   .bg
    //-     img(src="assets/images/servicios/Back4_72.png")
    //-   .container-fluid
    //-     .row.align-items-center
    //-       .col-md-6.ps-5
    //-         .text
    //-           .titulo-1.secondary-color
    //-             | TENEMOS
    //-           .subtitulo-1.white-color
    //-             | para todos. 
    //-           .pie-1.white-color
    //-             | AMPLIA VARIEDAD DE INVENTARIO.
    //-       .col-md-6
    //-         .image
    //-           img.mx-auto(src="assets/images/servicios/Tabla4_72.png") 
    
  
  .container.descanso
    div.row.align-items-start
      .col-md-6
        .subtitulo-2.primary-color SOMOS EL ALIADO 
          br
          span.secondary-color QUE ESTABAS
          br
          | BUSCANDO.
      .col-md-6
        p En Hielo Frío Internacional cuidamos hasta el último detalle de tu máquina.
        p Queremos demostrarte con nuestra experiencia, la dedicación que ponemos a cada equipo.
        p Acércate a nosotros y conoce todos los planes de arrendamiento que tenemos para tu negocio con opciones de mantenimiento incluido.
        p Tenemos la flexibilidad de adaptarnos a tus necesidades y presupuesto.

  .grid 
    include templates/content/servicios/grid-servicios