svg#hover(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 329 223')
  defs
    style.
      .cls-1-avent{fill:#9fb1c8;}.cls-2-avent{fill:#226c93;}
  rect.cls-1-avent(x='97.82' y='58.62' width='29.28' height='0.75')
  rect.cls-2-avent(x='126.48' y='23.96' width='1.25' height='149.95')
  polygon.cls-2-avent(points='327.96 174.89 314.85 174.89 314.85 173.64 326.71 173.64 326.46 59.26 327.71 59.25 327.96 174.89')
  polygon.cls-2-avent(points='130.69 144.73 130.37 144.35 132.6 142.4 321.88 142.4 324.11 144.35 323.79 144.73 321.7 142.9 132.78 142.9 130.69 144.73')
  path.cls-2-avent(d='M319,138.36H135.53V135H319Zm-182.67-.75H318.2V135.7H136.28Z')
  polygon.cls-2-avent(points='136.05 135.5 135.53 134.95 138.49 132.41 138.98 132.98 136.05 135.5')
  polygon.cls-2-avent(points='318.42 135.49 315.68 132.97 316.19 132.42 318.95 134.95 318.42 135.49')
  polygon.cls-2-avent(points='312.5 130.97 309.31 128.26 145.13 128.26 142.15 130.5 141.7 129.9 144.88 127.52 309.59 127.52 312.98 130.4 312.5 130.97')
  polygon.cls-2-avent(points='134.34 142.74 133.87 142.56 134.69 140.42 319.79 140.42 320.59 142.57 320.13 142.74 319.44 140.92 135.03 140.92 134.34 142.74')
  polygon.cls-2-avent(points='136.11 140.75 135.63 140.6 136.57 137.72 317.42 137.72 318.34 140.6 317.86 140.75 317.05 138.22 136.93 138.22 136.11 140.75')
  rect.cls-1-avent(x='40.62' y='43.71' width='0.5' height='17.84' transform='translate(-25.56 57.91) rotate(-56.71)')
  rect.cls-1-avent(x='62.77' y='62.31' width='0.5' height='9.74' transform='translate(-27.72 82.99) rotate(-56.71)')
  polygon.cls-1-avent(points='81.6 140.25 81.1 140.25 81.1 79.34 76.65 76.42 76.93 76 81.6 79.07 81.6 140.25')
  polygon.cls-1-avent(points='77.05 172.48 76.85 172.02 81.1 170.15 81.1 142.85 81.6 142.85 81.6 170.48 77.05 172.48')
  rect.cls-1-avent(x='58.26' y='178.19' width='9.23' height='0.5' transform='translate(-66.56 40.45) rotate(-23.76)')
  rect.cls-1-avent(x='32.64' y='187.86' width='16.45' height='0.5' transform='translate(-72.32 32.4) rotate(-23.76)')
  rect.cls-2-avent(x='76.92' y='142.57' width='9.41' height='0.5' transform='translate(-16.7 10.94) rotate(-6.96)')
  rect.cls-2-avent(x='76.93' y='140.73' width='9.39' height='0.5' transform='translate(-14.13 9.19) rotate(-5.93)')
  rect.cls-1-avent(x='76.94' y='139.83' width='9.37' height='0.5' transform='translate(-13.28 8.63) rotate(-5.6)')
  rect.cls-2-avent(x='91.73' y='73.67' width='0.5' height='7.43' transform='translate(10.98 166.19) rotate(-87.71)')
  rect.cls-1-avent(x='172.2' y='55.38' width='10.08' height='0.5' transform='translate(12.57 141.62) rotate(-45)')
  rect.cls-2-avent(x='180.35' y='30.92' width='0.75' height='21.15')
  rect.cls-1-avent(x='173.52' y='55.44' width='10.24' height='0.5' transform='translate(12.94 142.63) rotate(-45)')
  rect.cls-1-avent(x='153.03' y='55.38' width='10.08' height='0.5' transform='translate(6.96 128.06) rotate(-45)')
  rect.cls-2-avent(x='161.38' y='28.85' width='0.5' height='23.22')
  rect.cls-2-avent(x='162.99' y='30.92' width='0.5' height='21.15')
  rect.cls-1-avent(x='154.5' y='55.44' width='10.24' height='0.5' transform='translate(7.37 129.18) rotate(-45)')
  rect.cls-1-avent(x='196.46' y='55.35' width='9.99' height='0.5' transform='translate(19.69 158.73) rotate(-45)')
  rect.cls-1-avent(x='197.89' y='55.44' width='10.24' height='0.5' transform='translate(20.08 159.86) rotate(-45)')
  rect.cls-2-avent(x='206.14' y='30.92' width='0.75' height='21.15')
  rect.cls-1-avent(x='218.46' y='55.5' width='10.4' height='0.5' transform='translate(26.09 174.48) rotate(-45)')
  rect.cls-2-avent(x='226.87' y='30.92' width='0.75' height='21.15')
  rect.cls-1-avent(x='220.15' y='55.44' width='10.23' height='0.5' transform='translate(26.6 175.59) rotate(-45)')
  rect.cls-1-avent(x='242.89' y='55.44' width='10.24' height='0.5' transform='translate(33.26 191.68) rotate(-45)')
  rect.cls-1-avent(x='244.53' y='55.48' width='10.1' height='0.5' transform='translate(33.7 192.81) rotate(-45)')
  rect.cls-2-avent(x='252.78' y='30.92' width='0.75' height='21.15')
  rect.cls-1-avent(x='266.03' y='55.34' width='9.96' height='0.5' transform='translate(40.07 207.92) rotate(-45)')
  rect.cls-2-avent(x='274.28' y='30.92' width='0.5' height='21.15')
  rect.cls-1-avent(x='267.66' y='55.3' width='9.85' height='0.5' transform='translate(40.56 209.02) rotate(-45)')
  rect.cls-2-avent(x='275.82' y='30.92' width='0.5' height='21.15')
  rect.cls-1-avent(x='288.61' y='55.43' width='9.81' height='0.5' transform='translate(46.6 223.86) rotate(-45)')
  rect.cls-2-avent(x='296.61' y='30.92' width='0.75' height='21.15')
  rect.cls-1-avent(x='289.81' y='55.43' width='10.21' height='0.5' transform='translate(47.01 224.84) rotate(-45)')
  rect.cls-1-avent(x='312.29' y='55.44' width='10.25' height='0.5' transform='translate(53.59 240.76) rotate(-45)')
  rect.cls-1-avent(x='313.95' y='55.43' width='10.21' height='0.5' transform='translate(54.08 241.91) rotate(-45)')
  rect.cls-2-avent(x='322.2' y='30.92' width='0.75' height='21.15')
  path.cls-1-avent(d='M250.6,50.4H230.1L230,32.56H250.5Zm-20-.5h19.49L250,33.06h-19.5Z')
  polygon.cls-1-avent(points='229.05 51.77 228.7 51.41 230.18 49.97 230.53 50.32 229.05 51.77')
  rect.cls-1-avent(x='250.74' y='49.9' width='0.5' height='1.94' transform='translate(28.96 178.48) rotate(-41.35)')
  polygon.cls-1-avent(points='250.44 32.97 250.07 32.64 251.44 31.1 251.81 31.44 250.44 32.97')
  polygon.cls-1-avent(points='230.08 32.98 228.69 31.43 229.06 31.09 230.45 32.63 230.08 32.98')
  rect.cls-1-avent(x='231.41' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='232.84' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='234.27' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='235.7' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='237.14' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='238.57' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='240' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='241.43' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='242.86' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='244.29' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='245.73' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='247.16' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='248.59' y='32.81' width='0.5' height='17.34')
  path.cls-1-avent(d='M320.1,50.4H299.61l-.09-17.84H320Zm-20-.5H319.6l-.09-16.84H300Z')
  polygon.cls-1-avent(points='298.68 51.79 298.32 51.45 299.68 49.97 300.04 50.32 298.68 51.79')
  polygon.cls-1-avent(points='320.83 51.74 319.66 50.3 320.05 49.99 321.22 51.42 320.83 51.74')
  polygon.cls-1-avent(points='319.95 32.97 319.57 32.64 320.95 30.99 321.13 31.54 319.95 32.97')
  rect.cls-1-avent(x='298.88' y='30.99' width='0.5' height='2.04' transform='translate(46.54 195.42) rotate(-39.01)')
  rect.cls-1-avent(x='300.92' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='302.35' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='303.78' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='305.21' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='306.64' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='308.07' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='309.51' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='310.94' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='312.37' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='313.8' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='315.23' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='316.66' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='318.1' y='32.81' width='0.5' height='17.34')
  polygon.cls-1-avent(points='134.1 35.79 133.86 35.35 142.86 30.33 143.1 30.77 134.1 35.79')
  rect.cls-2-avent(x='142.98' y='30.3' width='18.9' height='0.5')
  rect.cls-1-avent(x='133.36' y='31.26' width='10.25' height='0.5' transform='translate(1.79 70.05) rotate(-28.57)')
  rect.cls-2-avent(x='142.98' y='28.81' width='18.9' height='0.5')
  path.cls-1-avent(d='M204.05,50.4H183.56l-.09-17.84H204Zm-20-.5h19.5l-.09-16.84H184Z')
  polygon.cls-1-avent(points='182.43 51.78 182.08 51.42 183.63 49.97 183.98 50.32 182.43 51.78')
  polygon.cls-1-avent(points='204.78 51.76 203.6 50.3 203.99 49.99 205.17 51.44 204.78 51.76')
  polygon.cls-1-avent(points='203.89 32.97 203.53 32.64 204.81 31.06 204.98 31.61 203.89 32.97')
  rect.cls-1-avent(x='182.77' y='31.05' width='0.5' height='2.03' transform='translate(27.26 133.37) rotate(-42.97)')
  rect.cls-1-avent(x='184.86' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='186.29' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='187.73' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='189.16' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='190.59' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='192.02' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='193.45' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='194.88' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='196.32' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='197.75' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='199.18' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='200.61' y='32.81' width='0.5' height='17.34')
  rect.cls-1-avent(x='202.04' y='32.81' width='0.5' height='17.34')
  path.cls-2-avent(d='M146.62,182.12H144.4l-.78-6h3.79Zm-1.56-.75H146l.59-4.48h-2.09Z')
  path.cls-2-avent(d='M311.49,182.12h-2.22l-.79-6h3.79Zm-1.57-.75h.91l.59-4.48h-2.09Z')
  polygon.cls-1-avent(points='142.75 153.56 139.61 153.56 139.61 153.06 142.25 153.06 142.25 146.57 142.75 146.57 142.75 153.56')
  rect.cls-2-avent(x='136.61' y='145.53' width='0.5' height='8.3' transform='translate(-64.84 128.45) rotate(-41.55)')
  rect.cls-2-avent(x='137.22' y='145.76' width='0.5' height='6.45' transform='translate(-64.23 128.68) rotate(-41.55)')
  polygon.cls-1-avent(points='314.85 153.56 311.71 153.56 311.71 146.57 312.21 146.57 312.21 153.06 314.85 153.06 314.85 153.56')
  rect.cls-2-avent(x='313.45' y='149.43' width='8.3' height='0.5' transform='translate(-5.18 287.83) rotate(-48.4)')
  rect.cls-2-avent(x='313.77' y='148.73' width='6.45' height='0.5' transform='translate(-4.87 287.13) rotate(-48.4)')
  path.cls-1-avent(d='M313.31,151.48a.68.68,0,1,1,.68-.68A.68.68,0,0,1,313.31,151.48Zm0-.86a.18.18,0,1,0,.18.18A.18.18,0,0,0,313.31,150.62Z')
  path.cls-1-avent(d='M141.26,151.48a.68.68,0,0,1,0-1.36.68.68,0,0,1,0,1.36Zm0-.86a.18.18,0,1,0,.18.18A.18.18,0,0,0,141.26,150.62Z')
  path.cls-1-avent(d='M312.18,133.64H142.54l5.16-4.26h.09l159.7.1Zm-168.25-.5H310.86L307.3,130l-159.42-.1Z')
  rect.cls-1-avent(x='147.68' y='129.63' width='0.5' height='3.75')
  rect.cls-1-avent(x='307.09' y='129.63' width='0.5' height='3.75')
  polygon.cls-1-avent(points='19.08 207.68 18.33 207.67 18.84 150.47 19.59 150.48 19.08 207.68')
  polygon.cls-1-avent(points='19.62 146.24 18.87 146.23 19.9 31.09 20.65 31.1 19.62 146.24')
  rect.cls-2-avent(x='-6.02' y='177.74' width='56.01' height='0.75' transform='translate(-156.29 198.71) rotate(-89.55)')
  rect.cls-2-avent(x='-33.68' y='89.18' width='112.76' height='0.75' transform='translate(-67.03 111.56) rotate(-89.55)')
  rect.cls-1-avent(x='47.95' y='146.84' width='0.75' height='45.71')
  rect.cls-1-avent(x='47.95' y='51.34' width='0.75' height='92.06')
  polygon.cls-2-avent(points='51.59 190.83 50.84 191.14 50.84 146.55 51.59 146.55 51.59 190.83')
  rect.cls-2-avent(x='50.84' y='53.43' width='0.75' height='89.61')
  rect.cls-2-avent(x='76.58' y='72.01' width='0.75' height='105.79')
  rect.cls-1-avent(x='66.84' y='144.6' width='0.5' height='38.21')
  rect.cls-1-avent(x='66.84' y='64.86' width='0.5' height='76.73')
  rect.cls-2-avent(x='69.32' y='144.28' width='0.75' height='37.21')
  rect.cls-2-avent(x='69.32' y='66.77' width='0.75' height='74.69')
  polygon.cls-1-avent(points='33.36 145.03 33.31 144.53 51 142.78 51.04 142.79 54.76 143.5 54.66 144.02 50.98 143.29 33.36 145.03')
  polygon.cls-2-avent(points='33.36 148.99 33.3 148.5 54.26 145.93 54.26 144.05 33.36 146.21 33.31 145.71 54.76 143.5 54.76 146.37 54.54 146.4 33.36 148.99')
  rect.cls-2-avent(x='32.96' y='40.52' width='0.75' height='159.7')
  polygon.cls-1-avent(points='58.98 142.64 58.93 142.14 69.67 141.08 73.26 141.59 73.18 142.01 69.67 141.58 58.98 142.64')
  rect.cls-2-avent(x='58.58' y='59.01' width='0.75' height='128.14')
  path.cls-2-avent(d='M327.71,52.44h-174A11.15,11.15,0,0,1,142.6,41.31V23.73h.75V41.31a10.4,10.4,0,0,0,10.39,10.38H327V31.17H162.68a1.28,1.28,0,0,1-1.28-1.28V24h.75v5.93a.53.53,0,0,0,.53.53h165Z')
  path.cls-2-avent(d='M147.32,59.63a13.73,13.73,0,0,1-13.71-13.71V23.73h.75V45.92a13,13,0,0,0,13,13l179.64,0V52.07h.75v7.52Z')
  rect.cls-2-avent(x='182.01' y='30.92' width='0.5' height='21.15')
  rect.cls-2-avent(x='204.73' y='30.92' width='0.5' height='21.15')
  rect.cls-2-avent(x='228.63' y='30.92' width='0.5' height='21.15')
  rect.cls-2-avent(x='251.38' y='30.92' width='0.5' height='21.15')
  rect.cls-2-avent(x='298.27' y='30.92' width='0.5' height='21.15')
  rect.cls-2-avent(x='320.79' y='30.92' width='0.5' height='21.15')
  polygon.cls-2-avent(points='58.98 145.85 58.92 145.35 72.76 143.66 72.76 142.14 58.98 143.56 58.93 143.07 73.26 141.59 73.26 144.1 73.04 144.13 58.98 145.85')
  rect.cls-2-avent(x='141.68' y='109.38' width='0.5' height='23.32')
  polygon.cls-2-avent(points='316.31 133.07 312.49 133.07 312.49 132.32 315.56 132.32 315.56 109.13 316.48 109.13 316.48 107.1 138 107.1 138 109.13 139.11 109.13 139.11 132.32 142.17 132.32 142.17 133.07 138.36 133.07 138.36 109.88 137.25 109.88 137.25 106.35 317.23 106.35 317.23 109.88 316.31 109.88 316.31 133.07')
  rect.cls-2-avent(x='312.49' y='109.38' width='0.5' height='23.32')
  polygon.cls-2-avent(points='315.24 176.84 139.24 176.84 139.24 146.61 139.99 146.61 139.99 176.09 314.49 176.09 314.49 146.57 315.24 146.57 315.24 176.84')
  path.cls-2-avent(d='M324.11,146.82H130.37v-2.47H324.11Zm-193.24-.5H323.61v-1.47H130.87Z')
  rect.cls-2-avent(x='138.73' y='109.13' width='177.21' height='0.5')
  polygon.cls-1-avent(points='1.77 205.55 18.8 198.07 18.6 197.62 1.77 205.01 1.77 205.55')
  polygon.cls-1-avent(points='22.22 145.69 1.77 147.71 1.77 148.21 22.21 146.19 27.65 147.01 27.73 146.56 22.22 145.69')
  polygon.cls-1-avent(points='1.77 26.58 1.77 27.18 20.07 39.21 20.34 38.79 1.77 26.58')
  polygon.cls-2-avent(points='1.77 149.24 1.77 149.75 27.23 147.12 27.23 149.24 1.77 152.37 1.77 152.87 27.51 149.71 27.73 149.69 27.73 146.56 1.77 149.24')
  polygon.cls-2-avent(points='1.77 1.26 1.77 2.23 95.31 77.71 95.31 173.73 96.06 173.73 96.06 77.35 1.77 1.26')
  polygon.cls-2-avent(points='1.77 12.88 1.77 13.81 87.89 77.42 87.89 174.27 88.64 174.27 88.64 77.04 1.77 12.88')
  polygon.cls-2-avent(points='1.77 17.21 1.77 18.13 85.91 78.94 85.91 172.8 1.77 215.69 1.77 216.53 86.46 173.37 86.66 173.26 86.66 78.56 1.77 17.21')
  polygon.cls-2-avent(points='102.25 23.96 126.8 59.21 127.41 58.78 103.17 23.96 102.25 23.96')
  polygon.cls-1-avent(points='66.59 23.96 97.45 59.14 97.45 173.73 98.2 173.73 98.2 58.85 67.58 23.96 66.59 23.96')
  polygon.cls-2-avent(points='88.11 173.64 1.77 220.32 1.77 221.74 88.42 174.89 139.61 174.89 139.61 173.64 88.11 173.64')
