svg#circle(width='380' height='380' viewbox='0 0 380 380' fill='none' xmlns='http://www.w3.org/2000/svg')
  path#pathCircle(d='M189.65 13C287.211 13 366.3 92.0889 366.3 189.65C366.3 287.211 287.211 366.3 189.65 366.3C92.0889 366.3 13 287.211 13 189.65C13 95.1578 87.1915 17.994 180.5 13.2329' stroke='#226C93' stroke-width='26' stroke-linecap='round' pathLength="1")
