svg#circle(width='354' height='354' viewbox='0 0 354 354' fill='none' xmlns='http://www.w3.org/2000/svg')
  circle#pathCircle(cx='176.65' cy='176.65' r='163.65' stroke='#226C93' stroke-width='26' pathlength='1')
