svg#Layer_1(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 309 361')
  defs
    style.
      .cls-1-deposito-p{font-size:48.5px;fill:#1f6c91;font-weight:700;letter-spacing:-0.03em;}.cls-2-deposito-p{letter-spacing:-0.01em;}.cls-3-deposito-p{letter-spacing:-0.03em;}.cls-4-deposito-p{letter-spacing:-0.01em;}.cls-5-deposito-p{fill:#226c93;}.cls-6-deposito-p{fill:#9fb2c8;}.cls-7-deposito-p{fill:#9fb1c8;}
  title Artboard 1
  text.cls-1-deposito-p(transform='translate(81.62 42.39)')
    | 4
    tspan.cls-2-deposito-p(x='27.16' y='0') 10
    tspan.cls-3-deposito-p(x='75.18' y='0') K
    tspan.cls-4-deposito-p(x='105.69' y='0') g.
  path.cls-5-deposito-p(d='M131.28,359.84a56.31,56.31,0,0,1-24.54-5.65L37.58,320.8a14.06,14.06,0,0,1-7.91-11.67l-11.92-171,2,.54L31.67,309a12.07,12.07,0,0,0,6.78,10l69.16,33.39A54.36,54.36,0,0,0,140.94,357L267.76,334.4a18,18,0,0,0,14.83-16.56l11.46-171.63,2,.13L284.59,318a20,20,0,0,1-16.48,18.4L141.29,359A57.48,57.48,0,0,1,131.28,359.84Z')
  path.cls-5-deposito-p(d='M118.87,165.26a103.11,103.11,0,0,1-29.64-4.36L17.07,139.29a5.88,5.88,0,0,1-4.19-5.47L11.65,87l2,0,1.23,46.86a3.89,3.89,0,0,0,2.77,3.61L89.8,159a101,101,0,0,0,40,3.69l166.09-17.89a2.15,2.15,0,0,0,1.9-2.05l1.55-50.26,2,.06-1.55,50.26a4.13,4.13,0,0,1-3.68,4L130,164.66A104.78,104.78,0,0,1,118.87,165.26Z')
  path.cls-5-deposito-p(d='M120.09,108.93a147.62,147.62,0,0,1-33-3.74C86.49,105.05,28.43,91.38,7.65,87c-4-.84-6.49-2.66-6.55-4.74,0-.93.43-2.62,3.76-3.54,7.72-2.11,171.08-12.39,178-12.83h0a86.36,86.36,0,0,1,20.31,1.17l101.52,18a3.86,3.86,0,0,1-.33,7.64L133.56,108.32Q126.82,108.94,120.09,108.93Zm62.93-41c-1.7.11-170.1,10.7-177.63,12.76-1.71.47-2.3,1.13-2.29,1.55,0,.7,1.38,2.08,5,2.84,20.8,4.39,78.89,18.07,79.47,18.21a146,146,0,0,0,45.85,3.08l170.83-15.6a1.85,1.85,0,0,0,.16-3.67L202.85,69A84.45,84.45,0,0,0,183,67.89Z')
  polygon.cls-6-deposito-p(points='208.39 318.81 207.89 318.8 211.49 162.35 224.1 160.96 224.15 161.46 211.97 162.8 208.39 318.81')
  polygon.cls-6-deposito-p(points='210.31 220.72 210.32 220.21 222.39 218.88 222.44 219.38 210.31 220.72')
  rect.cls-6-deposito-p(x='208.83' y='280.77' width='12.47' height='0.5' transform='translate(-29.5 25.26) rotate(-6.29)')
  rect.cls-6-deposito-p(x='197.18' y='250.54' width='12.47' height='0.5' transform='translate(-26.26 23.8) rotate(-6.29)')
  polygon.cls-6-deposito-p(points='199.02 190.35 198.97 189.85 211.36 188.49 211.17 189.01 199.02 190.35')
  polygon.cls-6-deposito-p(points='212.67 150.18 212.17 150.17 212.88 109.07 213.09 109.05 225.49 107.68 225.54 108.18 213.37 109.52 212.67 150.18')
  path.cls-7-deposito-p(d='M125.39,102a129.74,129.74,0,0,1-26.78-2.79c-10.38-2.19-24-5-36.08-7.44C46.28,88.47,32.24,85.6,30.23,85a2.86,2.86,0,0,1-1.74-1.2,1.4,1.4,0,0,1,0-1.1c.2-.51.87-1.06,4.24-1.24L40.36,81c11.07-.71,108.75-6.92,131.4-8.55,19.57-1.41,22.71-1.15,38.35,1.61,5.22.93,36.76,6.34,53.7,9.25l10.24,1.76,2.66.46,3.86.65.21,0c1.47.25,2.38.44,2.62,1a1.39,1.39,0,0,1-.06,1.17,1.22,1.22,0,0,1-.89.62l-.35.07c-.83.16-2.07.4-4.43.65l-9.57,1h0l-132.35,10.8Q130.57,102,125.39,102Zm63.27-29.4c-4.28,0-9.35.29-16.83.84C149.18,75.1,51.49,81.31,40.43,82l-7.64.48c-3.21.13-3.34.56-3.38.64a.4.4,0,0,0,0,.29c.07.14.31.38,1.13.66,1.95.55,16,3.42,32.2,6.74,12.05,2.46,25.7,5.25,36.08,7.44a128.81,128.81,0,0,0,36.85,2.36L268,89.83l9.56-1c2.32-.25,3.54-.49,4.35-.64l.36-.07a.35.35,0,0,0,.23-.12.23.23,0,0,0,0-.31,10.32,10.32,0,0,0-1.86-.42l-.21,0-3.86-.66-2.67-.45-10.23-1.76c-16.94-2.91-48.48-8.33-53.71-9.25C200.38,73.38,195.52,72.63,188.66,72.63Z')
