svg#Layer_1(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 442 564')
  defs
    style.
      .cls-1-medidas-p{fill:#226c93;}.cls-2-medidas-p{fill:#9fb1c8;}.cls-3-medidas-p{fill:#55bff0;}
  title Artboard 1
  path.cls-1-medidas-p(d='M11.65,212.49v2.86H1.81V213l4.43-4.87c2-2.21,2.4-3.29,2.4-4.73A2.19,2.19,0,0,0,6.15,201a8.44,8.44,0,0,0-4,1.15l.18-2.91a9,9,0,0,1,4.21-1.08c3.27,0,5.08,1.95,5.08,4.92,0,2.28-.74,4-3.79,7.18l-2.14,2.21Z')
  path.cls-1-medidas-p(d='M13.74,206.94c0-6.19,1.62-8.76,5.61-8.76s5.59,2.57,5.59,8.76-1.62,8.77-5.59,8.77S13.74,213.14,13.74,206.94Zm8.27,0c0-4.6-.63-5.95-2.66-5.95s-2.68,1.35-2.68,5.95.65,6,2.68,6S22,211.53,22,206.94Z')
  path.cls-1-medidas-p(d='M38.29,211.07c0,2.91-2.14,4.64-5.65,4.64S27,214,27,211.22a4.6,4.6,0,0,1,2.93-4.29,4.33,4.33,0,0,1-2.52-4.23c0-2.86,2-4.52,5.28-4.52s5.24,1.64,5.24,4.35a4.43,4.43,0,0,1-2.57,4.06C37.28,207.59,38.29,208.69,38.29,211.07Zm-3.1-.12c0-1.24-.59-1.77-2.2-2.54l-1-.47a3.21,3.21,0,0,0-2,2.85c0,1.32,1,2.2,2.6,2.2S35.19,212.13,35.19,211Zm-4.95-8.21c0,1.16.55,1.71,2.1,2.43l.88.42a3.06,3.06,0,0,0,1.71-2.68,2.08,2.08,0,0,0-2.33-2.06C31.16,200.85,30.24,201.59,30.24,202.74Z')
  path.cls-2-medidas-p(d='M17.11,224.63c0-3.13,1.11-4.56,3.4-4.56a4.47,4.47,0,0,1,1.87.43l.08,1.55a4.06,4.06,0,0,0-1.84-.48c-1.35,0-1.94.82-1.94,3.06s.59,3.06,1.94,3.06a4.37,4.37,0,0,0,2-.55l-.21,1.62a4.47,4.47,0,0,1-1.9.43C18.22,229.19,17.11,227.75,17.11,224.63Z')
  path.cls-2-medidas-p(d='M31.54,220.25V229H30.08v-5.95l-2.35,3.7-2.36-3.7V229H23.94v-8.75h1.29l2.52,4,2.51-4Z')
  path.cls-2-medidas-p(d='M33.19,228.75,33,227.13a8.12,8.12,0,0,0,2.76.56c1.19,0,1.61-.43,1.61-1.11s-.33-.89-1.18-1.11l-1.39-.39a2.29,2.29,0,0,1-1.83-2.48c0-1.5.92-2.53,2.93-2.53a8,8,0,0,1,2.52.38l.07,1.55a8.1,8.1,0,0,0-2.47-.43c-1.12,0-1.5.4-1.5,1s.31.92,1.15,1.14l1.35.38a2.27,2.27,0,0,1,1.91,2.47c0,1.59-.94,2.65-3.09,2.65A7.85,7.85,0,0,1,33.19,228.75Z')
  path.cls-1-medidas-p(d='M282.29,528v17.17h-2.86v-13l-3,1.3v-3Z')
  path.cls-1-medidas-p(d='M289.65,545.5a10.23,10.23,0,0,1-4.37-.84l-.43-2.88a9.82,9.82,0,0,0,4.23.91c1.92,0,2.9-.79,2.88-2.28A2.07,2.07,0,0,0,289.6,538h-2.75v-2.72h2.53c1.64,0,2.21-.86,2.21-2.32s-.83-2.24-2.62-2.24a7,7,0,0,0-3.8,1.06l.18-2.9a9.19,9.19,0,0,1,4.34-.92c3.1,0,4.84,1.54,4.84,4.61,0,1.84-.57,3.19-1.9,3.89,1.59.66,2.28,2,2.3,4.18C295,543.84,293,545.5,289.65,545.5Z')
  path.cls-1-medidas-p(d='M306.51,542.31v2.86h-9.84v-2.36l4.43-4.87c2-2.21,2.4-3.29,2.4-4.73a2.18,2.18,0,0,0-2.48-2.37,8.44,8.44,0,0,0-4,1.15l.18-2.91a9,9,0,0,1,4.21-1.08c3.27,0,5.08,2,5.08,4.92,0,2.28-.74,4-3.8,7.18l-2.14,2.21Z')
  path.cls-2-medidas-p(d='M285.42,554.45c0-3.13,1.11-4.56,3.4-4.56a4.47,4.47,0,0,1,1.87.43l.08,1.55a4.06,4.06,0,0,0-1.84-.48c-1.35,0-1.94.82-1.94,3.06s.59,3.06,1.94,3.06a4.37,4.37,0,0,0,2-.55l-.22,1.62a4.38,4.38,0,0,1-1.89.43C286.53,559,285.42,557.57,285.42,554.45Z')
  path.cls-2-medidas-p(d='M299.85,550.07v8.75h-1.47v-6l-2.34,3.7-2.36-3.7v6h-1.43v-8.75h1.29l2.51,4,2.52-4Z')
  path.cls-2-medidas-p(d='M301.5,558.57l-.22-1.62a8.36,8.36,0,0,0,2.76.56c1.18,0,1.61-.43,1.61-1.11s-.33-.89-1.18-1.11l-1.39-.39a2.31,2.31,0,0,1-1.83-2.48c0-1.5.92-2.53,2.93-2.53a8,8,0,0,1,2.52.38l.07,1.55a8.1,8.1,0,0,0-2.47-.43c-1.12,0-1.5.4-1.5,1s.31.92,1.15,1.14l1.35.37a2.29,2.29,0,0,1,1.91,2.48c0,1.59-.94,2.65-3.09,2.65A7.85,7.85,0,0,1,301.5,558.57Z')
  path.cls-1-medidas-p(d='M74.4,494.1c0,2.91-2.14,4.64-5.65,4.64s-5.7-1.71-5.7-4.49A4.6,4.6,0,0,1,66,490a4.32,4.32,0,0,1-2.53-4.23c0-2.86,2-4.51,5.29-4.51S74,482.85,74,485.56a4.46,4.46,0,0,1-2.56,4.07C73.38,490.62,74.4,491.72,74.4,494.1ZM71.3,494c0-1.24-.59-1.77-2.21-2.54l-1-.47a3.2,3.2,0,0,0-2,2.85c0,1.32,1,2.21,2.59,2.21S71.3,495.16,71.3,494Zm-5-8.2c0,1.15.55,1.7,2.1,2.42l.88.42A3.07,3.07,0,0,0,71,485.94a2.09,2.09,0,0,0-2.34-2.06C67.26,483.88,66.34,484.62,66.34,485.78Z')
  path.cls-1-medidas-p(d='M81.62,481.22v17.16H78.76v-13l-3,1.3v-3Z')
  path.cls-2-medidas-p(d='M61.24,507.66c0-3.12,1.12-4.56,3.4-4.56a4.31,4.31,0,0,1,1.88.44l.08,1.55a4,4,0,0,0-1.85-.49c-1.35,0-1.94.82-1.94,3.06s.59,3.06,1.94,3.06a4.37,4.37,0,0,0,2-.55l-.22,1.63a4.57,4.57,0,0,1-1.9.42C62.36,512.22,61.24,510.79,61.24,507.66Z')
  path.cls-2-medidas-p(d='M75.68,503.29V512H74.21v-5.94l-2.34,3.7-2.37-3.7V512H68.07v-8.74h1.3l2.51,4,2.51-4Z')
  path.cls-2-medidas-p(d='M77.32,511.78l-.22-1.62a8.13,8.13,0,0,0,2.77.56c1.18,0,1.6-.42,1.6-1.11s-.33-.89-1.17-1.11l-1.4-.39a2.29,2.29,0,0,1-1.83-2.47c0-1.5.92-2.54,2.93-2.54a7.65,7.65,0,0,1,2.53.39L82.6,505a7.82,7.82,0,0,0-2.47-.44c-1.13,0-1.5.4-1.5,1s.31.91,1.15,1.13l1.35.38A2.28,2.28,0,0,1,83,509.57c0,1.59-.94,2.65-3.09,2.65A7.92,7.92,0,0,1,77.32,511.78Z')
  polygon.cls-3-medidas-p(points='63.3 439.22 51.81 439.22 53.72 1.4 65.2 1.4 65.2 2.9 55.21 2.9 53.32 437.72 63.3 437.72 63.3 439.22')
  polygon.cls-3-medidas-p(points='142.75 514.28 142.75 502.78 144.25 502.78 144.25 512.76 439.46 508.49 439.46 498.49 440.96 498.49 440.96 509.97 142.75 514.28')
  rect.cls-3-medidas-p(x='97.05' y='417.18' width='1.5' height='117.98' transform='translate(-331.79 248.66) rotate(-50.49)')
