.grid-element
    .icon
        include ../../../svg/home/servicios/mantenimiento.pug
    .text.pie-1 
        | Mantenimiento con el mejor 
        br
        | tiempo de respuesta
.grid-element
    .icon
        include ../../../svg/home/servicios/renta.pug
    .text.pie-1
        | Renta y venta de equipos 
        br
        | con cualquier capacidad
.grid-element
    .icon
        include ../../../svg/home/servicios/cotizacion.pug
    .text.pie-1
        | Cotizaciones sin compromiso
.grid-element
    .icon
        include ../../../svg/home/servicios/republica.pug
    .text.pie-1
        | Apoyo inmediato en todo el país

        