.slides-home.slides-horizontal.container-fluid
    .slide.row.align-items-center
        .image.col-md-5
            img#image_CatalogHome(src="assets/images/catalogo/basica.png")
        .info.col-md-7.d-md-flex.flex-column
            .titulo-1.primary-color.mt-auto#titulo_CatalogHome Básica
            .subtitulo-1.secondary-color#subtitulo_CatalogHome Ideal para que tu negocio
                br
                | sea el más cool.
            .content.mt-3.mb-auto.pe-5#info_CatalogHome
                p Sus dimensiones son tan accesibles que ocupan muy poco espacio dentro de restaurantes pequeños, food courts o cafeterías, incluso puedes instalarla debajo de la barra del bar.
                p Haz tu servicio más eficiente sirviendo el hielo directamente de la máquina, al ubicarla cerca de donde se preparan las bebidas. 
                p De tamaño compacto y fácil manejo, tienes una alta eficiencia en producción de hielo con bajo consumo de energía.
            .buttons
                button(onmouseenter="changeHomeCatalog(1, event)")
                    include ../../../svg/home/maquinas/basica
                button(onmouseenter="changeHomeCatalog(2, event)")
                    include ../../../svg/home/maquinas/intermedia
                button(onmouseenter="changeHomeCatalog(3, event)")
                    include ../../../svg/home/maquinas/premium

    //- .slide
    //-     .image.col-md-4
    //-         img(src="assets/images/catalogo/Inter_72.png")
    //-     .info.col-md-8
    //-         .titulo-1.primary-color INTERMEDIA
    //-         .subtitulo-1.secondary-color Refresca más de lo que puedes imaginar.
    //-         .content  
    //-             p Su elevado diseño la hace tan eficiente que es perfecta si requieres alta demanda para hoteles, expendios, restaurantes medianos y bares. Produce un excelente tamaño de hielo para enfriar cualquier tipo de bebida.
    //-             p Las tenemos disponibles en distintas capacidades y con dispensador opcional. 
    //-             p Con esta máquina obtienes un alto rendimiento en producción, al mismo tiempo que economizas en consumo de energía.

    //- .slide 
    //-     .image.col-md-4
    //-         img(src="assets/images/catalogo/Premium_72.png")
    //-     .info.col-md-8
    //-         .titulo-1.primary-color PREMIUM
    //-         .subtitulo-1.secondary-color La única capaz de congelar 
    //-             br
    //-             | tus sentidos.
    //-         .content 
    //-             p Su poderosa estructura y alta potencia la convierten en una extraordinaria opción para comedores industriales, hoteles, restaurantes grandes, expendios y bares.
    //-             p Tiene la carga ideal para enfriar hieleras con cervezas y regalarle hielo a los clientes.
    //-             p Disponible con una amplia gama de capacidades en producción.
    //-             p Altamente eficiente, competitiva y ahorra energía.
    
    
