@import '../_includes'
body.active
    overflow: hidden
#first
    .slide
        pointer-events: none
        z-index: -1

.slides-home
    .image svg 
        height: 103%
        max-height: 103%
    .content
        margin-top: 31px
    .titulo-1
        line-height: 1.3em
    .subtitulo-1
        margin-top: 7px
    &.intermedio, &.premium
        margin-top: 50px
        
        .slide
            min-height: 100vh
            overflow: visible
        .image
            svg
                height: 95%
                left: 42%
                transform: translateX(-50%)
            img
                height: 90%
                margin: 0 auto
    .image
        max-height: 500px
        height: 100%
        position: relative
        img
            margin: 0 auto
            max-height: 100%
        svg
            position: absolute
            max-height: 103%
            top: 5%
            left: -30px
.intermedio
    .slides-home
        .image
            img
                max-height: 97%
.premium
    .slides-home
        .image
            img
                max-height: 95%
.horizontal-info 
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto
    .subtitulo-3
        font-size: 36px
    .d-flex
        align-items: center
        justify-content: center
        width: 100%
    .icon
        max-width: 200px
        margin-right: 50px
        width: 100%
        position: relative
        &.circle
            img
                padding: 15px
            .contorno
                position: absolute
                transform: translate(-15%, -20%)
                top: 0
                left: 0
                right: 0
                width: 140%
                max-width: unset
            svg
                position: absolute
                top: 0
                right: 0
                transform: translate(18%,-29%)
                z-index: 9
                width: 66%
                max-width: unset
                height: auto
                path, circle
                    stroke-dashoffset: 1
                    stroke-dasharray: 1
                    transition: all 2s ease-in-out
                    &.active
                        stroke-dashoffset: 0 
        
    .text 
        // width: 754px
        text-align: left
        padding-left: 50px

    .content
        max-width: 1200px
        text-align: center
        display: flex
        align-items: center
        justify-content: center
#vertical
    height: 100%
#vertical-1
    .image
        overflow: hidden
        
    img
        background: #eaebed
        position: absolute 
        z-index: 1
    img#dos, img#tres
        opacity: 0
        z-index: 0
    .text
        display: flex
        flex-direction: column
        #uno
            margin-top: 15%
            flex-grow: 1
            height: 100%
        #dos
            margin-top: 15%
            flex-grow: 1
            height: 100%
.detalles
    height: 100vh
    .panel
        height: 100%
    .panel.text > div
        // height: 100%
        margin: 0 auto
    .panel > div, .panel img 
        // opacity: 0
        // transition: all 0.3s
    &.active
        z-index: 0
    .row
        z-index: -1
        height: 100%
        &.active
            z-index: 0
            .panel > div, .panel img
                opacity: 1
    .text
        background: $opaque-blue
        &> div
            padding: 80px
            max-width: 470px
    &.intermedio
        .text
            background: $primary
    &.premium
        .text
            background: $premium
    .texto-2
        margin-top: 35px
        max-width: 400px
    .image
        background: $gray
        img
            padding: 80px
            margin: 0 auto
            max-height: 600px  
            max-width: 480px

.nombre-quote
    margin-top: 35px

.grid.intermedio
    .grid-element:hover
        background: $primary

.grid.premium
    .grid-element:hover
        background: $premium

.menu
    button
        &:after
            background: $primary
        &:before
            background: $primary
.abajo
    cursor: pointer
    width: 50px
    position: absolute
    left: 70%
    bottom: 15px
    z-index: 9
    transition: width 0.1s ease-in-out
    animation: bigger 1s ease-in-out alternate infinite
    &.active
        opacity: 1
        transform: translate(-50%, -50%) scale(1)
    &.highlight
        width: 70px
        height: 70px
        transform: translate(-50%, -50%) scale(1.2)
        path, polygon, rect
            fill: $secondary
@keyframes bigger
    0%
        transform: translateY(0)
    30%
        transform: translateY(-20px)
    80%
        transform: translateY(0)
#quotes
    position: relative
    display: block
    overflow-x: hidden
    .content
        position: absolute
        left: 100%
        opacity: 0
        margin: 0 auto
        top: 50%
        transition: left 0.3s ease-in-out
        transform: translateY(-50%)
        max-width: 800px
        &.active
            opacity: 1
            left: 0
            right: 0
        &.remove
            opacity: 0

.hide-intermedia, .hide-premium
    display: none    
.grid.intermedio  
    .first
        .icon
            display: none
    .icon.hide-intermedia
        display: flex
.grid.premium  
    .first
        .icon
            display: none
    .icon.hide-premium
        display: flex
#scroll.intermedio
    svg#circle
        position: absolute
        top: 21%
        right: 6%
        transform: translate(18%,-29%)
        z-index: 9
        width: 101%
        max-width: unset
        height: auto

    #medidas

#loader
    &.vertical
        width: 50px
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        text-align: center
        z-index: 9
    &.no-animate
        li
            svg
                path
                    stroke: $secondary
                    opacity: 0
                    stroke-dasharray: 76
                    stroke-dashoffset: -76
                    transition: all 0s
            &.active
                svg path
                    opacity: 1
                    stroke-dashoffset: 0
    li
        list-style-type: none
        width: 25px
        display: inline-block
        margin: 0 5px 5px
        cursor: pointer
        background-image: url('../../images/catalogo/basico/Centro.svg')
        svg
            width: 25px
            path
                stroke: $secondary
                opacity: 0
                transition: stroke-dashoffset 6s ease-out
                stroke-dasharray: 75
                stroke-dashoffset: -74
        &.active
            svg path
                opacity: 1
                stroke-dashoffset: 0
.intermedio
    #loader
        &.no-animate
            svg
                path
                    stroke: $primary
        li svg path
            stroke: $primary
.premium
    #loader
        &.no-animate
            svg
                path
                    stroke: $premium
        li svg path
            stroke: $premium
.premium
    .slides-home .image svg
        left: -45px
section.panel
        z-index: -1
section.horizontal
    width: 100%
    height: 100vh
    // cursor: none
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    overflow-x: hidden
    section.panel
        // position: absolute
        width: 100%
        flex-grow: 1
        flex-shrink: 0
        // background: $light-gray
        // left: 150%
        transition: all 1s ease-in-out
        &:first-child
        &.active
            left: 0
        &.remove
            transform: translateX(-100%)
        &:first-child
            
        &#detalles
            z-index: 1

             
    .horizontal
        top: 0
        width: 50px
        position: absolute
        opacity: 0
        z-index: 99
        transition: width 0.1s ease-in-out
        animation: horizontal 1s ease-in-out alternate infinite
        animation-delay: 2s
        &.active
            opacity: 1
@keyframes horizontal
    70%, 100%
        transform: translateX(0)
    0%
        transform: translateX(-20px)
section.panel
    z-index: -1
    *
        z-index: -1

#cursorChange, #cursorChange2
    // height: 300vh
    width: 100%
    overflow: hidden
    height: 100%
    &.hori
        position: relative
        // height: 100%
        width: 100%
        section
            // position: absolute
            left: 100%
            width: 100%
            transition: all 1s
            // &.first
            //     top: 0
            //     left: 100%
            
            
#medidas           
    #left, #bottom, #corner
        transition: all 1s ease-in-out
        opacity: 0
    #animate, #animate2, #animate3
        stroke-dashoffset: 1
        stroke-dasharray: 1
        transition: all 1s ease-in-out
    #animate2, #bottom
        transition-delay: 2s
    #animate3, #corner
        transition-delay: 1s
    &.active
        #animate, #animate2, #animate3
            stroke-dashoffset: 0
        #left, #bottom, #corner
            opacity: 1

#pinContainer2
    position: relative
    height: 100%
    width: 100%
// #pinContainer
//     width: 100%
//     height: 100%
//     overflow: hidden
//     .panel 
//         background: #e2e7e9
// #pinContainer2, #pinContainer2b, #pinContainer2c
//     width: 100%
//     height: 100%
//     overflow: hidden
//     background: linear-gradient(90deg, $secondary 50%, #e2e7e9 50%)
//     .uno, .unoB, .unoC
//         left: 0
//     .dos, .dosB, .dosC
//         right: 0
// #pinContainer2, #pinContainer2b, #pinContainer2c
//     .panel.uno
//         // transform: translateY(20px)
//         // opacity: 0 
//         transition: all 0.5s ease-in-out
//         &.active
//             opacity: 1
//             transform: translateY(0)
//     .panel.dos
//         transform: translateY(-20px)
//         transition: all 0.5s ease-in-out
//         // opacity: 0
//         &.active
//             opacity: 1
//             transform: translateY(0)
// .panel 
    height: 100vh
    width: 100%
    position: absolute
    &.vertical
        width: 50%
#scroll.intermedio, #scroll.premium
    #medidas
        #animate
            transition: all 3s ease
#scroll.premium
    #circle #circle
        transform: rotate(90deg)
@media screen and ( max-width: 768px )
    #first 
        margin-top: 60px
        .info
            margin-top: 35px
    #abajo
        display: none
    .slides-horizontal .slide
        height: auto
    .horizontal-info
        .d-flex
            width: auto
            flex-direction: column 
        .icon
            margin-bottom: 35px
            margin-right: 0px
            max-width: 100px
        .subtitulo-3
            font-size: 18px
            padding-left: 15px
    .detalles
        // overflow-x: hidden
        max-width: 100%
        padding: 0
        .row
            margin: 0
            height: 100vh
            position: relative
            .text, .image
                padding: 0
            .panel.image
                height: 50vh
                position: absolute
                bottom: 0
                text-align: center
                img
                    position: relative
                    height: 100%
                    max-width: 100%
                    padding: 35px 20vw
                    margin: 0 auto
                    left: 0
                    right: 0
    #vertical-1
        .text
            #uno
                margin-top: 20vh
                padding-top: 20vh
            #tres
                margin-bottom: 40vh


