@import '../_includes'

#slides-home-1
    overflow-x: hidden
#image
    z-index: -1
#info a, #info a:hover, #info a:focus
    cursor: none
    color: inherit
#mas
    cursor: none
#show-cursor
    p, #mas, img, .image
        cursor: none
#info, #image, #buttons
    opacity: 0
    transition: all 0.3s ease-in-out
    &.active
        opacity: 1
#info_CatalogHome
    &.content
        margin-top: 31px
#subtitulo_CatalogHome
    margin-top: 7px
#basico-btn
    display: none

#info
    transition-delay: 0.3s
    // transform: translateY(100px)
    &.active
        // transform: translateY(0)

#image
    // transform: translateY(-100px)
    &.active
        // transform: translateY(0)

#buttons
    transition-delay: 0.5s
    transform: translateX(100px)
    button
        cursor: pointer
    &.active
        transform: translateX(0)
#fadeRight
    margin-top: -3px
@include white-logo

