@import '../_includes'

#slides-home-1
    overflow-x: hidden
#image
    z-index: -1
#info a, #info a:hover, #info a:focus
    cursor: none
    color: inherit
#mas
    cursor: none
#show-cursor
    p, #mas, img, .image
        cursor: none
#info, #image, #buttons
    opacity: 0
    transition: all 0.3s ease-in-out
    &.active
        opacity: 1
#slides-home-1
    @media only screen and (max-width: 640px)
        display: none
#slides-home-mobile
    position: relative
    display: flex
    flex-wrap: nowrap
    overflow: hidden
    > .slides
        width: 100%
        display: flex
        flex-wrap: nowrap
        align-items: flex-end
        a
            color: inherit
            flex-grow: 1
            flex-basis: 100%
            flex-shrink: 0
            transition: all 0.3s
            &:first-child
                transform: translateX(105%)
            &:first-child.active
                transform: translateX(0%)
            &:first-child.remove
                transform: translateX(-100%)
            &:nth-child(2)
                margin-left: 15px
                &.active
                    margin-left: 0
                    transform: translateX(-100%)
            &:nth-child(2).remove
                transform: translateX(-200%)
            &:last-child.active
                transform: translateX(calc(-200% - 15px))
            &:last-child.remove
                transform: translateX(0)
    #loader
        &.vertical
            width: 50px
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            text-align: center
            z-index: 9
        &.no-animate
            li
                svg
                    path
                        stroke: $secondary
                        opacity: 0
                        stroke-dasharray: 76
                        stroke-dashoffset: -76
                        transition: all 0s
                &.active
                    svg path
                        opacity: 1
                        stroke-dashoffset: 0
        li
            list-style-type: none
            width: 25px
            display: inline-block
            margin: 0 5px 5px
            cursor: pointer
            background-image: url('../../images/catalogo/basico/Centro.svg')
            svg
                width: 25px
                path
                    stroke: $secondary
                    opacity: 0
                    transition: stroke-dashoffset 5s ease-out
                    stroke-dasharray: 75
                    stroke-dashoffset: -74
            &.active
                svg path
                    opacity: 1
                    stroke-dashoffset: 0
    .slide
        padding-top: 30px
    @media only screen and (min-width: 641px)
        display: none
    #image, #info
        opacity: 1
    #image 
        margin-bottom: 10px
        img
            max-height: 430px
#info_CatalogHome
    &.content
        margin-top: 31px
#subtitulo_CatalogHome
    margin-top: 7px
#basico-btn
    display: none

#info
    transition-delay: 0.3s
    // transform: translateY(100px)
    &.active
        // transform: translateY(0)

#image
    height: 100%
    @media screen and ( min-width: 641px )
        min-height: 530px

    // transform: translateY(-100px)
    &.active
        // transform: translateY(0)

#buttons
    transition-delay: 0.5s
    transform: translateX(100px)
    button
        cursor: pointer
    &.active
        transform: translateX(0)
#fadeRight
    margin-top: -3px
@include white-logo

@media screen and ( max-width: 640px )
    .titulo-1 
        font-size: 48px
    .slides-horizontal.home-slides .slide
        padding: 30px 0 0 
    


