@import '../_includes'

body

@include white-logo

.descanso
    height: auto
    @media screen and ( max-width:  640px)
        padding: 70px 15px
    .row
        height: auto
        min-height: auto

.grid
    .grid-element
        @media screen and ( max-width:  640px)
            height: auto
            background-color: $secondary
        .text
            width: calc( 100% + 70px)
            margin-left: -35px 
            margin-right: -35px 
            height: 0
            overflow: hidden
            @media screen and ( max-width:  640px)
                height: auto

        &:hover
            width: 400px
@media screen and ( max-width:  640px)
    .grid .grid-element:first-child, .grid .grid-element:last-child, .grid .grid-element:nth-child(2)
        height: auto
        background-color: $secondary

.header-image.slider
    position: relative
    .slide
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        .titulo-1
            @media screen and ( max-width:  640px)
                max-width: 320px
                margin-top: 50px
                margin-bottom: 15px
        .image
            @media screen and ( max-width:  640px)
                max-width: 320px
                margin: 50px auto 0
        .pie-1
            margin-top: 15px
            @media screen and ( min-width:  641px)
                margin-top: 80px
        .text, .image
            position: relative
    .bg
        position: absolute
        width: 100%
        height: 100%
        img 
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center


