svg#hover(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 77 106')
  defs
    style.
      .cls-1-basica{fill:#9fb1c8;}.cls-2-basica{fill:#226c93;}
  title Básica
  path.cls-1-basica(d='M42.71,47a147.85,147.85,0,0,1-15-.77l0-.25C28,46,48.28,48.3,61.7,44.8l.06.25C56,46.56,48.9,47,42.71,47Z')
  path.cls-2-basica(d='M7.89,90.14A6.62,6.62,0,0,1,6.41,90,.48.48,0,0,1,6,89.53l-.88-8.88.5-.05.88,8.89a5.09,5.09,0,0,0,2.67-.08l.4-4.6.5,0-.41,4.6a.52.52,0,0,1-.29.41A4,4,0,0,1,7.89,90.14Z')
  path.cls-2-basica(d='M7.82,92.88a5.08,5.08,0,0,1-1.31-.19.43.43,0,0,1-.3-.4V89.72h.5v2.51a3.37,3.37,0,0,0,2.11,0L9,92.06V89.68h.5V92.1a.42.42,0,0,1-.16.33l-.3.21A2.9,2.9,0,0,1,7.82,92.88Z')
  rect.cls-1-basica(x='6.05' y='3.55' width='0.5' height='35.2')
  path.cls-2-basica(d='M7.78,4.11A.44.44,0,0,1,7.45,4a.48.48,0,0,1-.14-.34V2a.48.48,0,0,1,.46-.48l57.64-.1h0a.41.41,0,0,1,.4.35L66,3.38a.41.41,0,0,1-.1.32.41.41,0,0,1-.3.14L7.78,4.11Zm0-2.06V3.63l57.7-.29L65.33,2ZM65.62,3.34ZM65.42,2Z')
  path.cls-2-basica(d='M61.17,10.26A2.56,2.56,0,1,1,63.73,7.7,2.56,2.56,0,0,1,61.17,10.26Zm0-4.62A2.06,2.06,0,1,0,63.23,7.7,2.06,2.06,0,0,0,61.17,5.64Z')
  path.cls-1-basica(d='M61.17,9.37A1.67,1.67,0,1,1,62.84,7.7,1.67,1.67,0,0,1,61.17,9.37Zm0-3.09A1.42,1.42,0,1,0,62.59,7.7,1.42,1.42,0,0,0,61.17,6.28Z')
  polygon.cls-2-basica(points='66.36 32.51 64.93 3.6 65.43 3.58 66.86 32.49 66.36 32.51')
  polygon.cls-2-basica(points='65.65 32.51 64.19 3.6 64.44 3.59 65.9 32.49 65.65 32.51')
  path.cls-2-basica(d='M74.53,71.29l-.27,0v-.37h.25a.36.36,0,0,0,.36-.36V49h.5V70.58a.88.88,0,0,1-.45.76C74.8,71.4,74.67,71.29,74.53,71.29Z')
  polygon.cls-2-basica(points='15.71 89.83 15.21 89.83 15.29 74.31 15.79 74.32 15.71 89.83')
  polygon.cls-1-basica(points='16.56 77.7 16.55 77.45 73.85 74.9 73.86 75.15 16.56 77.7')
  rect.cls-1-basica(x='16.52' y='78.47' width='57.37' height='0.25' transform='translate(-3.63 2.2) rotate(-2.68)')
  polygon.cls-1-basica(points='16.56 82.41 16.55 82.16 73.85 79.19 73.87 79.44 16.56 82.41')
  polygon.cls-1-basica(points='16.56 84.56 16.55 84.31 73.85 81.37 73.87 81.62 16.56 84.56')
  rect.cls-1-basica(x='16.51' y='85.08' width='57.39' height='0.25' transform='translate(-4.59 2.6) rotate(-3.13)')
  rect.cls-1-basica(x='30.91' y='74.75' width='0.25' height='2.18')
  rect.cls-1-basica(x='30.91' y='76.93' width='0.25' height='1.76')
  rect.cls-1-basica(x='30.91' y='79.26' width='0.25' height='1.75')
  rect.cls-1-basica(x='30.91' y='81.54' width='0.25' height='1.63')
  rect.cls-1-basica(x='30.91' y='83.7' width='0.25' height='1.65')
  rect.cls-1-basica(x='30.91' y='85.97' width='0.25' height='1.97')
  rect.cls-1-basica(x='45.42' y='74.21' width='0.25' height='2.12')
  rect.cls-1-basica(x='45.42' y='76.33' width='0.25' height='1.76')
  rect.cls-1-basica(x='45.42' y='78.62' width='0.25' height='1.75')
  rect.cls-1-basica(x='45.42' y='80.78' width='0.25' height='1.63')
  rect.cls-1-basica(x='45.42' y='83' width='0.25' height='1.65')
  rect.cls-1-basica(x='45.42' y='85.17' width='0.25' height='1.97')
  rect.cls-1-basica(x='59.67' y='73.59' width='0.25' height='2.12')
  rect.cls-1-basica(x='59.67' y='75.72' width='0.25' height='1.76')
  rect.cls-1-basica(x='59.67' y='78.01' width='0.25' height='1.75')
  rect.cls-1-basica(x='59.67' y='80.08' width='0.25' height='1.63')
  rect.cls-1-basica(x='59.67' y='82.26' width='0.25' height='1.65')
  rect.cls-1-basica(x='59.67' y='84.44' width='0.25' height='1.97')
  path.cls-2-basica(d='M19.11,101.59a6.1,6.1,0,0,1-1.73-.27.58.58,0,0,1-.4-.51l-1.15-11,.49-.06,1.15,11a.1.1,0,0,0,.07.08,4.44,4.44,0,0,0,2.86,0s.06,0,.06-.08L21.7,89.5l.5.06L21,100.83a.59.59,0,0,1-.37.49A4,4,0,0,1,19.11,101.59Z')
  path.cls-2-basica(d='M18.8,104.68a3.15,3.15,0,0,1-1.21-.23.59.59,0,0,1-.38-.55v-2.82h.5v2.82a.1.1,0,0,0,.07.09,3,3,0,0,0,2.35-.09l.12-.07a.09.09,0,0,0,.05-.08l0-2.74h.5l0,2.74a.59.59,0,0,1-.31.52l-.17.09A3.84,3.84,0,0,1,18.8,104.68Z')
  path.cls-2-basica(d='M52.54,90.37a4.4,4.4,0,0,1-1.3-.21.47.47,0,0,1-.33-.46V87.93h.5V89.7a3.27,3.27,0,0,0,2.08,0l0-1.91H54v1.92a.47.47,0,0,1-.29.45A2.94,2.94,0,0,1,52.54,90.37Z')
  path.cls-2-basica(d='M68.57,98.43a7.28,7.28,0,0,1-1.6-.19.58.58,0,0,1-.43-.49L65.41,87.16l.5,0L67,97.7a0,0,0,0,0,0,0,5.61,5.61,0,0,0,2.75,0l1.14-11,.5,0-1.11,10.9a.55.55,0,0,1-.39.48A5,5,0,0,1,68.57,98.43Z')
  polygon.cls-2-basica(points='15.55 74.8 15.53 74.3 75.11 71.65 75.13 72.15 15.55 74.8')
  rect.cls-2-basica(x='14.94' y='73.73' width='0.5' height='0.98' transform='translate(-48.9 33.83) rotate(-46.22)')
  polygon.cls-2-basica(points='15.09 73.88 14.59 73.88 14.71 50.85 15.21 50.85 15.09 73.88')
  rect.cls-2-basica(x='15.42' y='50.91' width='0.25' height='22.81')
  rect.cls-2-basica(x='74.4' y='49.02' width='0.25' height='22.11')
  polygon.cls-1-basica(points='24.72 82.67 24.72 81.86 24.97 81.86 24.97 82.4 59.79 80.67 59.8 80.92 24.72 82.67')
  polygon.cls-1-basica(points='24.72 80.48 24.72 79.67 24.97 79.67 24.97 80.22 59.79 78.57 59.8 78.82 24.72 80.48')
  polygon.cls-1-basica(points='24.86 78.09 24.86 77.28 25.11 77.28 25.11 77.83 59.81 76.3 59.82 76.55 24.86 78.09')
  polygon.cls-1-basica(points='24.72 84.91 24.72 84.1 24.97 84.1 24.97 84.65 59.79 82.8 59.8 83.05 24.72 84.91')
  rect.cls-1-basica(x='5.08' y='34.47' width='0.5' height='7.7' transform='translate(-31.81 27.47) rotate(-65.81)')
  polygon.cls-2-basica(points='14.59 50.82 14.1 50.76 14.37 48.52 14.87 48.59 14.59 50.82')
  path.cls-1-basica(d='M9.94,35a.37.37,0,0,1-.29-.14L8.88,34l.2-.16.76.92a.11.11,0,0,0,.1.05l57.33-1.45v.25L10,35Z')
  path.cls-1-basica(d='M9.5,36.67a1.75,1.75,0,0,1,.26-.88l0-.89H10l0,1,0,0a1.52,1.52,0,0,0-.24.77Z')
  polygon.cls-2-basica(points='9.23 33.73 8.25 3.86 8.75 3.85 9.73 33.72 9.23 33.73')
  rect.cls-2-basica(x='9.97' y='3.85' width='0.25' height='29.84' transform='translate(-0.59 0.33) rotate(-1.8)')
  path.cls-2-basica(d='M16.76,88.83a.32.32,0,0,1-.23-.09.31.31,0,0,1-.1-.24v-13a.33.33,0,0,1,.31-.33l56.9-2.38a.42.42,0,0,1,.24.09.33.33,0,0,1,.1.24V85.44a.32.32,0,0,1-.31.33L16.78,88.83ZM73.65,73.09h0l-56.9,2.38a.08.08,0,0,0-.07.08v13a.08.08,0,0,0,0,.06.07.07,0,0,0,.06,0l56.9-3.06a.07.07,0,0,0,.07-.08V73.17s0,0,0,0A.09.09,0,0,0,73.65,73.09Z')
  path.cls-2-basica(d='M75.17,71.1a.58.58,0,0,0-.47-.18L15.09,73.51a.63.63,0,0,0-.61.64V88.87L3.06,78.06V69.89l-1-6.45V36.58l-.23-.11L2,3.26h-.5l-.12,33.3a.35.35,0,0,0,.19.31l0,0V63.48l1,6.44v8.35l12,11.36.35.24a1.56,1.56,0,0,0,.84.25h.09l58.91-3.22a.64.64,0,0,0,.61-.65V71.56A.61.61,0,0,0,75.17,71.1Zm-.3,15.14a.15.15,0,0,1-.13.15L15.82,89.61a1,1,0,0,1-.64-.16l-.2-.13V74.15a.14.14,0,0,1,.14-.14l59.6-2.59a.12.12,0,0,1,.11,0,.16.16,0,0,1,0,.1Z')
  polygon.cls-1-basica(points='9.47 36.72 9.46 36.47 10.03 36.45 10.04 36.7 9.47 36.72')
  path.cls-1-basica(d='M9.63,39.6l-.22-.11a6.3,6.3,0,0,0,.18-2.64.3.3,0,0,0-.08-.12.17.17,0,0,0-.14,0c-.17.09-.28.42-.31.53l-.24-.06a1.18,1.18,0,0,1,.43-.69.43.43,0,0,1,.35,0,.42.42,0,0,1,.22.26A6.34,6.34,0,0,1,9.63,39.6Z')
  path.cls-2-basica(d='M10.39,39.06l-.47-.17a5.64,5.64,0,0,0-.16-2.75.56.56,0,0,1,.06-.47.51.51,0,0,1,.41-.21l57.25-1.29v.49h-.33L10.24,36A6.28,6.28,0,0,1,10.39,39.06Z')
  path.cls-2-basica(d='M14.64,51.09a1,1,0,0,1-.9-.56L9.21,41.61a.45.45,0,0,1-.05-.19v-.8l-.57-.57V34.42a1,1,0,0,1,1-.92l15.74-.38,41.45-.86a.46.46,0,0,1,.48.47v.58a1.14,1.14,0,0,1,.46.45v.43a.47.47,0,0,1,.34.33,5.92,5.92,0,0,1-.07,3l7.37,8.35A2.33,2.33,0,0,1,76,47.44v1.24a.6.6,0,0,1-.58.6l-24.83,1-35.88.79ZM9.09,39.84l.57.58v1l4.52,8.89a.49.49,0,0,0,.47.28l35.87-.79,24.83-1a.11.11,0,0,0,.1-.1V47.44a1.83,1.83,0,0,0-.46-1.2l-7.58-8.59.07-.15a5.17,5.17,0,0,0,.11-2.84H67.2l0-.76s-.2-.16-.35-.26l-.12-.07v-.85l-41.42.89L9.61,34s-.52,0-.52.42Z')
  path.cls-2-basica(d='M15,48.91a.86.86,0,0,1-.77-.48L9.78,39.55h0l-.07,1-.49,0,.07-1.09a.38.38,0,0,1,.38-.36h.23a.39.39,0,0,1,.35.22l4.44,8.94a.38.38,0,0,0,.33.2l30.93-.34,29.7-1.45,0,.5L45.92,48.57,15,48.91ZM9.75,39.49Z')
  path.cls-2-basica(d='M7.75,4.1l-6.4-.58a.32.32,0,0,1-.3-.32s0-1.54,0-1.62a.35.35,0,0,1,.07-.18.31.31,0,0,1,.23-.08L8,1.55l-.32.56L1.55,1.82V3l6.22.58Z')
  polygon.cls-2-basica(points='9.75 39.52 9.4 39.12 10.08 38.73 10.15 38.72 67.7 37.35 67.71 37.85 10.23 39.22 9.75 39.52')
  path.cls-2-basica(d='M68.31,101.45a2.9,2.9,0,0,1-1.24-.23.51.51,0,0,1-.29-.46V98h.5v2.77a3.56,3.56,0,0,0,2.23,0,.4.4,0,0,0,.18-.07.11.11,0,0,0,0-.08l0-2.66h.5l0,2.64a.53.53,0,0,1-.15.45.84.84,0,0,1-.43.21A6.16,6.16,0,0,1,68.31,101.45Z')
