svg#hover(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 50 125')
  defs
    style.
      .cls-1-i{fill:#226c93;}.cls-2-i{fill:#9fb1c8;}
  title Intermedia
  path.cls-1-i(d='M31.88,117.12c-1.13,0-3.77,0-3.77-.5,0-.11,0-.43,3-.5v.25a12.48,12.48,0,0,0-2.65.25,15.42,15.42,0,0,0,3.43.26,15.49,15.49,0,0,0,3.43-.26,11.79,11.79,0,0,0-2.56-.25v-.25c2.88.08,2.88.39,2.88.5C35.64,117.08,33,117.12,31.88,117.12Z')
  path.cls-1-i(d='M31.88,117.54c-1.13,0-3.77-.05-3.77-.51v-.41h.25V117a13.32,13.32,0,0,0,3.52.29,13.15,13.15,0,0,0,3.51-.29v-.38h.25V117C35.64,117.49,33,117.54,31.88,117.54Z')
  path.cls-1-i(d='M31.88,115.19c-.58,0-1,0-1,0l-.18,0-.36-1.81.49-.09.28,1.44a10.92,10.92,0,0,0,1.54,0l.34-1.54.49.11-.42,1.9-.18,0C32.52,115.18,32.17,115.19,31.88,115.19Z')
  path.cls-1-i(d='M32,116.78a6.52,6.52,0,0,1-.92-.08l-.21,0v-1.75h.5v1.33a4.11,4.11,0,0,0,1.16,0v-1.32H33v1.68l-.16.06A2.36,2.36,0,0,1,32,116.78Z')
  path.cls-1-i(d='M42.76,122.09c-.68,0-4.06,0-4.06-.57,0-.31,1.06-.5,3.14-.56v.25a11.49,11.49,0,0,0-2.85.31,14,14,0,0,0,3.76.32,14,14,0,0,0,3.76-.32,11.26,11.26,0,0,0-2.83-.31V121c2.08.06,3.13.25,3.13.56C46.82,122.07,43.44,122.09,42.76,122.09Z')
  path.cls-1-i(d='M42.76,122.54c-.68,0-4.06,0-4.06-.57v-.45H39v.42a12.45,12.45,0,0,0,3.81.35,12.34,12.34,0,0,0,3.81-.35v-.42h.25V122C46.82,122.51,43.44,122.54,42.76,122.54Z')
  path.cls-1-i(d='M42.88,120.16a6.6,6.6,0,0,1-1.27-.13l-.16,0-1.26-7,.49-.09,1.2,6.68a5.13,5.13,0,0,0,1.72,0l1.28-6.84.5.09L44,120l-.14,0A3.44,3.44,0,0,1,42.88,120.16Z')
  path.cls-1-i(d='M42.85,121.71a4.56,4.56,0,0,1-1.07-.13l-.18,0v-1.71h.5v1.31a3.44,3.44,0,0,0,1.34,0v-1.33h.5v1.7l-.17,0A2.94,2.94,0,0,1,42.85,121.71Z')
  path.cls-1-i(d='M13.85,123.27c-.69,0-4.18,0-4.18-.63s2.08-.59,3.32-.62v.25a9.88,9.88,0,0,0-3.06.37,12.87,12.87,0,0,0,3.91.38,13,13,0,0,0,3.92-.38,9.29,9.29,0,0,0-2.92-.36V122c1.45,0,3.18.18,3.18.61C18,123.24,14.55,123.27,13.85,123.27Z')
  path.cls-1-i(d='M13.85,123.7c-.69,0-4.18,0-4.18-.63v-.43h.25v.43a12.31,12.31,0,0,0,3.93.38,11.09,11.09,0,0,0,4-.41v-.4H18v.43C18,123.67,14.55,123.7,13.85,123.7Z')
  path.cls-1-i(d='M14,121.13a6.92,6.92,0,0,1-1.27-.12l-.16,0-1.47-8,.49-.09L13,120.55a5.63,5.63,0,0,0,1.76,0l1.3-6.87.49.09L15.19,121,15,121A4,4,0,0,1,14,121.13Z')
  path.cls-1-i(d='M13.93,122.77a4.69,4.69,0,0,1-1-.09l-.19,0V120.8h.5v1.43a5.45,5.45,0,0,0,1.36,0v-1.4h.5v1.81l-.21,0A5,5,0,0,1,13.93,122.77Z')
  path.cls-1-i(d='M5.25,118.19c-.64,0-3.86,0-3.86-.58s1.64-.53,3-.56v.25a10,10,0,0,0-2.75.31,12.39,12.39,0,0,0,3.58.33,12.43,12.43,0,0,0,3.59-.33,10,10,0,0,0-2.75-.31v-.25c1.38,0,3,.16,3,.56S5.9,118.19,5.25,118.19Z')
  path.cls-1-i(d='M5.25,118.65c-.64,0-3.86,0-3.86-.58v-.46h.25V118a10.91,10.91,0,0,0,3.61.36A11,11,0,0,0,8.87,118v-.43h.25v.46C9.12,118.62,5.9,118.65,5.25,118.65Z')
  path.cls-1-i(d='M5.24,116.24a3.52,3.52,0,0,1-1.09-.16L4,116,2.7,108.85l.5-.09,1.26,6.89a3.54,3.54,0,0,0,1.59,0l.86-4.79.49.09L6.49,116l-.15,0A3.8,3.8,0,0,1,5.24,116.24Z')
  path.cls-1-i(d='M5.24,117.73a5.33,5.33,0,0,1-.87-.07l-.2,0V115.9h.5v1.3a5,5,0,0,0,1.17,0v-1.3h.5v1.73l-.21,0A6,6,0,0,1,5.24,117.73Z')
  rect.cls-1-i(x='13.25' y='75.16' width='0.25' height='38.66')
  rect.cls-1-i(x='12.43' y='74.42' width='0.5' height='39.21')
  path.cls-1-i(d='M4.13,48.87c.09,0,.16.13.16.3s-.07.3-.16.3S4,49.34,4,49.17s.07-.3.17-.3m0-.25c-.24,0-.42.24-.42.55s.18.55.42.55.41-.24.41-.55-.18-.55-.41-.55Z')
  path.cls-1-i(d='M7.79,48.45c.09,0,.16.14.16.32s-.07.32-.16.32-.17-.15-.17-.32.08-.32.17-.32m0-.25c-.24,0-.42.24-.42.57s.18.57.42.57.41-.24.41-.57S8,48.2,7.79,48.2Z')
  polygon.cls-2-i(points='1.75 48.65 1.72 48.4 8.57 47.57 8.6 47.82 1.75 48.65')
  rect.cls-1-i(x='12.09' y='50.33' width='0.25' height='23.27' transform='translate(-2.43 0.53) rotate(-2.26)')
  polygon.cls-1-i(points='46.82 49.91 12.13 49.46 12.13 49.21 46.82 49.66 46.82 49.91')
  rect.cls-2-i(x='17.21' y='49.99' width='0.25' height='25.22' transform='translate(-2.91 0.88) rotate(-2.69)')
  polygon.cls-2-i(points='18.41 75.17 17.18 50.02 17.43 50.01 18.66 75.15 18.41 75.17')
  rect.cls-2-i(x='23.61' y='50.12' width='0.25' height='25.03' transform='translate(-2.91 1.18) rotate(-2.69)')
  polygon.cls-2-i(points='24.8 75.14 23.57 50.15 23.82 50.14 25.05 75.13 24.8 75.14')
  rect.cls-2-i(x='29.83' y='50.21' width='0.25' height='24.89' transform='translate(-2.91 1.48) rotate(-2.69)')
  polygon.cls-2-i(points='31.02 75.08 29.8 50.23 30.05 50.22 31.27 75.07 31.02 75.08')
  rect.cls-2-i(x='36.11' y='50.3' width='0.25' height='24.74' transform='translate(-2.91 1.77) rotate(-2.7)')
  polygon.cls-2-i(points='37.3 75.03 36.08 50.33 36.33 50.32 37.55 75.02 37.3 75.03')
  rect.cls-2-i(x='42.34' y='50.39' width='0.25' height='24.6' transform='translate(-2.9 2.07) rotate(-2.7)')
  polygon.cls-2-i(points='43.52 74.97 42.31 50.41 42.56 50.4 43.77 74.96 43.52 74.97')
  path.cls-2-i(d='M11.09,51.71h-.77V48.44l1.33-.15a1.44,1.44,0,0,1,.61-.95l.12.22a1.25,1.25,0,0,0-.5.86v.1l-1.3.14v2.8h.52Z')
  polygon.cls-1-i(points='10.85 47.45 10.35 47.45 10.35 45.48 10.6 45.48 44.68 45.78 44.68 46.28 10.85 45.98 10.85 47.45')
  path.cls-1-i(d='M15.69,39.48A1.52,1.52,0,1,1,14.17,41a1.52,1.52,0,0,1,1.52-1.51m0-.5a2,2,0,1,0,2,2,2,2,0,0,0-2-2Z')
  path.cls-2-i(d='M15.69,42.19A1.2,1.2,0,1,1,16.88,41,1.2,1.2,0,0,1,15.69,42.19Zm0-2.14a.95.95,0,1,0,.94.94A.94.94,0,0,0,15.69,40.05Z')
  rect.cls-1-i(x='11.91' y='1.67' width='0.25' height='44.08')
  rect.cls-2-i(x='0.98' y='6.85' width='10.51' height='0.25' transform='translate(-2.62 3.95) rotate(-29.36)')
  path.cls-1-i(d='M21.21,4.57l-6.46-.18V3l6.46.2ZM15,4.15l6,.17V3.48l-6-.19Z')
  path.cls-1-i(d='M43.57,45.31h-.13l-18.27-.24V24.17h.13l18.27.48Zm-18.15-.49,17.9.23V24.89l-17.9-.47Z')
  path.cls-2-i(d='M42.78,44.5h-.13L26,44.14V36.42H27V32.84H26V25.26h.13l16.68.35Zm-16.56-.6,16.31.35V25.87l-16.31-.35v7.07h1.07v4.08H26.22Z')
  polygon.cls-2-i(points='42.65 43.6 26.1 43.26 26.1 43.01 42.66 43.35 42.65 43.6')
  rect.cls-2-i(x='34.25' y='34.08' width='0.25' height='16.56' transform='translate(-8.5 76.09) rotate(-89.13)')
  polygon.cls-2-i(points='42.65 41.69 26.1 41.48 26.1 41.23 42.65 41.44 42.65 41.69')
  rect.cls-2-i(x='34.25' y='32.24' width='0.25' height='16.56' transform='translate(-6.69 74.23) rotate(-89.07)')
  rect.cls-2-i(x='34.25' y='31.29' width='0.25' height='16.56' transform='translate(-5.71 73.35) rotate(-89.14)')
  polygon.cls-2-i(points='42.65 38.89 26.1 38.6 26.1 38.35 42.65 38.64 42.65 38.89')
  rect.cls-2-i(x='34.25' y='29.4' width='0.25' height='16.56' transform='translate(-3.82 71.48) rotate(-89.14)')
  rect.cls-2-i(x='34.77' y='28.92' width='0.25' height='15.49' transform='translate(-2.29 71) rotate(-89.13)')
  polygon.cls-2-i(points='42.65 35.95 27.16 35.67 27.17 35.42 42.65 35.7 42.65 35.95')
  polygon.cls-2-i(points='42.65 35 27.16 34.73 27.17 34.48 42.65 34.75 42.65 35')
  polygon.cls-2-i(points='42.65 34.07 27.16 33.77 27.17 33.52 42.66 33.82 42.65 34.07')
  polygon.cls-2-i(points='42.67 33.1 27.16 32.84 27.17 32.59 42.67 32.85 42.67 33.1')
  rect.cls-2-i(x='34.26' y='23.72' width='0.25' height='16.57' transform='translate(1.86 65.9) rotate(-89.13)')
  polygon.cls-2-i(points='42.67 31.27 26.1 31.09 26.1 30.84 42.67 31.02 42.67 31.27')
  polygon.cls-2-i(points='42.65 30.38 26.1 30.09 26.1 29.84 42.65 30.13 42.65 30.38')
  rect.cls-2-i(x='34.26' y='20.88' width='0.25' height='16.57' transform='translate(4.69 63.09) rotate(-89.11)')
  rect.cls-2-i(x='34.26' y='19.93' width='0.25' height='16.57' transform='translate(5.66 62.18) rotate(-89.15)')
  polygon.cls-2-i(points='42.67 27.55 26.1 27.25 26.1 27 42.67 27.3 42.67 27.55')
  polygon.cls-2-i(points='42.65 26.63 26.1 26.27 26.1 26.02 42.66 26.38 42.65 26.63')
  rect.cls-2-i(x='28.91' y='25.45' width='0.25' height='18.63')
  rect.cls-2-i(x='34.27' y='25.55' width='0.25' height='18.53')
  rect.cls-2-i(x='39.39' y='25.68' width='0.25' height='18.63')
  rect.cls-2-i(x='39.75' y='26.49' width='0.25' height='0.8' transform='translate(12.35 66.33) rotate(-89.09)')
  rect.cls-2-i(x='39.75' y='27.45' width='0.25' height='0.8' transform='translate(11.45 67.31) rotate(-89.16)')
  rect.cls-2-i(x='39.75' y='28.38' width='0.25' height='0.8' transform='translate(10.51 68.22) rotate(-89.16)')
  rect.cls-2-i(x='39.75' y='29.35' width='0.25' height='0.8' transform='translate(9.5 69.14) rotate(-89.09)')
  rect.cls-2-i(x='39.75' y='30.26' width='0.25' height='0.8' transform='translate(8.63 70.08) rotate(-89.16)')
  rect.cls-2-i(x='39.75' y='31.2' width='0.25' height='0.8' transform='translate(7.64 70.97) rotate(-89.09)')
  rect.cls-2-i(x='28.91' y='4.32' width='0.25' height='18.63')
  rect.cls-2-i(x='34.27' y='4.42' width='0.25' height='18.53')
  rect.cls-2-i(x='39.39' y='4.54' width='0.25' height='18.63')
  rect.cls-2-i(x='39.75' y='5.49' width='0.25' height='0.8' transform='translate(33.35 45.66) rotate(-89.09)')
  rect.cls-2-i(x='39.75' y='6.45' width='0.25' height='0.8' transform='translate(32.39 46.61) rotate(-89.09)')
  rect.cls-2-i(x='39.75' y='7.39' width='0.25' height='0.8' transform='translate(31.45 47.53) rotate(-89.09)')
  rect.cls-2-i(x='39.75' y='8.29' width='0.25' height='0.8' transform='translate(30.56 48.41) rotate(-89.09)')
  rect.cls-2-i(x='39.75' y='9.22' width='0.25' height='0.8' transform='translate(29.62 49.34) rotate(-89.09)')
  rect.cls-2-i(x='39.75' y='10.17' width='0.25' height='0.8' transform='translate(28.67 50.27) rotate(-89.09)')
  path.cls-1-i(d='M43.57,24.37h-.13L25.17,24V3.23h.13l18.27.6Zm-18.15-.63,17.9.38v-20l-17.9-.58Z')
  path.cls-2-i(d='M42.78,23.37h-.13L26,23V15.29H27V11.71H26V4.13h.13l16.68.36Zm-16.56-.6,16.31.35V4.73L26.22,4.38v7.08h1.07v4.08H26.22Z')
  polygon.cls-2-i(points='42.65 22.46 26.1 22.13 26.1 21.88 42.66 22.21 42.65 22.46')
  rect.cls-2-i(x='34.25' y='12.96' width='0.25' height='16.56' transform='translate(12.63 55.29) rotate(-89.14)')
  polygon.cls-2-i(points='42.65 20.53 26.1 20.32 26.1 20.07 42.65 20.28 42.65 20.53')
  rect.cls-2-i(x='34.25' y='11.08' width='0.25' height='16.56' transform='translate(14.46 53.42) rotate(-89.07)')
  rect.cls-2-i(x='34.25' y='10.14' width='0.25' height='16.56' transform='translate(15.44 52.52) rotate(-89.14)')
  polygon.cls-2-i(points='42.65 17.75 26.1 17.47 26.1 17.22 42.65 17.5 42.65 17.75')
  rect.cls-2-i(x='34.25' y='8.27' width='0.25' height='16.56' transform='translate(17.31 50.67) rotate(-89.14)')
  rect.cls-2-i(x='34.78' y='7.78' width='0.25' height='15.49' transform='translate(18.86 50.19) rotate(-89.13)')
  polygon.cls-2-i(points='42.65 14.81 27.16 14.54 27.17 14.29 42.65 14.56 42.65 14.81')
  polygon.cls-2-i(points='42.65 13.87 27.16 13.61 27.17 13.36 42.65 13.62 42.65 13.87')
  polygon.cls-2-i(points='42.65 12.95 27.16 12.65 27.17 12.4 42.66 12.7 42.65 12.95')
  polygon.cls-2-i(points='42.67 11.97 27.16 11.71 27.17 11.46 42.67 11.72 42.67 11.97')
  rect.cls-2-i(x='34.26' y='2.64' width='0.25' height='16.57' transform='translate(22.94 45.14) rotate(-89.13)')
  polygon.cls-2-i(points='42.66 10.28 26.1 9.95 26.1 9.7 42.67 10.03 42.66 10.28')
  rect.cls-2-i(x='34.25' y='0.77' width='0.25' height='16.56' transform='translate(24.54 43.21) rotate(-88.68)')
  polygon.cls-2-i(points='42.66 8.42 26.1 8.06 26.1 7.81 42.67 8.17 42.66 8.42')
  rect.cls-2-i(x='34.25' y='-1.1' width='0.25' height='16.56' transform='translate(26.41 41.38) rotate(-88.68)')
  polygon.cls-2-i(points='42.65 6.59 26.1 6.14 26.1 5.89 42.66 6.34 42.65 6.59')
  rect.cls-2-i(x='34.26' y='-2.98' width='0.25' height='16.57' transform='translate(28.29 39.56) rotate(-88.68)')
  path.cls-1-i(d='M13.7,114.07a3.14,3.14,0,0,1-1.41-.33l-11-5.42V48.61l.08-.13V9.63l-.11,0V6.88l9.4-5.43a1.36,1.36,0,0,1,.59-.15L44.7,2.49a.52.52,0,0,1,.5.53V45.91a.38.38,0,0,1-.28.36v1.25h1.8a.45.45,0,0,1,.26.08c.24.18.72.75.06,2.28l-.06.31a.41.41,0,0,1,.37.41L48.7,73.79a1.29,1.29,0,0,1-1,1.36v37.28a.54.54,0,0,1-.52.54l-33.34,1.1ZM1.82,108l10.69,5.28a2.6,2.6,0,0,0,1.28.28l33.34-1.1,0-37.79h.25a.84.84,0,0,0,.58-.26.79.79,0,0,0,.21-.6L46.87,50.69l-.54,0,.25-.93c.43-1,.33-1.57.12-1.73l-2.27,0V45.79h.28V3s0,0,0,0L11.26,1.8a.89.89,0,0,0-.32.08L1.79,7.17V9.23l.11,0V48.63l-.08.12Zm45-57.39Z')
  rect.cls-1-i(x='10.63' y='1.63' width='0.5' height='44.1')
  path.cls-1-i(d='M13.89,75.47A1.58,1.58,0,0,1,12.33,74l0-.48.49,0,0,.48a1.07,1.07,0,0,0,1.06,1h1.57l31.95-.29v.5Z')
  polygon.cls-1-i(points='46.87 50.69 11.88 50.19 11.89 49.69 46.69 50.19 46.87 50.69')
  path.cls-2-i(d='M8.86,48.42a.42.42,0,0,1-.26-.1A.41.41,0,0,1,8.46,48v-.42l3-.37v.89l-2.51.31Zm-.15-.61V48a.17.17,0,0,0,0,.12.21.21,0,0,0,.12,0l2.29-.28v-.38Z')
  path.cls-1-i(d='M12.62,73.8l-.11,0a.72.72,0,0,1-.59-.67l-1-21.65v0s.25-.78.3-1a.45.45,0,0,1,.31-.34l.36-.87a2.65,2.65,0,0,0,.22-1.32c-.2-.62.17-.76.19-.77l.09,0h.13l31,.39h2.5l.06.49H43.55l-31-.39a.45.45,0,0,0,0,.13,3.06,3.06,0,0,1-.24,1.67l-.49,1.2-.2,0a9.41,9.41,0,0,1-.25.94l1,21.55a.22.22,0,0,0,.17.21h.1Z')
