svg#hover(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 84 120')
  defs
    style.
      .cls-1{fill:#226c93;}.cls-2{fill:#9fb1c8;}
  title Premium
  rect.cls-1(x='10.1' y='1.35' width='0.25' height='50.38')
  path.cls-1(d='M14.42,49a2.14,2.14,0,1,1,2.14-2.13A2.14,2.14,0,0,1,14.42,49Zm0-3.77a1.64,1.64,0,1,0,1.64,1.64A1.64,1.64,0,0,0,14.42,45.27Z')
  path.cls-2(d='M14.42,48.36a1.46,1.46,0,1,1,1.46-1.45A1.46,1.46,0,0,1,14.42,48.36Zm0-2.66a1.21,1.21,0,1,0,1.21,1.21A1.21,1.21,0,0,0,14.42,45.7Z')
  rect.cls-1(x='10.77' y='76.91' width='0.5' height='33.5')
  rect.cls-1(x='12.03' y='77.32' width='0.25' height='33.29')
  path.cls-1(d='M4,55.21c.08,0,.14.12.14.27s-.06.27-.14.27-.13-.12-.13-.27.06-.27.13-.27M4,55c-.22,0-.38.22-.38.52S3.78,56,4,56s.39-.22.39-.52S4.23,55,4,55Z')
  path.cls-1(d='M7.09,55.16c.08,0,.14.12.14.26s-.06.27-.14.27S7,55.57,7,55.42s.07-.26.14-.26m0-.25c-.22,0-.39.21-.39.51s.17.52.39.52.39-.22.39-.52-.16-.51-.39-.51Z')
  rect.cls-2(x='8.28' y='53.32' width='0.25' height='0.72')
  polygon.cls-2(points='14.15 77.3 13.17 55.16 13.42 55.15 14.4 77.29 14.15 77.3')
  polygon.cls-2(points='14.64 77.3 13.66 55.16 13.91 55.15 14.89 77.29 14.64 77.3')
  polygon.cls-2(points='19.79 77.3 18.81 55.16 19.06 55.15 20.04 77.29 19.79 77.3')
  polygon.cls-2(points='20.28 77.3 19.3 55.16 19.55 55.15 20.53 77.29 20.28 77.3')
  polygon.cls-2(points='25.11 77.3 24.13 55.16 24.38 55.15 25.36 77.29 25.11 77.3')
  polygon.cls-2(points='25.6 77.3 24.62 55.16 24.87 55.15 25.85 77.29 25.6 77.3')
  polygon.cls-2(points='30.62 77.3 29.64 55.16 29.89 55.15 30.87 77.29 30.62 77.3')
  polygon.cls-2(points='31.11 77.3 30.13 55.16 30.38 55.15 31.36 77.29 31.11 77.3')
  polygon.cls-2(points='36.04 77.18 35.07 55.16 35.32 55.15 36.29 77.17 36.04 77.18')
  polygon.cls-2(points='36.53 77.18 35.56 55.16 35.81 55.15 36.78 77.17 36.53 77.18')
  polygon.cls-2(points='41.27 77.15 40.3 55.16 40.55 55.15 41.52 77.14 41.27 77.15')
  polygon.cls-2(points='41.76 77.15 40.79 55.16 41.04 55.15 42.01 77.14 41.76 77.15')
  polygon.cls-2(points='46.72 77.12 45.75 55.16 46 55.15 46.97 77.11 46.72 77.12')
  polygon.cls-2(points='47.21 77.11 46.24 55.16 46.49 55.15 47.46 77.1 47.21 77.11')
  polygon.cls-2(points='51.88 77.09 50.91 55.16 51.16 55.15 52.13 77.08 51.88 77.09')
  polygon.cls-2(points='52.37 77.08 51.4 55.16 51.65 55.15 52.62 77.07 52.37 77.08')
  polygon.cls-2(points='57.48 77.06 56.51 55.16 56.76 55.15 57.73 77.04 57.48 77.06')
  polygon.cls-2(points='57.97 77.06 57 55.16 57.25 55.15 58.22 77.04 57.97 77.06')
  polygon.cls-2(points='62.66 77 61.69 55.16 61.94 55.15 62.91 76.99 62.66 77')
  polygon.cls-2(points='63.15 77 62.18 55.16 62.43 55.15 63.4 76.99 63.15 77')
  polygon.cls-2(points='67.94 76.94 66.97 55.16 67.22 55.15 68.19 76.93 67.94 76.94')
  polygon.cls-2(points='68.43 77 67.46 55.16 67.71 55.15 68.68 76.99 68.43 77')
  polygon.cls-2(points='73.13 76.89 72.16 55.16 72.41 55.15 73.38 76.88 73.13 76.89')
  polygon.cls-2(points='73.62 76.88 72.65 55.16 72.9 55.15 73.87 76.87 73.62 76.88')
  polygon.cls-2(points='78.48 76.83 77.52 55.16 77.77 55.15 78.73 76.82 78.48 76.83')
  polygon.cls-2(points='78.97 76.83 78.01 55.16 78.26 55.15 79.22 76.81 78.97 76.83')
  path.cls-1(d='M79.74,53.18h-.5v-1l-5.15,0v-.5l5.14,0a.51.51,0,0,1,.51.51Z')
  path.cls-1(d='M80.54,53.7h-.25v-.39h-.83v-.25h.83a.26.26,0,0,1,.25.26Z')
  rect.cls-2(x='9.9' y='53' width='0.25' height='0.96')
  path.cls-1(d='M18.48,5l-6.11-.13V3.51h.13l6,.15Zm-5.86-.38,5.61.12V3.92l-5.61-.15Z')
  rect.cls-2(x='1.63' y='53.39' width='0.25' height='1.01')
  rect.cls-1(x='10.52' y='54.91' width='70.72' height='0.5')
  path.cls-1(d='M12.17,110.86a3.65,3.65,0,0,1-1.23-.21L1.79,107.4a.56.56,0,0,1-.38-.54V54.16l9.2-.27,0,.5-8.72.26v52.21a.08.08,0,0,0,.05.07l9.14,3.25a3.13,3.13,0,0,0,1.14.18l69.06-1.67V76.87h.5v31.81a.51.51,0,0,1-.5.51l-69,1.67Z')
  polygon.cls-1(points='79.49 53.3 56.64 53.28 9.53 53.13 9.53 52.88 56.64 53.03 79.49 53.05 79.49 53.3')
  path.cls-1(d='M1.5,53.65v-.26L1.44,6l0,0a.38.38,0,0,1-.19-.32V4.51a.4.4,0,0,1,.26-.37l7.79-3a.49.49,0,0,1,.24,0L74.28,2.54a.48.48,0,0,1,.47.48V52.17H74.5L9.78,52v1.46ZM1.94,5.46v.37L2,53.14,9.28,53V1.65L1.72,4.58v1Zm7.84,46,64.47.19V3L9.78,1.59ZM1.72,5.7Z')
  path.cls-1(d='M11.67,77.56a1,1,0,0,1-1-1L9.77,56.11a.67.67,0,0,1,.19-.5l.14-.13.16-1.35a.94.94,0,0,1,.93-.82h0l69.15.14.09-.06a.61.61,0,0,1,.3-.08H81a.62.62,0,0,1,.6.43,1.24,1.24,0,0,1,0,.22l0,.62a.68.68,0,0,1,0,.28l-.32.76a.55.55,0,0,1,.38.49l1.09,19.55a1.33,1.33,0,0,1-1.33,1.41H78.93l-21.09.23-46.16.26Zm-.48-23.75a.42.42,0,0,0-.43.38l-.19,1.54-.28.26a.25.25,0,0,0,0,.1l.86,20.45a.55.55,0,0,0,.55.52l46.16-.26,23.61-.23a.81.81,0,0,0,.6-.26.84.84,0,0,0,.23-.62L81.19,56.14a0,0,0,0,0,0,0,.4.4,0,0,1-.32-.17.38.38,0,0,1,0-.36l.36-.9a.13.13,0,0,0,0-.06l0-.62a.3.3,0,0,0,0-.1.11.11,0,0,0-.12-.08h-.26l-.25.14h-.07l-69.23-.14Zm70.07,1.95Z')
  path.cls-1(d='M11,77.31a1,1,0,0,1-.75-.39,2.26,2.26,0,0,1-.18-.94v0L9.37,56.25l.5-.54.22.13-.46.51L10.31,76a2.06,2.06,0,0,0,.15.81.78.78,0,0,0,.55.27Z')
  path.cls-1(d='M59.08,24.18H59l-12.74,0V24l.06-17.79h.13l12.73.24v.12Zm-12.61-.29,12.36,0,.06-17.22L46.53,6.48Z')
  path.cls-2(d='M58.39,23.54h-.12L47,23.51v-.13l0-6.76h.73l0-3h-.91v-.13l0-6.52,11.71.19v.12Zm-11.16-.28,10.92,0,.16-15.9-11.2-.18,0,6.15H48l0,3.51h-.73Z')
  polygon.cls-2(points='58.3 17.05 47.13 17.02 47.13 16.77 58.3 16.8 58.3 17.05')
  rect.cls-2(x='47.89' y='13.37' width='10.43' height='0.25')
  rect.cls-2(x='52.51' y='7.09' width='0.25' height='11.34' transform='translate(39.44 65.29) rotate(-89.53)')
  polygon.cls-2(points='58.33 12.1 46.97 12.02 46.97 11.77 58.33 11.85 58.33 12.1')
  polygon.cls-2(points='58.31 11.29 46.97 11.18 46.97 10.93 58.31 11.04 58.31 11.29')
  polygon.cls-2(points='58.31 10.46 46.97 10.35 46.98 10.1 58.32 10.21 58.31 10.46')
  polygon.cls-2(points='58.36 9.64 46.98 9.51 46.98 9.26 58.36 9.39 58.36 9.64')
  polygon.cls-2(points='58.36 8.81 46.98 8.68 46.98 8.43 58.36 8.56 58.36 8.81')
  polygon.cls-2(points='58.38 7.97 46.98 7.86 46.98 7.61 58.38 7.72 58.38 7.97')
  polygon.cls-2(points='58.34 16.23 47.86 16.18 47.86 15.93 58.34 15.98 58.34 16.23')
  rect.cls-2(x='52.97' y='10.01' width='0.25' height='10.48' transform='translate(37.44 68.23) rotate(-89.56)')
  polygon.cls-2(points='58.34 14.52 47.86 14.47 47.86 14.22 58.34 14.27 58.34 14.52')
  polygon.cls-2(points='58.27 22.85 47.11 22.82 47.11 22.57 58.27 22.6 58.27 22.85')
  polygon.cls-2(points='58.28 22.02 47.11 21.99 47.11 21.74 58.28 21.77 58.28 22.02')
  polygon.cls-2(points='58.28 21.19 47.11 21.16 47.11 20.91 58.28 20.94 58.28 21.19')
  polygon.cls-2(points='58.28 20.36 47.12 20.33 47.12 20.08 58.28 20.11 58.28 20.36')
  polygon.cls-2(points='58.28 19.54 47.12 19.5 47.12 19.25 58.28 19.29 58.28 19.54')
  polygon.cls-2(points='58.29 18.71 47.12 18.67 47.12 18.42 58.29 18.46 58.29 18.71')
  polygon.cls-2(points='58.29 17.88 47.12 17.84 47.12 17.59 58.29 17.63 58.29 17.88')
  polygon.cls-2(points='50.54 23.39 50.29 23.39 50.34 7.14 50.59 7.14 50.54 23.39')
  polygon.cls-2(points='55.3 23.41 55.05 23.41 55.1 7.16 55.35 7.16 55.3 23.41')
  path.cls-1(d='M72.5,24.22h-.13l-12.73,0v-.12l0-17.69h.13l12.73.14v.12Zm-12.61-.29,12.36,0,0-17.21L59.94,6.63Z')
  path.cls-2(d='M71.81,23.59h-.13l-11.28,0v-.13l0-6.75h.73l0-3h-.91v-.12l0-6.53L72,7.19v.12ZM60.65,23.3l10.91,0,.17-15.91-11.2-.17,0,6.14h.91l0,3.51h-.73Z')
  polygon.cls-2(points='71.71 17.09 60.54 17.06 60.54 16.81 71.71 16.84 71.71 17.09')
  rect.cls-2(x='61.3' y='13.41' width='10.43' height='0.25')
  rect.cls-2(x='65.93' y='7.13' width='0.25' height='11.34' transform='translate(52.7 78.75) rotate(-89.53)')
  polygon.cls-2(points='71.74 12.14 60.38 12.06 60.38 11.81 71.75 11.89 71.74 12.14')
  polygon.cls-2(points='71.73 11.33 60.39 11.22 60.39 10.97 71.73 11.08 71.73 11.33')
  polygon.cls-2(points='71.73 10.5 60.39 10.39 60.39 10.14 71.73 10.25 71.73 10.5')
  polygon.cls-2(points='71.77 9.68 60.39 9.55 60.39 9.3 71.77 9.43 71.77 9.68')
  polygon.cls-2(points='71.77 8.85 60.39 8.72 60.4 8.47 71.78 8.6 71.77 8.85')
  polygon.cls-2(points='71.8 8.02 60.4 7.9 60.4 7.65 71.8 7.76 71.8 8.02')
  polygon.cls-2(points='71.75 16.27 61.27 16.23 61.27 15.97 71.76 16.02 71.75 16.27')
  rect.cls-2(x='66.39' y='10.05' width='0.25' height='10.48' transform='translate(50.71 81.69) rotate(-89.56)')
  polygon.cls-2(points='71.75 14.56 61.28 14.51 61.28 14.26 71.76 14.31 71.75 14.56')
  polygon.cls-2(points='71.69 22.89 60.52 22.86 60.52 22.61 71.69 22.64 71.69 22.89')
  polygon.cls-2(points='71.69 22.07 60.52 22.03 60.52 21.78 71.69 21.82 71.69 22.07')
  polygon.cls-2(points='71.69 21.24 60.53 21.2 60.53 20.95 71.69 20.99 71.69 21.24')
  polygon.cls-2(points='71.7 20.41 60.53 20.37 60.53 20.12 71.7 20.16 71.7 20.41')
  polygon.cls-2(points='71.7 19.58 60.53 19.54 60.53 19.29 71.7 19.33 71.7 19.58')
  polygon.cls-2(points='71.7 18.75 60.54 18.71 60.54 18.46 71.7 18.5 71.7 18.75')
  polygon.cls-2(points='71.7 17.92 60.54 17.89 60.54 17.64 71.7 17.67 71.7 17.92')
  polygon.cls-2(points='63.95 23.43 63.7 23.43 63.76 7.18 64 7.18 63.95 23.43')
  polygon.cls-2(points='68.71 23.45 68.46 23.45 68.51 7.2 68.76 7.2 68.71 23.45')
  path.cls-1(d='M59.08,42.59H59l-12.74,0v-.13l.06-17.68H59.14v.13ZM46.47,42.3l12.36,0L58.89,25H46.53Z')
  path.cls-2(d='M58.39,42h-.12L47,41.92v-.13L47,35h.73l0-3h-.91v-.13l0-6.42H47l11.59-.06v.13Zm-11.16-.28,10.92,0,.17-16-11.21.06,0,6.05H48l0,3.51h-.73Z')
  polygon.cls-2(points='58.3 35.46 47.13 35.42 47.13 35.17 58.3 35.21 58.3 35.46')
  rect.cls-2(x='47.89' y='31.78' width='10.43' height='0.25')
  rect.cls-2(x='52.51' y='25.5' width='0.25' height='11.34' transform='translate(21.04 83.55) rotate(-89.53)')
  polygon.cls-2(points='58.33 30.5 46.97 30.43 46.97 30.18 58.33 30.25 58.33 30.5')
  polygon.cls-2(points='58.31 29.69 46.97 29.58 46.97 29.33 58.31 29.44 58.31 29.69')
  polygon.cls-2(points='58.31 28.87 46.97 28.75 46.98 28.5 58.32 28.62 58.31 28.87')
  polygon.cls-2(points='58.36 28.05 46.98 27.91 46.98 27.66 58.36 27.8 58.36 28.05')
  polygon.cls-2(points='58.36 27.22 46.98 27.09 46.98 26.84 58.36 26.97 58.36 27.22')
  polygon.cls-2(points='58.38 26.43 46.98 26.41 46.98 26.16 58.38 26.18 58.38 26.43')
  polygon.cls-2(points='58.34 34.64 47.86 34.59 47.86 34.34 58.34 34.39 58.34 34.64')
  rect.cls-2(x='52.97' y='28.42' width='0.25' height='10.48' transform='translate(19.03 86.5) rotate(-89.56)')
  polygon.cls-2(points='58.34 32.93 47.86 32.88 47.86 32.63 58.34 32.68 58.34 32.93')
  polygon.cls-2(points='58.27 41.26 47.11 41.22 47.11 40.97 58.27 41.01 58.27 41.26')
  polygon.cls-2(points='58.28 40.43 47.11 40.4 47.11 40.15 58.28 40.18 58.28 40.43')
  polygon.cls-2(points='58.28 39.6 47.11 39.57 47.11 39.32 58.28 39.35 58.28 39.6')
  polygon.cls-2(points='58.28 38.77 47.12 38.74 47.12 38.49 58.28 38.52 58.28 38.77')
  polygon.cls-2(points='58.28 37.94 47.12 37.91 47.12 37.66 58.28 37.69 58.28 37.94')
  polygon.cls-2(points='58.29 37.12 47.12 37.08 47.12 36.83 58.29 36.87 58.29 37.12')
  polygon.cls-2(points='58.29 36.29 47.12 36.25 47.12 36 58.29 36.04 58.29 36.29')
  polygon.cls-2(points='50.54 41.8 50.29 41.8 50.34 25.55 50.59 25.55 50.54 41.8')
  polygon.cls-2(points='55.3 41.82 55.05 41.82 55.1 25.56 55.35 25.56 55.3 41.82')
  path.cls-1(d='M72.5,42.63h-.13l-12.73,0v-.12l0-17.69h.13l12.73.14V25Zm-12.61-.29,12.36,0,0-17.21L59.94,25Z')
  path.cls-2(d='M71.81,42h-.13L60.4,42v-.13l0-6.76h.73l0-3h-.91v-.13l0-6.52L72,25.6v.12Zm-11.16-.28,10.91,0,.17-15.9-11.2-.18,0,6.15h.91l0,3.51h-.73Z')
  polygon.cls-2(points='71.71 35.5 60.54 35.47 60.54 35.22 71.71 35.25 71.71 35.5')
  rect.cls-2(x='61.3' y='31.82' width='10.43' height='0.25')
  rect.cls-2(x='65.93' y='25.54' width='0.25' height='11.34' transform='translate(34.3 97.01) rotate(-89.53)')
  polygon.cls-2(points='71.74 30.55 60.38 30.47 60.38 30.22 71.75 30.3 71.74 30.55')
  polygon.cls-2(points='71.73 29.74 60.39 29.63 60.39 29.38 71.73 29.49 71.73 29.74')
  polygon.cls-2(points='71.73 28.91 60.39 28.8 60.39 28.55 71.73 28.66 71.73 28.91')
  polygon.cls-2(points='71.77 28.09 60.39 27.96 60.39 27.71 71.77 27.84 71.77 28.09')
  polygon.cls-2(points='71.77 27.26 60.39 27.13 60.4 26.88 71.78 27.01 71.77 27.26')
  polygon.cls-2(points='71.8 26.42 60.4 26.31 60.4 26.06 71.8 26.17 71.8 26.42')
  polygon.cls-2(points='71.75 34.68 61.27 34.63 61.27 34.38 71.76 34.43 71.75 34.68')
  rect.cls-2(x='66.39' y='28.46' width='0.25' height='10.48' transform='translate(32.3 99.95) rotate(-89.56)')
  polygon.cls-2(points='71.75 32.97 61.28 32.92 61.28 32.67 71.76 32.72 71.75 32.97')
  polygon.cls-2(points='71.69 41.3 60.52 41.27 60.52 41.02 71.69 41.05 71.69 41.3')
  polygon.cls-2(points='71.69 40.47 60.52 40.44 60.52 40.19 71.69 40.22 71.69 40.47')
  polygon.cls-2(points='71.69 39.64 60.53 39.61 60.53 39.36 71.69 39.39 71.69 39.64')
  polygon.cls-2(points='71.7 38.81 60.53 38.78 60.53 38.53 71.7 38.56 71.7 38.81')
  polygon.cls-2(points='71.7 37.99 60.53 37.95 60.53 37.7 71.7 37.74 71.7 37.99')
  polygon.cls-2(points='71.7 37.16 60.54 37.12 60.54 36.87 71.7 36.91 71.7 37.16')
  polygon.cls-2(points='71.7 36.33 60.54 36.29 60.54 36.04 71.7 36.08 71.7 36.33')
  polygon.cls-2(points='63.95 41.84 63.7 41.84 63.76 25.59 64 25.59 63.95 41.84')
  polygon.cls-2(points='68.71 41.86 68.46 41.86 68.51 25.61 68.76 25.61 68.71 41.86')
  polygon.cls-2(points='1.72 5.81 1.71 5.54 9.28 2.61 9.28 2.88 1.72 5.81')
  path.cls-1(d='M77.85,115.65a6.2,6.2,0,0,1-1-.1l-.17,0L76,109.09l.5,0,.63,6a4.24,4.24,0,0,0,1.4,0l.59-6.14.5.05L79,115.5l-.17,0A3.37,3.37,0,0,1,77.85,115.65Z')
  path.cls-1(d='M77.9,117.31a5.31,5.31,0,0,1-.84-.08.26.26,0,0,1-.19-.25v-1.63h.5v1.42a3,3,0,0,0,.92,0v-1.44h.5V117a.25.25,0,0,1-.17.24A2.5,2.5,0,0,1,77.9,117.31Z')
  path.cls-1(d='M67.59,112.93a4.69,4.69,0,0,1-1-.12l-.17,0L66,109.33l.49,0,.3,3.08a3.69,3.69,0,0,0,1.34,0l.31-3.15.5,0-.35,3.49-.15,0A3,3,0,0,1,67.59,112.93Z')
  path.cls-1(d='M67.61,114.44a3.83,3.83,0,0,1-.89-.11.26.26,0,0,1-.19-.24v-1.48H67v1.28a3.06,3.06,0,0,0,1,0v-1.3h.5v1.48a.24.24,0,0,1-.15.23A2,2,0,0,1,67.61,114.44Z')
  path.cls-1(d='M12.56,117.28a5.07,5.07,0,0,1-1.16-.14l-.17,0-.69-6.74.5,0,.65,6.38a3.65,3.65,0,0,0,1.49,0l.62-6.17.5,0-.65,6.49-.14,0A2.53,2.53,0,0,1,12.56,117.28Z')
  path.cls-1(d='M12.45,118.92a2.29,2.29,0,0,1-.91-.18.24.24,0,0,1-.14-.23v-1.57h.5v1.4a1.93,1.93,0,0,0,1.08,0L13,117h.5l0,1.56a.24.24,0,0,1-.15.22A2.09,2.09,0,0,1,12.45,118.92Z')
  path.cls-1(d='M5.23,114.36a4.17,4.17,0,0,1-1.13-.17l-.16,0-.6-6.34.5,0,.56,6a2.94,2.94,0,0,0,1.39,0l.51-5,.49,0-.53,5.26-.13.06A2,2,0,0,1,5.23,114.36Z')
  path.cls-1(d='M5.11,116a3.44,3.44,0,0,1-.8-.1.27.27,0,0,1-.18-.24V114h.5v1.42a2.85,2.85,0,0,0,.93,0V114h.5v1.6a.25.25,0,0,1-.18.24A3.13,3.13,0,0,1,5.11,116Z')
