#cookies.hide
    div
      span Freeze! 
      | Usamos cookies en nuestro sitio web para una mejor experiencia de usuario. Si aceptas nuestro uso de cookies, continúa navegando.
    button 
        include ../../svg/okBtn.pug
.footer#contacto
    .container 
        .row.main
            .col-md-12.title
                .subtitulo-2.secondary-color 
                        | SIÉNTETE LIBRE 
                        .white-color Y CONTÁCTANOS
            .col-md-6.info.d-md-flex.flex-column
                .white-color.texto-2.d-none.d-md-block.mt-3 Teléfono: 
                    a(href="tel:8717172536")
                        | 871 717 2536
                .social 
                    ul 
                        li.fb
                            a(href="https://www.facebook.com/FABRICASDEHIELO" target="_blank") 
                                include ../../svg/icons/fb.pug
                .d-flex.d-md-block.align-items-baseline
                    .map 
                        include ../../svg/icons/maps.pug  
                        span.regular.font-16.white-color | &nbsp;  Torreón, Coahuila.
                    .text-end.d-sm-none.d-block.logo.ms-auto
                        a(href="index.html")
                            include ../../svg/logo.pug
                .white-color.texto-2.d-md-none.tel.mt-3 Teléfono: 
                    a(href="tel:8717172536")
                        | 871 717 2536
                
            
            .col-md-6.form 
                .texto-2.white-color.mt-md-0.mt-3 Nuestro equipo está listo para ayudarte.
                include ./form.pug

                //- form(action="")
                    .row
                        .col-md-12
                            input(type="text" name="mail" id="mail" placeholder="Correo electrónico*" required) 
                        .col-md-12
                            input(type="text" name="name" placeholder="Nombre*" id="name" required) 
                        .col-md-12
                            input(type="text" name="addr" id="addr" placeholder="Dirección") 
                        .col-md-6
                            input(type="text" name="city" id="city" placeholder="Ciudad*" required) 
                        .col-md-6
                            input(type="text" name="state" id="state" placeholder="Estado")
                        .col-md-12  
                            input(type="text" name="state" id="state" placeholder="Modelo")
                    .secondary-color.mt-2
                        .font-13.regular *Campos obligatorios
                    .row.send
                        .col-md-7.text-md-end.text-center
                            button(type="submit" value="ENVIAR").submit ENVIAR
                        .col-md-5.text-center.mt-md-0.mt-3
                            //- .font-15.semibold.white-color Tu solicitud ha sido enviada
        .row.align-items-end.bottom
            .col-md-6
                .regular.font-12.white-color Copyright 2021 HIELO FRÍO INTERNACIONAL. Torreón, Coahuila. México. 
                    br
                    | Distribuidor Autorizado Hoshizaki.
                .font-13.bold.white-color.mt-md-3.aviso
                    a(href="aviso-privacidad.html").white-color AVISO DE PRIVACIDAD Y COOKIES
            .col-md-6.text-end
                a(href="index.html").d-none.d-md-block
                    include ../../svg/logo.pug




link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300")
script(async src="/assets/js/app.js")

script.
    let cookies = document.getElementById("cookies");

    cookies.addEventListener("click", () => {
        cookies.classList.add("remove");
        cookies.remove();
        window.localStorage.setItem("cookies", true)
    })

    if(!window.localStorage.getItem("cookies")){
        cookies.classList.remove('hide');
    }

    if(window.localStorage.getItem("cookies")){
        cookies.remove()
    }