doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="robots" value="index, follow")
    meta(description="Somos una empresa con más de 25 años de experiencia equipando a más de 800 clientes con las mejores máquinas para la fabricación de hielo cristalino en Torreón, Coahuila.")
    meta(keywords="Acero, Agua, Ahorra, Almacena, Almacenar, Alto, Ambiente, Apoyo, Área, Arrendamiento, Atención, Autorizado, Bar, Bares, Barra, Barras, Básica, Bebida, Bebidas, Cafetería, Cafeterías, Calor, Capacidad, Catálogo, Cerveza, Cervezas, Coahuila, Cobertura, Compacto, Compra, Compromiso, Congelación, Congelado, Congelador, Congelados, Consumo, Cotización, Cotizaciones, Cristalino, Cubo, Depósito, Desempeño, Día, Diarios, Dimensiones, Dispensador, Distribuidor, Drenaje, Eléctrico, Energía, Enfriador, Enfriar, Equipo, Equipos, Espacio, Establecimiento, Evaporador, Expendio, Expendios, Express, Fácil, Food court, Freeze, Fresco, Fría, Frías, Frigorífico, Frío, Fríos, Habitaciones, Helada, Heladera, Helado, Hielera, Hieleras, Hielo, Hielos, Higiénico, Hoshizaki, Hotel, Hoteles, Húesped, Huespedes, Individual, Inoxidable, Instalación, Intermedia, Internacional, Inventario, KG, KGS, Kilos, Laguna, Limitado, Luna, Mantenimiento, Máquina, Máquinas, Mayor, Media, Medio, Mexicana, México, Modelo, Nacional, Nevera, Nivel, Noreste, Norte, País, Potable, Premium, Preparada, Preparadas, Producción, Purificado, Purificados, Reducido, Refacciones, Refrescante, Refrescar, Refrigerador, Regulación, Rendimiento, Renta, República, Requerimientos, Respuesta, Restaurante, Restaurantes, Sanitizado, Servicio, Servicios, Sistema, Suministro, Tamaño, Temperatura, Tiempo, Tipo, Torreón, Venta, Ventilada, Volumen, KM-1900SAJ-B-900SF, KM-660MAJ-B-300SF, KM-231BAJ, 35, 70, 120, 180, 300, 410, 900")
    title Hielo Frío
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css')
    link(rel="stylesheet" href="/assets/css/pages/index.css")
    script(src="/assets/js/tweenmax.min.js")
    script(src="/assets/js/scrollmagic.min.js")
    script(src="/assets/js/gsap.min.js")
    // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-104434743-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-104434743-1');
