svg#loader(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 58.93 64.16')
  path#uno(d='M58,48.18,33.93,35.52l-.74,20.27H31.8l-.74-20.25L7,48.19a1.55,1.55,0,0,0,0,2.73L31.77,64.39a1.55,1.55,0,0,0,1.48,0L58,50.9A1.54,1.54,0,0,0,58,48.18Z' transform='translate(-3.03 -0.42)' fill='#55bff0')
  path#dos(d='M61.16,14.29,36,.61A1.54,1.54,0,0,0,33.75,2V30.34L54,18.8,54.7,20l-20,13.16,25,13.1A1.55,1.55,0,0,0,62,44.88V15.64A1.54,1.54,0,0,0,61.16,14.29Z' transform='translate(-3.03 -0.42)' fill='#226c93')
  path#tres(d='M9.24,20l.71-1.2L31.27,30.44V2A1.55,1.55,0,0,0,29,.61L3.84,14.29A1.54,1.54,0,0,0,3,15.64V44.88A1.55,1.55,0,0,0,5.3,46.25L30.17,33.19Z' transform='translate(-3.03 -0.42)' fill='#4583a9')
