svg#Layer_1(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 30 33')
  defs
    style.
      .cls-1{fill:#4583a9;}.cls-2{font-size:15px;fill:#1c2f3b;font-family:'Gilam-Semibold';}
  title Artboard 1
  path.cls-1(d='M1.4,9.48v14a1.44,1.44,0,0,0,.72,1.25l12.16,7a1.43,1.43,0,0,0,1.44,0l12.16-7a1.44,1.44,0,0,0,.72-1.25v-14a1.44,1.44,0,0,0-.72-1.25l-12.16-7a1.43,1.43,0,0,0-1.44,0l-12.16,7A1.44,1.44,0,0,0,1.4,9.48Z')
  text.cls-2(transform='translate(6.36 21.76)') ok
