@mixin white-logo{
    .logo
        {
            .cls-1-logo, .cls-2-logo, .cls-3-logo{
            fill: white
        }
    }
}

@mixin buttons-cat {
    .buttons {
        margin-top: 50px;
        width: 100%;
        text-align: right;
        button {
            span
                {font-size: 16px;
                text-transform: uppercase;
                font-family: 'Gilam-Bold';
                color: white;
                opacity: 0;
                padding-bottom: 5px; }
            cursor: url("../../images/mas_on.svg"), auto;
            background: $gray;
            &:nth-child(2n)
              {  background: $bg}
            width: 200px;
            height: 200px;
            border: 0;
            padding: 20px 0 35px;
            transition: all 0.3s;
            &:first-child, &.basica{
                background: transparentize(#eaebed, 0.2);
                &.active, &:hover{
                    background: transparentize(#55bff0, 0.2 )
                }
            }
            &:nth-child(2), &.intermedia{
                background: transparentize(#eef1f3, 0.2);
                &.active, &:hover{
                    background: transparentize(#4583a9, 0.2 )
                }
            }
            &:nth-child(3), &.premium{
                background: transparentize(#eaebed, 0.2);
                &.active, &:hover{
                    background: transparentize(#226c93, 0.2 )
                }
            }
            svg
                {transition: all 0.3s}
            &:hover, &.active {
                span {opacity: 1}
                path, rect, polygon
                    {fill: white}
               
                }
            }
    }
}