svg#hover(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 26 26')
  defs
    style.
      .cls-1-ig{fill:#4583a9;}
  title Artboard 1
  g#_Group_(data-name='<Group>')
    path#_Compound_Path_.cls-1-ig(data-name='<Compound Path>' d='M17.5,24.6h-9a7.11,7.11,0,0,1-7.1-7.1v-9A7.11,7.11,0,0,1,8.5,1.4h9a7.11,7.11,0,0,1,7.1,7.1v9A7.11,7.11,0,0,1,17.5,24.6ZM8.5,3.14A5.37,5.37,0,0,0,3.14,8.5v9A5.37,5.37,0,0,0,8.5,22.86h9a5.37,5.37,0,0,0,5.36-5.36v-9A5.37,5.37,0,0,0,17.5,3.14Z')
    path#_Compound_Path_2.cls-1-ig(data-name='<Compound Path>' d='M13,18.87A5.87,5.87,0,1,1,18.87,13,5.87,5.87,0,0,1,13,18.87Zm0-10A4.09,4.09,0,1,0,17.09,13,4.1,4.1,0,0,0,13,8.91Z')
    circle#_Path_.cls-1-ig(data-name='<Path>' cx='19.51' cy='6.49' r='1.53' transform='translate(-0.1 0.3) rotate(-0.87)')
