svg#hover(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 27 23')
  defs
    style.
      .cls-1-tw{fill:#4583a9;}
  title Artboard 1
  path.cls-1-tw(d='M25.9,3.81a10.18,10.18,0,0,1-2.92.8,5.12,5.12,0,0,0,2.24-2.82A10.18,10.18,0,0,1,22,3a5.09,5.09,0,0,0-8.8,3.48,5.5,5.5,0,0,0,.13,1.16A14.42,14.42,0,0,1,2.83,2.35a5.05,5.05,0,0,0-.69,2.56A5.11,5.11,0,0,0,4.4,9.15a5.1,5.1,0,0,1-2.3-.64v.06a5.08,5.08,0,0,0,4.08,5,5,5,0,0,1-1.34.18,5,5,0,0,1-1-.09,5.1,5.1,0,0,0,4.75,3.53,10.16,10.16,0,0,1-6.32,2.18,9.71,9.71,0,0,1-1.21-.07,14.36,14.36,0,0,0,7.8,2.29A14.38,14.38,0,0,0,23.38,7.1c0-.22,0-.44,0-.66A10.24,10.24,0,0,0,25.9,3.81Z')
