.titulo-1
    font-size: 80px
    text-transform: uppercase
    line-height: 78px
    font-family: 'Gilam-Heavy'
    @media (max-width: 640px)
        font-size: 34pt
        line-height: 32pt

.subtitulo-1
    font-size: 31px
    letter-spacing: -0.03em
    font-family: 'Gilam-Bold'
    line-height: 36px
    @media (max-width: 640px)
        font-size: 21pt
        line-height: 22pt

.subtitulo-2
    font-size: 27px
    letter-spacing: .0em
    font-family: Gilam-Bold
    text-transform: uppercase
    line-height: 29px
    @media (max-width: 640px)
        line-height: 23pt
        font-size: 20pt

.subtitulo-3
    font-size: 24px
    letter-spacing: -0.03em
    font-family: "Gilam-Regular"
    strong
        font-family: "Gilam-Bold"
    @media (max-width: 640px)
        font-size: 15pt

.pie-1
    font-size: 18px
    font-family: 'Gilam-Semibold'
    @media (max-width: 640px)
        font-size: 12pt

.pie-2
    font-family: "Gilam-Semibold"
    font-size: 14px

.texto-2
    font-size: 18px
    font-family: "Gilam-Semibold"
    line-height: 20px
    @media (max-width: 640px)
        font-size: 13pt
        line-height: 17pt

.font-16
    font-size: 16px
    @media screen and ( max-width: 640px )
        font-size: 10pt

.font-13
    font-size: 13px
    @media screen and ( max-width: 640px )
        font-size: 9pt

.font-12
    font-size: 12px
    @media screen and ( max-width: 640px )
        font-size: 7pt

.font-15
    font-size: 15px
    @media screen and ( max-width: 640px )
        font-size: 13pt

.regular
    font-family: "Gilam-Regular"

.semibold
    font-family: "Gilam-Semibold"

.bold
    font-family: "Gilam-Semibold"

.primary-color
    color: $primary

.bright-color
    color: $bright-blue

.secondary-color
    color: $secondary

.white-color
    color: white

.premium-color
    color: $premium

body
    background-color: $light-gray
    font-size: 18px
    line-height: 24px 
    font-family: 'Gilam-Regular'
    color: $text
    @media (max-width: 640px)
        line-height: 16pt
        font-size: 13pt
        p  
            margin-bottom: 7pt

a:hover 
    color: $secondary

p
    margin-bottom: 11pt

.header-image
    width: 100%
    height: 100vh
    min-height: 500px
    background: #333
    video
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        object-fit: cover

.navbar 
    padding: 15px
    @media screen and ( min-width: 641px  )
        padding: 0px 18px
        padding-top: 18px
    position: fixed
    z-index: 9999
    width: 100%
    top: 0
    a 
        max-width: 250px
        width: 100%

.logo 
    max-width: 120px
    width: 100%
    @media screen and ( min-width: 641px  )
        max-width: 190px
    svg 
        path, rect, polygon
            transition: 0.3s all ease-in-out
    &.open
        svg
            path, rect, polygon
                fill: $secondary

.menu
    button
        padding: 10px
        width: 50px
        border: 0
        background: transparent
        *
            transition: all 0.3s ease-in-out
        &.open
            &:before
                transform: rotate(-45deg)
                
            &:after
                transform: rotate(45deg)
                margin-top: -7px
        &:after
            content: ""
            display: block
            width: 32px
            height: 2px
            transition: all 0.3s ease-in-out
            background: white
        &:before
            content: ""
            display: block
            width: 32px
            height: 2px
            transition: all 0.3s ease-in-out
            background: white
            margin-bottom: 5px
#logo
    transition: all 0.3s ease-in-out
    &.active
        opacity: 0
        transform: translateY(-100%)
#menu-expanded
    opacity: 0
    background: transparentize($dark-blue, 0 )
    position: fixed
    top: 0
    left: 100%
    width: 100%
    height: 100%
    transition: all 0.3s ease-in-out
    &.open
        opacity: 1
        z-index: 99
        left: 0
    ul
        position: absolute
        opacity: 0
        right: 0
        text-align: right
        padding-right: 200px
        transition-delay: 0.3s all
        transition: all 0.5s ease-in-out
        transform: translateY(-20%)
        li
            list-style-type: none
        @media screen and ( max-width: 640px)
            padding-right: 80px
            line-height: 1em
        @include buttons-cat
        .buttons
            width: auto
            margin-top: 15px
            margin-bottom: 20px
            margin-right: -200px
            button
                cursor: pointer
                width: 170px
                height: 170px
                &:first-child
                    background: transparentize(#eaebed, 0.2)
                    &.active, &:hover
                        background: transparentize(#55bff0, 0.2 )
                &:nth-child(2)
                    background: transparentize(#eef1f3, 0.2)
                    &.active, &:hover
                        background: transparentize(#4583a9, 0.2 )
                &:nth-child(3)
                    background: transparentize(#eaebed, 0.2)
                    &.active, &:hover
                        background: transparentize(#226c93, 0.2 )
        button span    
            margin-top: -15px
            display: block
        button svg 
            transition: all .3s
            width: 100%
            height: 100%
            object-fit: contain
        &.open
            opacity: 1
            top: 50%
            transform: translateY(-50%)
        .titulo-1 
            color: $gray
            font-family: 'Gilam-Semibold'
            font-size: 65px
            @media screen and ( max-width: 640px)
                display: block
                font-size: 40pt
                line-height: 1em
                .buttons 
                    margin-right: -166px
                    margin-left: 45px
                    button 
                        cursor: pointer
                        width: 80%
                        height: 120px
                        padding: 5px
                        display: block
                        display: flex
                        text-align: left
                        align-items: center
                        flex-direction: row
                        justify-content: space-between
                        svg
                            padding: 15px
                        span 
                            opacity: 1
                            color: $primary
                            padding: 0
                            padding-bottom: 0
                            line-height: 2em
                            margin-bottom: auto
                            margin-top: auto
                            flex-grow: 1
                            display: block
                            width: 100%              
            a
                color: $gray
                &:hover 
                    color: $secondary

.slides-horizontal
    .slide
        height: 100vh
        min-height: 480px
    &.home-slides
        #titulo_CatalogHome
            line-height: 1.3em
        .slide
            padding: 120px 0 0
            height: auto
            min-height: auto
            @media (min-width: 641px)
                .info > div:first-child
                    min-height: 300px
        #image_CatalogHome 
            max-height: 530px
            margin: 0 auto
            transition: all 0.3s ease-in-out
        .hide
            display: none
        #mas
            background: transparent
            width: 64px
            border: 0
            display: flex
            margin-right: 15px
            &:hover
                svg
                    transform: scale(1.2)
                    path, polygon, rect
                        fill: $secondary
            svg
                transition: all 0.3s ease-in-out
                width: 100% 
    
    .image
    .info
        height: 100%
        div 
            transition: all 0.3s ease-in-out
    @include buttons-cat
    svg
        object-fit: contain
        width: 100%
        height: 100%

.grid
    @media screen and ( min-width: 641px  )
        display: flex
    .grid-element
        height: 320px
        width: 100px
        flex-grow: 1
        @media screen and ( min-width: 641px  )
            background: $bg
        padding: 45px 35px 25px
        position: relative
        transition: all 0.3s
        
        .text
            text-transform: uppercase
            width: 100%
            text-align: center
            color: white
            opacity: 0
            height: 0px
            overflow: hidden
            line-height: 1.1em
            margin-top: 13px
            transition: all 0.3s ease-in-out
        @media screen and ( min-width: 641px  )
            &:nth-child(2n)
                background: $gray
        &:hover
            @media screen and ( min-width: 641px  )
                width: 300px
                .text
                    opacity: 1
                    bottom: 15px
                    height: auto
                background: $opaque-blue
                #hover
                    path, polygon, rect
                        fill: white
        svg
            transition: all 0.3s
            width: 100%
            height: 100%
            object-fit: contain
        .icon
            transition: all 0.3s
            text-align: center
            box-sizing: border-box
            width: 85%
            height: 85%
            margin: 0 auto
        @media screen and ( max-width: 641px  )
            width: 100%
            // background-image: url(../../images/mas.svg)
            background-repeat: no-repeat
            background-size: 35px
            background-position-x: 85%
            background-position-y: 40px
            
            path, polygon, rect
                fill: white
            &:first-child, &:last-child
                background-color: $premium
            &:nth-child(2)
                background-color: $primary
            &:nth-child(3)
                background-color: $secondary
            .text
                opacity: 1
                height: auto
                margin-top: 13px
        
    

.descanso
    overflow-x: hidden
    height: auto
    padding: 80px 15px
    @media (min-width: 641px)
        padding: 150px 0
    @media (max-width: 640px)
        p
            padding-right: 35px
    .row
        height: auto
        min-height: auto
    i 
        overflow-wrap: break-word

.list
    list-style: none
    margin-bottom: 50px
    li
        margin-bottom: 25px
        position: relative
    li::before 
        content: ""
        background: url(../../images/Punto_AP.svg)
        border-radius: 15px
        font-weight: bold
        display: inline-block
        width: 15px
        height: 15px
        top: 4px
        position: absolute
        margin-left: -31px

.footer
    background: $dark-blue
    min-height: 600px
    padding: 50px 35px 0

    @media screen and ( min-width: 641px  )
        padding: 80px 0
    .main
        min-height: 400px
        .form 
            align-self: flex-end
            .send
                margin-top: 50px
            input
                outline: none
                color: white
                background: transparent
                border: 0
                border-bottom: 1px solid $secondary
                padding-top: 15px
                font-size: 12pt
                width: 100%
                &:placeholder
                    color: white
            &> div.texto-2 
                margin-bottom: 15px
                @media screen and ( min-width: 641px )    
                    margin-bottom: 20px
    .info
        .subtitulo-2
            margin-bottom: 35px
        .social
            margin-top: auto
        .map
            margin-top: 25px
            svg
                margin-right: 10px
                width: 23px
            a:hover span
                transition: all 0.3s
                color: $secondary
            @media screen and ( min-width: 641px  )
                svg
                    width: 18px
        svg
            width: 24px
            @media screen and ( min-width: 641px  )
                width: 25px
            path
                transition: all 0.3s ease-in-out
        .social
            @media screen and ( max-width: 640px  )
                margin-top: 120px
            ul
                list-style: none
                padding: 0
                margin: 0
                li
                    margin-right: 15px
                    display: inline-block
                    &:hover
                        svg
                            path
                                fill: $secondary
    .bottom
        line-height: 1em
        margin-top: 80px
        padding-bottom: 35px
        svg
            max-width: 150px
            path
                fill: $opaque-blue
    button[type="submit"]
        background: $opaque-blue
        color: $dark-blue
        padding: 2px 15px
        border: 0
        font-size: 12px
        @media screen and ( min-width: 641px  )
            font-size: 15px
            
        transition: all 0.3s ease-in-out
        font-family: "Gilam-Semibold"
        &:hover
            background-color: $bright-blue
    @media screen and ( max-width: 640px  )
        .title
            order: -1
        .form 
            order: 0
        .info
            order: 2
        .logo
            order: 3
            width: auto
            flex-grow: 1
            svg
                width: 110px
                path, rect, polygon
                    fill: $secondary
        .bottom 
            margin-top: 35px
        .aviso
            margin-top: 35px
        .tel
            font-size: 15pt
            margin-top: 15px
#show-cursor
    overflow: hidden
    cursor: none
    .info:hover
        .mas
            width: 70px
            height: 70px
            transform: scale(1.2)
            path, polygon, rect
                fill: $secondary


    
.mas 
    width: 50px
    height: 50px
    overflow: visible
    border: 0
    position: absolute
    transform: translate(-50%, -50%) scale(0)
    transition: width 0.3s ease-in-out, fill 0.3s ease-in-out, transform 0.3s ease-in-out, top 0.1s, left 0.1s
    &.active
        opacity: 1
        transform: translate(-50%, -50%) scale(1)
    &.highlight
        width: 70px
        height: 70px
        transform: translate(-50%, -50%) scale(1.2)
        path, polygon, rect
            fill: $secondary

@media (max-width: 640px)
    .slides-horizontal
        &.home-slides
            .slide
                padding-bottom: 0
                min-height: auto
                #mas 
                    width: 45px
                    svg
#fullpage
    .section
        width: 100%
        height: 100%
        
    .descanso
        .subtitulo-2
            margin-bottom: 45px


#fadeLeft, #fadeRight, #fadeDown
    opacity: 0
    transition: all 1s ease-in-out
    &.active
        opacity: 1

#fadeDown
    transform: translateX(-100px)
    &.active
        transform: translateY(0)

#fadeLeft
    transform: translateX(-50px)
    &.active
        transform: translateX(0)
#fadeRight
    transform: translateX(50px)
    &.active
        transform: translateX(0)
